<% if @grade.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

	<ul>
		<% @grade.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<% if not @submit.url.blank? %>
<div class="form-group">
	<label for="" class="control-label">Link</label>
	<p class="form-control-static">
		<%= link_to @submit.url, @submit.url %>
	</p>
</div>
<% end %>

<div class="form-group">
	<span class="pull-right" data-toggle="tooltip" title="Use bullets * to separate points. Use `backticks` to insert code."><%= fa_icon 'question-circle'%></span>
	<label for="grade_comments" class="control-label">Focus points </label>
	<%= f.text_area :comments, class: 'form-control', rows: 10, autofocus:true %>
</div>
	
<div class="form-group">
	<label for="grade_notes" class="control-label">Internal notes </label>
	<%= f.text_area :notes, class: 'form-control', rows: 3 %>
</div>

<div id="grade-boxes" class="d-flex">
	<% if @submit.pset.config && @submit.pset.config['subgrades'] %>
	<% @submit.pset.config['subgrades'].each do |subgrade_name, subgrade_type| %>
	<% if subgrade_type == 'integer' || subgrade_type == 'float' %>
	<div class="form-group flex-fill">
		<label for="input_<%= subgrade_name %>" class="control-label ml-1 mb-0"><%= subgrade_name.capitalize %><% if @submit.automatic[subgrade_name] %>(<%= @submit.automatic[subgrade_name] %>)<% end %></label>
		<input type="text" class="form-control form-control-sm" id="input_<%= subgrade_name %>" name="grade[subgrades[<%= subgrade_name %>]]" placeholder="" value="<%= @grade.subgrades[subgrade_name] if @grade.subgrades %>">
	</div>
	<% elsif subgrade_type == 'boolean' %>
	<div class="form-group">
		<div class="checkbox">
			<label>
				<%= hidden_field_tag "grade[subgrades[#{subgrade_name}]]", 0 %>
				<%= check_box_tag "grade[subgrades[#{subgrade_name}]]", -1, @grade.subgrades && @grade.subgrades[subgrade_name] && !@grade.subgrades[subgrade_name].zero? %> <%= subgrade_name.capitalize %>
			</label>
		</div>
	</div>
	<% end %>
	<% end %>
	<% end %>
</div>
			
<% if current_user.admin? || not(@submit.pset.config && @submit.pset.config['subgrades'] && @submit.pset.config['calculation']) %>
<div class="form-group">
	<label for="grade_grade" class="control-label">Grade
		<% if current_user.admin? && @grade.calculated_grade %>(<%= @grade.calculated_grade %>)<% end %>
	</label>
	<div class="input-group">
		<%= f.text_field :grade, class: 'form-control form-control-sm', value: @grade.grade %>
		<span class="input-group-append">
			<button class="btn btn-light btn-sm" type="button" id="pass-btn"><small>PASS</small></button>
			<button class="btn btn-light btn-sm" type="button" id="fail-btn"><small>FAIL</small></button>
		</span>
	</div>
</div>
<% end %>
	
<% if Settings["course"]["feedback_templates"] %>
<div class="form-group">
	<% Settings["course"]["feedback_templates"].each do |f, c| %>
	<%= link_to f.humanize, templatize_grade_path(id: @submit.id, type: f), method: :put, class: "btn btn-light", data: { confirm: "This will insert automatic feedback, sure? \n\n" + c["explanation"] } %>
	<% end if Settings["course"]["feedback_templates"] %>
</div>
<% end %>
