<table id="grade-table" class="table table-condensed">

	<tr>
		<th>Active</th>
		<th>Done</th>
		<th>Name</th>
		<th>ID</th>
		<% @psets.each do |pset| %>
		<th><%= pset.name %></th>
		<% end %>
	</tr>

	<% users.each do |user| %>
	<tr>
		<td><%= check_box_tag "active#{user.id}", 'yes', user.active, :onclick => "$.post('/grades/enable', { id:'#{user.id}', active:$(this).is(':checked') });" %></td>
		<td><%= check_box_tag "done#{user.id}", 'yes', user.done, :onclick => "$.post('/grades/done', { id:'#{user.id}', done:$(this).is(':checked') });" %></td>
		<td>
			<% if user.mail %>
			<%= link_to user.name, 'mailto:' + user.mail %>
			<% else %>
			<%= user.name %>
			<% end %>
		</td>
		<td><%= user.uvanetid %></td>
		<% @psets.each do |pset| %>
		<td>
			<% if submitted = user.submit(pset) %>
				<% if submitted.grade and not submitted.grade.grade.blank? %>
				<%= link_to "#{submitted.grade.grade}", edit_submit_grade_url(submit_id: submitted.id), class: 'btn btn-primary btn-xs' %>
				<% else %>
				<%= link_to 'sub', new_submit_grade_url(submit_id: submitted.id), class: 'btn btn-default btn-xs' %>
				<% end %>
			<% else %>
				<%= link_to 'no', grades_create_submit_url(user_id: user.id, pset_id: pset.id), method: :post, class:'btn btn-default btn-xs auto-hide', confirm:'Would you like to enter a grade for this unsubmitted pset?' %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>

</table>
