<div class="d-flex h-100 flex-column">

	<div class="">
		<span class="navbar-text">
			<%= @pset.name %> <%= t(:by) %> <%= @user.name %> <%= "/ #{@submit.used_login}" if @submit %>
			<span class="badge badge-dark"><%= @grade.status %></span><br>
			Grading by <%= @grade.grader_name %>
		</span>
		
	</div>
	
	<div class="pull-right">
		<% @grade.subgrades.each_pair do |k,v| %>
		<%= v %> /
		<% end %>
		<% if current_user.senior? %>
		<strong><%= translate_grade(@grade.any_final_grade) %></strong>
		<% end %>
	</div>

	
	
	<% if @submit and not @submit.url.blank? %>
	<div class="form-group">
		<label for="" class="control-label">Link</label>
		<p class="form-control-static">
			<%= link_to @submit.url, @submit.url %>
		</p>
	</div>
	<% end %>

	<div class="form-group">
		<%= simple_markdown(@grade.comments) %>
	</div>
	
	<% if current_user.admin? %>
	<div class="form-group">
		<label for="inputPassword3" class="control-label">Calculated grade</label>
		<div class="input-group">
			<p class="form-control-static"><%= @grade.calculated_grade %></p>
		</div>
	</div>
	<% end %>

	<div class="form-group d-flex mt-auto">
		<% if current_user.senior? %>
		<%= link_to "Re-open", grade_path(submit_id: @submit.id, grade: { status: :open }), method: :put, data: { confirm: "Sure?" }, class: 'btn btn-secondary' %>
		
		<% if current_user.admin? %>
		<%= link_to "Destroy", submit_path(id: @submit.id, referer: request.referer), method: :delete, data: { confirm: "Sure? This removes proof of student submitting. If you want to delete the grade, just empty text field and save the grade." }, class: 'btn btn-secondary ml-1' if @submit %>
		<% end %>
		<%= link_to_if @submit.grade && @submit.grade.persisted?, "Publish", grade_path(submit_id: @submit.id, grade: { status: :published }), method: :put, data: { confirm: "Sure?" }, class: 'btn btn-secondary ml-1' do "" end %>
		<% end %>
	</div>
	
</div>
