<p>
	<span class="badge badge-secondary pull-right"><%= @grade.status %></span>
	Grading <%= t(:by) %> <%= @grade.grader_name %> / 
	First graded <%= @submit.first_graded %> /
	Last graded <%= @submit.last_graded %>
</p>