		<h1><%= @pset.name %><br><small> by <%= @user.name %> <%= "/ #{@submit.used_login}" if @submit %> <span class="label label-primary"><%= @grade.status %></span></small></h1>

<%= form_for([ @submit, @grade ], url: submit_grade_path, method: :put) do |f| %>
<%= hidden_field_tag :referer, params[:referer] || request.referer %>

<div class="row" style="display:flex">
	<div class="col-xs-12 col-sm-8" style="background-color:white">

		<% if @grade.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

			<ul>
				<% @grade.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>


		<div class="form-horizontal">

			<div class="form-group">
				<label for="" class="col-sm-3 control-label">Latest submit</label>
				<div class="col-sm-9">
					<p class="form-control-static">
						<% if @submit and @submit.submitted_at %>
						<%= @submit.submitted_at.to_formatted_s(:short) %> (<%= time_ago_in_words(@submit.submitted_at) %> ago)
						<% else %>
						never
						<% end %>
					</p>
				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-3 control-label">First graded</label>
				<div class="col-sm-9">
					<p class="form-control-static">
						<% if @grade.persisted? %>
						<%= @grade.created_at.to_formatted_s(:short) %> (<%= time_ago_in_words(@grade.created_at) %> ago)
						by <%= @grade.grader.name if @grade.grader %>
						<br>
						Last changed: <%= time_ago_in_words(@grade.updated_at) %> ago
						<% else %>
						never
						<% end %>
					</p>
				</div>
			</div>

			<% if @submit and not @submit.url.blank? %>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label">Link</label>
				<div class="col-sm-9">
					<p class="form-control-static">
						<%= link_to @submit.url, @submit.url %>
					</p>
				</div>
			</div>
			<% end %>

			<div class="form-group">
				<label for="" class="col-md-3 control-label">Focus points</label>
				<div class="col-md-9">
					<%= f.text_area :comments, class: 'form-control', rows: 15 %>
					<span id="helpBlock" class="help-block">Use bullets <code>*</code> to separate points. Use <code>`</code>backticks<code>`</code> to insert code.</span>
				</div>
			</div>

			<% if @grading_definition && @grading_definition['subgrades'] %>
			<% @grading_definition['subgrades'].each do |subgrade_name, subgrade_type| %>
			<% if subgrade_type == 'integer' %>
			<div class="form-group">
				<label for="input_<%= subgrade_name %>" class="col-sm-3 control-label"><%= subgrade_name.capitalize %></label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="input_<%= subgrade_name %>" name="grade[subgrades[<%= subgrade_name %>]]" placeholder="" value="<%= @grade.subgrades[subgrade_name] if @grade.subgrades %>">
				</div>
			</div>
			<% elsif subgrade_type == 'boolean' %>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label>
							<%= check_box_tag "grade[subgrades[#{subgrade_name}]]", true, @grade.subgrades && @grade.subgrades[subgrade_name] %> <%= subgrade_name.capitalize %>
						</label>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
			<% end %>
			
			<% if current_user.assistant? && not(@grading_definition && @grading_definition['subgrades'] && @grading_definition['calculation']) %>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">Grade</label>
				<div class="col-sm-9">
					<div class="input-group">
						<%= f.text_field :grade, class: 'form-control', value: @grade.grade %>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" id="pass-btn">P</button>
							<button class="btn btn-default" type="button" id="fail-btn">F</button>
						</span>
					</div>
				</div>
			</div>
			<% end %>

			<% if current_user.admin? %>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">Calculated grade</label>
				<div class="col-sm-9">
					<div class="input-group">
						<p class="form-control-static"><%= @grade.calculated_grade %></p>
					</div>
				</div>
			</div>
			<% end %>
			
			<hr>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<% if current_user.admin? || @grade.open? %>
					<%= f.submit class: 'btn btn-primary form-control' %>
					<% end %>
				</div>
			</div>

		</div>
	</div>

	<div class="col-xs-12 col-sm-4">
		<% @grades.each do |grade| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= grade.submit.pset.name %>
				<div class="pull-right">
					<% grade.subgrades.each_pair do |k,v| %>
					<%= v %> /
					<% end %>
					<% if current_user.admin? %>
					<strong><%= translate_grade(grade.any_final_grade) %></strong>
					<% end %>
				</div>
			</div>
			<div class="panel-body">
				<%= simple_markdown(grade.comments) %>
			</div>
		</div>
		<% end %>
	</div>

</div>
	
<% end %>

<% if current_user.senior? and @submit %>
<hr>
<p>
<% if current_user.admin? %>
<%= link_to "Destroy submit completely", submit_path(id: @submit.id, referer: request.referer), method: :delete, data: { confirm: "Sure? This removes proof of student submitting. If you want to delete the grade, just empty text field and save the grade." }, class: 'btn btn-danger' if @submit %>
<% end %>
<%= link_to_if @submit.grade && @submit.grade.persisted?, "Publish this grade now", submit_grade_path(submit_id: @submit.id, grade: { status: :published }), method: :put, data: { confirm: "Sure?" }, class: 'btn btn-default' do "" end %>
</p>
<% end %>
