<% content_for :navbar_items do %>
<% end %>

<div class="col-2 px-0 py-0" style="background-color:#F9FCFF; overflow-y:scroll; min-height:0 ">
	<ul class="nav flex-column">
		<% @submits.each do |submit| %>
		<li class="nav-item">
			<%= link_to "#{submit.user.name}<br>#{submit.pset.name} <span class='badge badge-secondary pull-right'>#{submit.grade.status if submit.grade}</span>".html_safe, submit_grade_path(submit_id: submit.id), class: 'nav-link' %>
		</li>
		<% end %>
	</ul>
</div>

<div class="col-3 pt-2" style="background-color:white; overflow-y:scroll; min-height:0 ">
	
	<%= form_for([ @submit, @grade ], url: submit_grade_path, method: :put, html: { class: 'grade-form' }) do |f| %>
	<%= hidden_field_tag :referer, params[:referer] || request.referer %>
	
	<div class="d-flex h-100 flex-column">

	<div class="">
		<span class="navbar-text">
		<%= @pset.name %> by <%= @user.name %> <%= "/ #{@submit.used_login}" if @submit %>
		<span class="badge badge-dark"><%= @grade.status %></span>
		</span>
		
	</div>
	

		<% if @grade.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

			<ul>
				<% @grade.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<!--
			<div class="form-group">
			<label for="" class="control-label">Latest submit</label>
			<p class="form-control-static">
			<% if @submit and @submit.submitted_at %>
			<%= @submit.submitted_at.to_formatted_s(:short) %> (<%= time_ago_in_words(@submit.submitted_at) %> ago)
			<% else %>
			never
			<% end %>
			</p>
			</div>

			<div class="form-group">
			<label for="" class="control-label">First graded</label>
			<p class="form-control-static">
			<% if @grade.persisted? %>
			<%= @grade.created_at.to_formatted_s(:short) %> (<%= time_ago_in_words(@grade.created_at) %> ago)
			by <%= @grade.grader.name if @grade.grader %>
			<br>
			Last changed: <%= time_ago_in_words(@grade.updated_at) %> ago
			<% else %>
			never
			<% end %>
			</p>
			</div>
		-->

			<% if @submit and not @submit.url.blank? %>
			<div class="form-group">
				<label for="" class="control-label">Link</label>
				<p class="form-control-static">
					<%= link_to @submit.url, @submit.url %>
				</p>
			</div>
			<% end %>

			<div class="form-group">
				<span class="pull-right" data-toggle="tooltip" title="Use bullets * to separate points. Use `backticks` to insert code."><%= fa_icon 'question-circle'%></span>
				<label for="grade_comments" class="control-label">Focus points </label>
				<%= f.text_area :comments, class: 'form-control', rows: 10, autofocus:true %>
			</div>
	
			<div id="grade-boxes" class="d-flex">
				<% if @grading_definition && @grading_definition['subgrades'] %>
				<% @grading_definition['subgrades'].each do |subgrade_name, subgrade_type| %>
				<% if subgrade_type == 'integer' %>
				<div class="form-group">
					<label for="input_<%= subgrade_name %>" class="control-label ml-1 mb-0"><%= subgrade_name.capitalize %></label>
					<input type="text" class="form-control form-control-sm" id="input_<%= subgrade_name %>" name="grade[subgrades[<%= subgrade_name %>]]" placeholder="" value="<%= @grade.subgrades[subgrade_name] if @grade.subgrades %>">
				</div>
				<% elsif subgrade_type == 'boolean' %>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<%= check_box_tag "grade[subgrades[#{subgrade_name}]]", true, @grade.subgrades && @grade.subgrades[subgrade_name] %> <%= subgrade_name.capitalize %>
						</label>
					</div>
				</div>
				<% end %>
				<% end %>
				<% end %>
			</div>
			
			<% if current_user.admin? || not(@grading_definition && @grading_definition['subgrades'] && @grading_definition['calculation']) %>
			<div class="form-group">
				<label for="grade_grade" class="control-label">Grade</label>
				<div class="input-group">
					<%= f.text_field :grade, class: 'form-control form-control-sm', value: @grade.grade %>
					<span class="input-group-append">
						<button class="btn btn-default btn-sm" type="button" id="pass-btn">Pass</button>
						<button class="btn btn-default btn-sm" type="button" id="fail-btn">Fail</button>
					</span>
				</div>
			</div>
			<% end %>

			<% if current_user.admin? %>
			<div class="form-group">
				<label for="inputPassword3" class="control-label">Calculated grade</label>
				<div class="input-group">
					<p class="form-control-static"><%= @grade.calculated_grade %></p>
				</div>
			</div>
			<% end %>

			<div class="form-group d-flex mt-auto">
				<% if current_user.admin? || @grade.open? %>
				<%= f.submit 'Save', class: 'btn btn-primary form-control' %>
				<% end %>
				<% if current_user.senior? and @submit %>
				<% if current_user.admin? %>
				<%= link_to "Destroy", submit_path(id: @submit.id, referer: request.referer), method: :delete, data: { confirm: "Sure? This removes proof of student submitting. If you want to delete the grade, just empty text field and save the grade." }, class: 'btn btn-secondary ml-1' if @submit %>
				<% end %>
				<%= link_to_if @submit.grade && @submit.grade.persisted?, "Publish", submit_grade_path(submit_id: @submit.id, grade: { status: :published }), method: :put, data: { confirm: "Sure?" }, class: 'btn btn-secondary ml-1' do "" end %>
				<% end %>
			</div>
	
		</div>
		
		<% end %>
	
	
		<% @grades.each do |grade| %>
		<hr>
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= grade.submit.pset.name %>
				<div class="pull-right">
					<% grade.subgrades.each_pair do |k,v| %>
					<%= v %> /
					<% end %>
					<% if current_user.admin? %>
					<strong><%= translate_grade(grade.any_final_grade) %></strong>
					<% end %>
				</div>
			</div>
			<div class="panel-body">
				<%= simple_markdown(grade.comments) %>
			</div>
		</div>
		<% end %>
	</div>

<div class="col-7" style="background-color:black; overflow-y:scroll; min-height:0">
	<% if @submit.url.present? %>
	<iframe src="<%= @submit.url %>" class="w-100 h-100 m-0"></iframe>
	<% end %>
</div>

	
<script>
$('[data-toggle="tooltip"]').tooltip();
</script>
