<h1>Listing grades</h1>

<table>
  <tr>
    <th>Submit</th>
    <th>Grader</th>
    <th>Scope</th>
    <th>Correctness</th>
    <th>Design</th>
    <th>Style</th>
    <th>Comments</th>
    <th>Grade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grades.each do |grade| %>
  <tr>
    <td><%= grade.submit.pset.name %></td>
    <td><%= grade.grader %></td>
    <td><%= grade.scope %></td>
    <td><%= grade.correctness %></td>
    <td><%= grade.design %></td>
    <td><%= grade.style %></td>
    <td><%= grade.comments %></td>
    <td><%= grade.grade %></td>
    <td><%= link_to 'Show', grade %></td>
    <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
    <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade', new_grade_path %>
