<p id="notice"><%= notice %></p>

<p>
  <b>Submit:</b>
  <%= @grade.submit %>
</p>

<p>
  <b>Grader:</b>
  <%= @grade.grader %>
</p>

<p>
  <b>Scope:</b>
  <%= @grade.scope %>
</p>

<p>
  <b>Correctness:</b>
  <%= @grade.correctness %>
</p>

<p>
  <b>Design:</b>
  <%= @grade.design %>
</p>

<p>
  <b>Style:</b>
  <%= @grade.style %>
</p>

<p>
  <b>Comments:</b>
  <%= @grade.comments %>
</p>

<p>
  <b>Grade:</b>
  <%= @grade.grade %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
