<table id="grade-table" class="table table-sm table-striped table-responsive">

	<tr>
		<th>Name</th>
		<th>Grade</th>
	</tr>

	<% @data.each do |grader, grades| %>
	<tr>
		<th><%= grader.name if grader %></th>
	</tr>
	<% grades.group_by(&:user).each do |user,grades|%>
	<tr>
		<td>
			<a href="#" class="" data-toggle="modal" data-target="#user-modal" data-user="<%= user.id %>"><%= user.name %></a>
		</td>
		
		<% grades.each do |s| %>
		<td>
			<%= s.pset_name %><br>
			<%= link_to s.any_final_grade, "#", data: { toggle: "modal", target: "#grade-modal", submit:s.id }, class: "btn" %>
		</td>
		<% end %>
	</tr>
	<% end %>
	<% end %>

</table>

<%= render partial: "grade_modal" %>
