<%= form_with(model: @note) do |f| %>

<% if @note.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@note.errors.count, "error") %> prohibited this alert from being saved:</h2>

	<ul>
		<% @note.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="mb-3">
	<%= f.text_area :text, class: 'form-control', rows: 3, required:true %>
</div>

<div class="mt-3 actions clearfix">
	<%= link_to 'Cancel', @note, class: 'btn btn-sm btn-secondary'%>
	<%= f.submit class: 'btn btn-sm btn-primary float-right' %>
</div>

<% end %>
