<% if hand.helpline %><span class="glyphicon glyphicon-phone-alt text-danger"></span><% end %>
<%= hand.user.name %> / <strong><%= hand.subject %></strong>
<% if !Schedule.many? || hand.user.group %>
<span class="pull-right badge badge-secondary" style="<%= get_colors_for_text(hand.user.group.name) %>"><%= hand.user.group.name %></span>
<% elsif hand.user.schedule %>
<span class="pull-right badge badge-secondary" style="<%= get_colors_for_text(hand.user.schedule.name) %>"><%= hand.user.schedule.name %></span>
<% end %>
<br>
<small>in line for <%= time_ago_in_words(hand.created_at) %> @ <%= hand.location %></small>
