<% if not @my_hands.any? || @hands.any? || @long_time_users.any? %>
<h5 class="text-center my-5">No requests. Go and find<br> a student to talk to!</h5>
<% end %>

<div class="list-group my-3">

	<% if @my_hands.any? %>
	<% @my_hands.each do |hand| %>
	<%= link_to({controller: 'hands', action: 'show', id: hand.id}, class: 'list-group-item active') do %>
	<span class="badge"><%= hand.location %></span>
	<% if hand.helpline %><span class="glyphicon glyphicon-phone-alt text-danger"></span><% end %>
	<%= hand.user.name %>
	<% if hand.user.group %>
		(<%= hand.user.group.name %>)
	<% else %>
		<span class="label label-default"><%= hand.user.schedule && hand.user.schedule.name %></span>
	<% end %>
	<br>
	<small>Asked a question <%= time_ago_in_words(hand.created_at) %> ago</small>
	<% end %>
	<% end %>
	<% end %>


	<% @hands.each do |hand| %>
	<%= link_to({controller: 'hands', action: 'show', id: hand.id}, class: 'list-group-item') do %>
	<span class="badge"><%= hand.location %></span>
	<% if hand.helpline %><span class="glyphicon glyphicon-phone-alt text-danger"></span><% end %>
	<%= hand.user.name %>
	<% if hand.user.group %>
		(<%= hand.user.group.name %>)
	<% else %>
		<span class="label label-default"><%= hand.user.schedule && hand.user.schedule.name %></span>
	<% end %>
	<br>
	<small class="text-danger">Asked a question <%= time_ago_in_words(hand.created_at) %> ago</small>
	<% end %>
	<% end %>


	<% if @long_time_users.any? %>

	<% @long_time_users.each do |user| %>
	<%= link_to({controller: 'hands', action: 'student', id: user.id}, class: 'list-group-item') do %>
	<span class="badge"><%= user.last_known_location if not user.last_known_location.blank? %></span>
	<%= user.name %>
	<% if user.group %>
		(<%= user.group.name %>)
	<% else %>
		<span class="label label-default"><%= user.schedule && user.schedule.name %></span>
	<% end %>
	<br>
	<small class="text-warning">
		<% if user.last_spoken_at.blank? %>A new student: give them a warm welcome!
		<% else %>
		Last spoken <%= time_ago_in_words(user.last_spoken_at) unless user.last_spoken_at.blank? %> ago
		<% end %>
	</small>
	</a>
	<% end %>
	<% end %>

	<% end %>

</div>
