<h1>Hands</h1>

<% if @my_hands.any? %>

<div class="row">
	<div class="col-sm-12">
		<%= form_tag({controller: 'hands', action: 'done'}, method: :post) do %>
		<table class="table">
			<tr>
				<th>name</th><th></th>
				<th>location</th>
				<th>last seen</th><th>asked</th>
				<th></th>
			</tr>
			<% @my_hands.each do |hand| %>
			<tr>
				<td><%= hand.user.name %></td>
				<td><%= hand.help_question %></td>
				<td><%= hand.location %></td>
				<td><%= time_ago_in_words(hand.user_last_seen) unless hand.user_last_seen.blank? %></td>
				<td><%= time_ago_in_words(hand.created_at) %></td>
				<td><button type="submit" class="btn btn-error" name="which" value="<%= hand.id %>">Done!</button></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</div>
</div>

<% end %>

<h2>All hands</h2>

<div class="row">
	<div class="col-sm-12">
		<%= form_tag({controller: 'hands', action: 'dib'}, method: :post) do %>
		<table class="table">
			<tr>
				<th>name</th><th></th>
				<th>location</th>
				<th>last seen</th><th>asked</th>
				<th></th>
			</tr>
			<% @hands.each do |hand| %>
			<tr>
				<td><%= hand.user.name %></td>
				<td><%= hand.help_question %></td>
				<td><%= hand.location %></td>
				<td><%= time_ago_in_words(hand.user_last_seen) %></td>
				<td><%= time_ago_in_words(hand.created_at) %></td>
				<td><button type="submit" class="btn" name="which" value="<%= hand.id %>">Dibs!</button></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</div>
</div>
