<div class="col-md-12">
<h4>
<% if @hand.helpline %><span class="glyphicon glyphicon-phone-alt text-danger"></span><% end %>
<%= @hand.user.name %><% if @hand.user.group %> (<%= @hand.user.group.name %>)<% end %>
<% if @hand.done %>
<span class="badge pull-right">done</span>
<% end %>
<br>
<small><%= @hand.location or "no location" %>, <%= time_ago_in_words(@hand.created_at) %> ago</small>
</h4>

<p><%= @hand.help_question or "No question was entered, even if this would be impossible." %></p>

<% if @hand.assist.blank? %>

<p><%= button_to("I'll take this one", {controller: 'hands', action: 'dib', which: @hand.id}, method: :post, class: 'btn btn-primary btn-block') %></p>
			
<p><%= button_to('Student not found, remove.', {controller: 'hands', action: 'done', id: @hand.id, success: false}, method: :post, class: 'btn btn-default btn-block', data: { confirm: 'Sure to delete?' })%></p>

<p><%= button_to("Back to list", {controller: 'hands', action: 'index'}, method: :get, class: 'btn btn-default btn-block' ) %></p>

<% else %>

<%= form_tag(controller: :hands, action: :done, success: true, id: @hand.id) do %>

<p><textarea class="form-control" rows="4" placeholder="Anything to report about this student?" name="note"></textarea></p>

<p>Moodmeter:</p>
		
<p>
	<div class="btn-group btn-group-justified" data-toggle="buttons">
		<label class="btn btn-primary">
			<input type="radio" name="evaluation" value="😄" id="option1" autocomplete="off"> 😄
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="evaluation" value="🙂" id="option2" autocomplete="off"> 🙂
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="evaluation" value="😓" id="option2" autocomplete="off"> 😓
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="evaluation" value="😔" id="option3" autocomplete="off"> 😔
		</label>
	</div>
</p>

<p><button type="submit" class="btn btn-primary btn-block">I'm done with this one</button></p>

<p><%= link_to('Student not found, remove.', {controller: 'hands', action: 'done', id: @hand.id, success: false}, method: :post, class: 'btn btn-warning btn-block', data: { confirm: 'Sure to delete?' })%></p>

<p><%= link_to('I can\'t answer the question immediately, student needs helpline.', { controller: 'hands', action: 'helpline', id: @hand.id }, method: :post, class: 'btn btn-danger btn-block', data: { confirm: 'Are you sure that someone is available for extra help?' })%></p>


<% end %>

<% end %>
</div>