<div id="content" class="container">

	<header class="page-header">
		<h1>Dropbox</h1>
	</header>

	<p>
		<% if @dropbox_linked %>
		Dropbox is currently connected.
		<% else %>
		There is no Dropbox connection.
		<% end %>
	</p>
	
	<%= form_tag(action: 'set_root_folder') do %>
		<%= text_field_tag 'folder', Settings['dropbox.root_folder'], required: true %>
		<%= submit_tag 'Change', class:'btn' %>
	<% end %>
	
	<%= form_tag({ action: "connect" }) do %>
		<%= submit_tag 'Connect', class:'btn' %>
	<% end %>

</div>
