<table id="grade-table" class="table table table-striped table-responsive">

	<tr>
		<th>Name</th>
		<th>Submitted</th>
	</tr>

	<% users.each do |group, user_list|%>
	<tr><td colspan="20"><%= group ? "#{group.name} (#{user_list.size})" : "Groupless" %></td></tr>

	<% user_list.each do |user| %>
	<tr <%= 'class=table-warning' if user.stagnated? %>>
		<td>
			<!-- <%= link_to user.name, user_path(user) %> -->
			<%= user.name %>
			<% if user.last_known_location %>
			<span class="fa fa-location-arrow" aria-hidden="true" data-toggle="tooltip" title="<%= user.last_known_location %>"></span>
			<% end %>
		</td>
		
		<td><%= time_ago_in_words(user.last_submitted_at) if user.last_submitted_at %></td>


<% 
	subs = user.submits.group_by(&:pset_id)
	#subs = @student.grades_cache || [] 
%>

<% @overview.each do |name, psets| %>

	<td style="padding-left:1em; padding-right:1em;"><strong><%= name.humanize %></strong></td>
	
	<% psets.each do |name| %>
	<td><%= grade_button(user, @grouped_psets[name][0], subs, false)%></td>
	<% end %>

<% end %>

	</tr>
	<% end %>

	<% end %>

</table>
