<div style="background-color:white; padding:1em; border-left:1px solid #dddddd; border-bottom:1px solid #dddddd; border-right:1px solid #dddddd;">

	<table id="grade-table" class="table table-condensed">

		<tr>
			<th>Name</th>
			<th></th>
			<th>Attend</th>
			<th class="rotate">Spoken</th>
			<th class="rotate">Status</th>
			<% psets.each do |pset| %>
			<th class="rotate"><div><%= pset.name %></div></th>
			<% end %>
			<th>Group</th>
		</tr>

		<% users.each do |group, user_list|%>
		<tr><td colspan="20"><%= group ? "#{group.name} (#{user_list.size})" : "Groupless" %></td></tr>

		<% user_list.each do |user| %>
		<tr>
			<td>
				<%= link_to user.name, student_path(user) %>
				<% if user.notes.present? %>
				<span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="<%= user.notes %>"></span>
				<% end %>
			</td>
			
			<td>
				<% if user.mail %>
				<%= link_to '📧', 'mailto:' + user.mail %>
				<% end %>
			</td>
        
			<td><span class="bar"><%= user.attendance %></span></td>
			
			<td><%= user.questions_count_cache %></td>
			
			<td><%= best_in_place(user, :status, as: :select, collection: { '0' => '-', '1' => '<span class="text-success">excellent</span>'.html_safe, '2' => '<span class="text-success">okay</span>'.html_safe, '3' => '<span class="text-warning">hard times</span>'.html_safe, '4' => '<span class="text-danger">struggling</span>'.html_safe }) %></td>

			<% subs = @submits[user.id] ? @submits[user.id].group_by(&:pset_id) : [] %>
			<% psets.each do |pset| %>
			<td>
				<%= grade_button(user, pset, subs)%>
			</td>
			<% end %>

			<td><%= user.group.name if user.group %></td>

		</tr>
		<% end %>

		<% end %>

	</table>

	<p>
		<% if current_user.admin? %>
		<%= link_to '<i class="glyphicon glyphicon-ok"></i> Publish what\'s done'.html_safe, students_mark_all_public_path(pset: params[:pset], group: params[:group]), method: 'post', class: 'btn btn-default', data: { confirm:'Are you sure?' } %>
		<% end %>
		<%= link_to '<i class="glyphicon glyphicon-user"></i> Import Users'.html_safe, admin_import_path, class:'btn btn-default' %>
		<%= link_to '<i class="glyphicon glyphicon-th"></i> Export Grades for Excel'.html_safe, admin_export_grades_path(format: 'xls'), class:'btn btn-default' %>
		<%= link_to '<i class="glyphicon glyphicon-print"></i> Dump Grades for archiving'.html_safe, admin_dump_grades_path, class:'btn btn-default' %>
		<%= link_to '<i class="glyphicon glyphicon-briefcase"></i> Statistics'.html_safe, admin_stats_path, class:'btn btn-default' %>
		<% if GradeTools.available? %>
		<%= link_to '<i class="glyphicon glyphicon-modal-window"></i> Calculate final grades'.html_safe, students_assign_final_grade_path, method: :put, class: 'btn btn-default', data: { confirm:'Are you sure?' } %>
		<% end %>
	</p>

</div>

<script type="text/javascript">
$(".bar").sparkline('html', { type: 'bar', chartRangeMax: 4, barWidth: 8 });
</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
