<div style="background-color:white; padding:1em; border-left:1px solid #dddddd; border-bottom:1px solid #dddddd; border-right:1px solid #dddddd;">

	<table id="grade-table" class="table table-condensed">

		<tr>
			<th>Name</th>
			<th>ID</th>
			<th>Attend</th>
			<% psets.each do |pset| %>
			<th class="rotate"><div><%= pset.name %></div></th>
			<% end %>
			<% if false %>
			<th>
				<form method="get" accept-charset="utf-8">
					<%= select_tag :term, 
					options_from_collection_for_select(User.select("distinct term"), :term, :term, selected:params[:term]),
					onchange: 'this.form.submit();' %>
					<%= hidden_field_tag "status", params[:status] %>
				</form>
			</th>
			<th>
				<form method="get" accept-charset="utf-8">
					<%= hidden_field_tag "term", params[:term] %>
					<%= select_tag :status, 
					options_from_collection_for_select(User.select("distinct status"), :status, :status, selected:params[:status]),
					onchange: 'this.form.submit();' %>
				</form>
			</th>
			<% end %>
			<th class="rotate"></th>
		</tr>

		<% users.each do |user| %>
		<tr>
			<td>
				<%= best_in_place user, :name, as: :input, url: course_change_user_name_path(id: user.id) %>
			</td>

			<td>
				<% if user.mail %>
				<%= link_to user.logins.first.login, 'mailto:' + user.mail %>
				<% else %>
				<%= user.logins.first.login %>
				<% end %>
			</td>
        
			<td><span class="bar"><%= user.attendance %></span></td>

			<% subs = user.submits.group_by(&:pset_id) %>
			<% psets.each do |pset| %>
			<td>
				<%= grade_button(user, pset, subs)%>
			</td>
			<% end %>

			<td>
				<div class="pull-right">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-flash"></span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<% @groups.each do |group| %>
							<li <%= 'class=disabled' if user.group_id == group.id %> ><%= link_to "Move to #{group.name}".html_safe, user_assign_group_path(user_id: user.id, group_id: group.slug), method: :post %></li>
							<% end %>
							<li role="separator" class="divider"></li>
							<% if user.active? %>
							<li><%= link_to 'Mark as inactive', user_path(id: user.id, user: { active: false }), method: :put %></li>
							<% else %>
							<li><%= link_to 'Mark as active', user_path(id: user.id, user: { active: true }), method: :put %></li>
							<% end %>
						</ul>
					</div>
				</div>


			</td>
		</tr>
		<% end %>

	</table>


<p>
	<% if current_user.is_admin? %>
	<%= link_to '<i class="glyphicon glyphicon-ok"></i> Publish what\'s done'.html_safe, course_mark_all_public_path(pset: params[:pset], group: params[:group]), method: 'post', class: 'btn btn-default', data: { confirm:'Are you sure?' } %>
	<% end %>
	<%= link_to '<i class="glyphicon glyphicon-user"></i> Import Users'.html_safe, admin_import_path, class:'btn btn-default' %>
	<%= link_to '<i class="glyphicon glyphicon-th"></i> Export Grades for Excel'.html_safe, admin_export_grades_path, class:'btn btn-default' %>
	<%= link_to '<i class="glyphicon glyphicon-print"></i> Dump Grades for archiving'.html_safe, admin_dump_grades_path, class:'btn btn-default' %>
	<%= link_to '<i class="glyphicon glyphicon-briefcase"></i> Statistics'.html_safe, admin_stats_path, class:'btn btn-default' %>
	<% if GradeTools.available? %>
	<%= link_to '<i class="glyphicon glyphicon-modal-window"></i> Calculate final grades'.html_safe, course_assign_final_grade_path, method: :put, class: 'btn btn-default', data: { confirm:'Are you sure?' } %>
	<% end %>
</p>

</div>

<script type="text/javascript">
$(".bar").sparkline('html', { type: 'bar', chartRangeMax: 4, barWidth: 8 });
</script>
