<ul class="nav nav-tabs" style="margin-top:1em;">
	<li <%= 'class="active"'.html_safe if action_name == 'index' %>>
		<%= link_to "Active (#{@active_count})", students_path %>
	</li>
	<li <%= 'class="active"'.html_safe if action_name == 'list_inactive' %>>
		<%= link_to "Inactive (#{@inactive_count})", students_in_inactive_path %>
	</li>
	<li <%= 'class="active"'.html_safe if action_name == 'list_admins' %>>
		<%= link_to "Admins (#{@admin_count})", students_in_admins_path %>
	</li>
</ul>
