<ul class="nav nav-tabs" style="margin-top:1em;">
	<% @groups.each_with_index do |group,i| %>
	<li <%= 'class="active"'.html_safe if params[:group] == group.slug %>>
		<%= link_to "#{group.name} (#{@group_counts[group.id]})", students_path(group:group.slug) %>
	</li>
	<% end if @groups %>
	<li <%= 'class="active"'.html_safe if action_name == 'list_other' %>>
		<%= link_to "Other (#{@groupless_count})", students_other_path %>
	</li>
	<li <%= 'class="active"'.html_safe if action_name == 'list_inactive' %>>
		<%= link_to "Inactive (#{@inactive_count})", students_inactive_path %>
	</li>
	<li <%= 'class="active"'.html_safe if action_name == 'list_admins' %>>
		<%= link_to "Admins (#{@admin_count})", students_admins_path %>
	</li>
</ul>
