<table class="table table-bordered table-condensed">

	<tr>
		<th>Name</th>
		<th>ID</th>
		<% @psets.each do |pset| %>
		<th><%= pset.name %></th>
		<% end %>
	</tr>

	<% users.each do |user| %>
	<tr>
		<td>
			<% if user.mail %>
			<%= link_to user.name, 'mailto:' + user.mail %>
			<% else %>
			<%= user.name %>
			<% end %>
		</td>
		<td><%= user.uvanetid %></td>
		<% @psets.each do |pset| %>
		<td>
			<% if submitted = user.submit(pset) %>
			<% if submitted.grade and not submitted.grade.grade.blank? %>
			<%= link_to "#{submitted.grade.grade}", edit_grade_url(id: submitted.id) %>
			<% else %>
			<%= link_to 'sub', edit_grade_url(id: submitted.id) %>
			<% end %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>

</table>
