<div id="content" class="container">

	<header class="page-header">
		<h1>Admins</h1>
	</header>

	<b>Admins</b>
	
	<%= form_tag({ action: "admins" }, method: :post) do %>
	<div class="form-group">
		<div class="col-10">
			<textarea id="inputAdmins" name="admins" class="form-control" style="height:10em;"><%= @admins %></textarea>
			<%= submit_tag 'Save', class:'btn' %>
		</div>
	</div>
	<% end %>

	<b>Assistants</b>

	<%= form_tag(admin_assistants_url, method: :post) do %>
	<div class="form-group">
		<div class="col-10">
			<textarea id="inputAdmins" name="assistants" class="form-control" style="height:10em;"><%= @assistants %></textarea>
			<%= submit_tag 'Save', class:'btn' %>
		</div>
	</div>
	<% end %>
	
</div>
