<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Grade dump</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<style type="text/css" media="screen">
		table.grades
		{
			background-color:white;
		}
		
		table.grades tr td:nth-child(-n+4)
		{
			white-space:nowrap;
		}
	</style>
</head>
<body>

	<div class="container">

	<% @students.each do |s| %>
		<% if s.submits.any? %>
		<table class="table table-condensed grades">
			<tr>
				<th><%= s.name %> (<%= s.login_id %>)</th>
				<th>pset</th>
				<th>grade</th>
				<th>subgrades</th>
				<th>comments</th>
			</tr>
			<% s.submits.each do |sub| %>
			<tr>
				<td></td>
				<td><%= sub.pset.name if sub.pset.present? %><br><small><%= sub.created_at %></small></td>
				<% if sub.grade.present? %>
				<td><%= sub.grade.grade %><br><small><%= sub.grade.updated_at %> (<%= sub.grade.grader %>)</small></td>
				<td><%= sub.grade.scope %> / <%= sub.grade.correctness %> / <%= sub.grade.design %> / <%= sub.grade.style %></td>
				<td><%= simple_markdown(sub.grade.comments) %></td>
				<% else %>
				<td colspan="3">not graded</td>
				<% end %>
			</tr>
			<% end %>
		</table>
		<% end %>
	<% end %>
	
	</div>

</body>
