
<h1>Current schedule</h1>

<p>Select the current position in the schedule.</p>

<% @schedules.each do |schedule| %>
<h2>
	<%= check_box_tag('self_register', '1', schedule.self_register, id: schedule.id, class: 'toggle-self-register') %>
	<%= schedule.name %>
</h2>

<% schedule.schedule_spans.each do |item| %>
<p>
	<%= radio_button_tag( schedule.id, item.id, item == schedule.current, id: "#{schedule.name}#{item.id}", class: 'set-schedule') %> <%= label_tag "#{item.id}", item.name, for: "#{schedule.name}#{item.id}" %>
</p>
<% end %>
<p><%= radio_button_tag( schedule.id, 0, nil == schedule.current, id: "#{schedule.name}0", class: 'set-schedule') %> <%= label_tag "(hide schedule)", "(hide schedule)", for: "#{schedule.name}0" %></p>
<% end %>

<script type="text/javascript" charset="utf-8">
$('.toggle-self-register').bind('change', function(a) {
    var z = a;
	$.ajax({
		url: "<%= admin_schedule_set_self_register_path %>?id=" + a.currentTarget.id,
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'PUT',
		data: {
			schedule: { 'self_register': $(a.currentTarget).prop('checked') }
		}
	});
});
</script>

<script type="text/javascript" charset="utf-8">
$('.set-schedule').bind('change', function(a) {
    var z = a;
	$.ajax({
		url: "<%= admin_set_schedule_path %>?schedule=" + a.currentTarget.name + "&item=" + a.currentTarget.value,
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'POST'
	});
});
</script>

<h2>Published pages</h2>

<p>Check the pages that should be visible to all users.</p>

<% @all_sections.each do |section| %>
<p><%= check_box_tag('display', '1', section.display, id: section.id, class: 'toggle-display') %> <strong><%= section.title %></strong></p>
<% section.pages.each do |page| %>
<p>
	<%= check_box_tag('public', '1', page.public, id: page.id, class: 'toggle-public') %> <%= page.title %>
</p>
<% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
$('.toggle-public').bind('change', function(a) {
	$.ajax({
		url: "<%= admin_page_update_path %>?id=" + a.currentTarget.id,
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'PUT',
		data: {
			page: { 'public': $(a.currentTarget).prop('checked') }
		}
	});
});

$('.toggle-display').bind('change', function(a) {
	$.ajax({
		url: "<%= admin_section_update_path %>?id=" + a.currentTarget.id,
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'PUT',
		data: {
			page: { 'display': $(a.currentTarget).prop('checked') }
		}
	});
});
</script>
