
<h1>Current schedule</h1>

<p>Select the current position in the schedule.</p>

<% @schedules.each do |schedule| %>
<p>
	<%= radio_button_tag("public", '1', schedule.id == @schedule_position.id, id: schedule.id, class: 'toggle-public') %> <%= label_tag "#{schedule.id}", schedule.name %>
</p>
<% end %>
<p><%= radio_button_tag("public", '1', !@schedule_position.persisted?, id: nil, class: 'toggle-public') %> <%= label_tag "(hide schedule)", "(hide schedule)" %></p>

<script type="text/javascript" charset="utf-8">
$('.toggle-public').bind('change', function(a) {
    var z = a;
	$.ajax({
		url: "<%= admin_set_schedule_path %>?id=" + a.currentTarget.id,
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'POST'
	});
});
</script>

<h2>Published pages</h2>

<p>Check the pages that should be visible to all users.</p>

<% @all_sections.each do |section| %>
<p><%= check_box_tag('display', '1', section.display, id: section.id, class: 'toggle-display') %> <strong><%= section.title %></strong></p>
<% section.pages.each do |page| %>
<p>
	<%= check_box_tag('public', '1', page.public, id: page.id, class: 'toggle-public') %> <%= page.title %>
</p>
<% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
$('.toggle-public').bind('change', function(a) {
	$.ajax({
		url: "<%= admin_page_update_path %>?id=" + a.currentTarget.id,
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'PUT',
		data: {
			page: { 'public': $(a.currentTarget).prop('checked') }
		}
	});
});

$('.toggle-display').bind('change', function(a) {
	$.ajax({
		url: "<%= admin_section_update_path %>?id=" + a.currentTarget.id,
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'PUT',
		data: {
			page: { 'display': $(a.currentTarget).prop('checked') }
		}
	});
});
</script>
