<table id="grade-table" class="table table-condensed">

	<tr>
		<th>Name</th>
		<th>ID</th>
		<% psets.each do |pset| %>
		<th><%= pset.name %></th>
		<% end %>
		<% if track %>
		<th>
			<form method="get" accept-charset="utf-8">
				<%= select_tag :term, 
						options_from_collection_for_select(Registration.select("distinct term"), :term, :term, selected:params[:term]),
						include_blank: true,
						onchange: 'this.form.submit();' %>
				<%= hidden_field_tag "status", params[:status] %>
			</form>
		</th>
		<th>
			<form method="get" accept-charset="utf-8">
				<%= hidden_field_tag "term", params[:term] %>
				<%= select_tag :status, 
						options_from_collection_for_select(Registration.select("distinct status"), :status, :status, selected:params[:status]),
						include_blank: true,
						onchange: 'this.form.submit();' %>
			</form>
		</th>
		<% end %>
	</tr>

	<% users.each do |user| %>
	<% subs = user.submits.group_by(&:pset_id); submitted = false %>
	<tr>
		<td>
			<% if user.mail %>
			<%= link_to user.name, 'mailto:' + user.mail %>
			<% else %>
			<%= user.name %>
			<% end %>
		</td>
		<td><%= user.uvanetid %></td>
		<% psets.each do |pset| %>
		<td>
			<% if subs[pset.id] %>
				<% submitted = subs[pset.id][0] %>
				<% if submitted.grade and not submitted.grade.grade.blank? %>
				<%= link_to "#{submitted.grade.grade}", grade_form_path(user_id: user.id, pset_id: pset.id), class: "btn btn-xs btn-block #{0 <= submitted.grade.grade && submitted.grade.grade < 5.5 ? 'btn-danger':'btn-success'}" %>
				<% else %>
				<%= link_to 'sub', grade_form_path(user_id: user.id, pset_id: pset.id), class: 'btn btn-default btn-xs btn-block' %>
				<% end %>
			<% else %>
				<%= link_to 'no', grade_form_path(user_id: user.id, pset_id: pset.id), class:'btn btn-default btn-xs btn-block auto-hide', confirm:'Would you like to enter a grade for this unsubmitted pset?' %>
			<% end %>
		</td>
		<% end %>
		<% if track and r = user.registrations.where(track_id:track.id).first %>
		<td><%= best_in_place r, :term, type: :input, path: registration_path(id: r.id) %></td>
		<td><%= best_in_place r, :status, type: :input, path: registration_path(id: r.id) %></td>
		<% end %>
		<td>
		<%= link_to_if track && !submitted, '<span class="glyphicon glyphicon-trash"></span>'.html_safe, course_remove_student_path(student_id: user.uvanetid, track_id: track), method: :post, confirm: "Sikker?" do "" end %>
		</td>
		
	</tr>
	<% end %>

</table>
