<table id="grade-table" class="table table-condensed table-">

	<tr>
		<th>Active</th>
		<th>Name</th>
		<th>ID</th>
		<% psets.each do |pset| %>
		<th><%= pset.name %></th>
		<% end %>
	</tr>

	<% users.each do |user| %>
	<% subs = user.submits.group_by(&:pset_id)%>
	<tr>
		<td><%= check_box_tag "active#{user.id}", 'yes', user.active, :onclick => "$.post('/course/enable', { id:'#{user.id}', active:$(this).is(':checked') });" %></td>
		<td>
			<% if user.mail %>
			<%= link_to user.name, 'mailto:' + user.mail %>
			<% else %>
			<%= user.name %>
			<% end %>
		</td>
		<td><%= user.uvanetid %></td>
		<% psets.each do |pset| %>
		<td>
			<% if subs[pset.id] %>
				<% submitted = subs[pset.id][0] %>
				<% if submitted.grade and not submitted.grade.grade.blank? %>
				<%= link_to "#{submitted.grade.grade}", grade_form_path(user_id: user.id, pset_id: pset.id), class: "btn btn-xs btn-block #{0 <= submitted.grade.grade && submitted.grade.grade < 5.5 ? 'btn-danger':'btn-success'}" %>
				<% else %>
				<%= link_to 'sub', grade_form_path(user_id: user.id, pset_id: pset.id), class: 'btn btn-default btn-xs btn-block' %>
				<% end %>
			<% else %>
				<%= link_to 'no', grade_form_path(user_id: user.id, pset_id: pset.id), class:'btn btn-default btn-xs btn-block auto-hide', confirm:'Would you like to enter a grade for this unsubmitted pset?' %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>

</table>
