<table id="grade-table" class="table table-condensed">

	<tr>
		<th>Name</th>
		<th>ID</th>
		<% psets.each do |pset| %>
		<th class="rotate"><div><%= pset.name %></div></th>
		<% end %>
		<th>
			<form method="get" accept-charset="utf-8">
				<%= select_tag :term, 
				options_from_collection_for_select(User.select("distinct term"), :term, :term, selected:params[:term]),
				onchange: 'this.form.submit();' %>
				<%= hidden_field_tag "status", params[:status] %>
			</form>
		</th>
		<th>
			<form method="get" accept-charset="utf-8">
				<%= hidden_field_tag "term", params[:term] %>
				<%= select_tag :status, 
				options_from_collection_for_select(User.select("distinct status"), :status, :status, selected:params[:status]),
				onchange: 'this.form.submit();' %>
			</form>
		</th>
		<th class="rotate">Active?</th>
	</tr>

	<% users.each do |user| %>
	<tr>
		<td>
			<%= best_in_place user, :name, as: :input, url: course_change_user_name_path(id: user.id) %>
		</td>

		<td>
			<% if user.mail %>
			<%= link_to user.logins.first.login, 'mailto:' + user.mail %>
			<% else %>
			<%= user.logins.first.login %>
			<% end %>
		</td>

		<% subs = user.submits.group_by(&:pset_id) %>
		<% psets.each do |pset| %>
		<td>
			<%= grade_button(user, pset, subs)%>
		</td>
		<% end %>

		<td><%= best_in_place user, :term  , as: :input, url: user_path(id: user.id) %></td>
		<td><%= best_in_place user, :status, as: :input, url: user_path(id: user.id) %></td>
		<td><%= best_in_place user, :active, as: :checkbox, url: user_path(id: user.id) %></td>
		<td><%= button_to 'calc', course_assign_final_grade_path(id:user.id), method: :put, remote: true, class: 'btn btn-xs' %></td>
	</tr>
	<% end %>

</table>
