<div id="content" class="container">
	
	<header class="page-header" style="border-bottom:0">
		<h1>Students</h1>
	</header>
	
	<ul class="nav nav-tabs">
		<% @groups.each_with_index do |group,i| %>
		<li <%= 'class="active"'.html_safe if i==0 %>><a href="#group<%= i %>" data-toggle="tab"><%= group[:title] %> (<%= group[:users].count %>)</a></li>
		<% end %>
		<li <%= 'class="active"'.html_safe if @groups.size == 0 %>><a href="#other" data-toggle="tab">Not started (<%= @groupless.count %>)</a></li>
		<li><a href="#admins" data-toggle="tab">Admins (<%= @admins.count %>)</a></li>
	</ul>

	<div class="tab-content">
		<% @groups.each_with_index do |group,i| %>
		<div class="tab-pane <%= 'active' if i==0 %>" id="group<%= i %>">
			<%= render partial: 'grade_table', locals: { users: group[:users], psets: group[:psets], track: group[:track] } %>
			<%= link_to '<li class="glyphicon glyphicon-flash"></li> Add student'.html_safe, "javascript:add_student(#{group[:track].id})", class:'btn btn-default'  %>
		</div>
		<% end %>
		<div class="tab-pane <%= 'active' if @groups.size == 0 %>" id="other">
			<%= render partial: 'grade_table', locals: { users: @groupless, psets: @psets, track: nil } %>
		</div>
		<div class="tab-pane" id="admins">
			<%= render partial: 'grade_table', locals: { users: @admins, psets: @psets, track: nil } %>
		</div>
	</div>
	
</div>

<script type="text/javascript" charset="utf-8">
	$('.best_in_place').best_in_place()
</script>

<script type="text/javascript" charset="utf-8">
	function add_student(track_id)
	{
		x = prompt("Student id?");
		if(x)
		{
			$.post("/course/add_student", { track_id: track_id, student_id: x },
				function()
				{
					location.reload();
				}
			);
		}
	}
</script>