<% if Schedule.many? || Schedule.first&.groups&.many? %>
<%= simple_format(user.full_designation, { class: 'float-end badge bg-secondary', style: get_colors_for_text(user.full_designation) }, wrapper_tag: 'span') %>
<% end %>
<h5><strong><%= user.name %></strong></h5>
<% if Settings.hands_link && location.present? %>
<%= link_to location, location || "no location", target: "_blank" %>
<% end %>
<% if current_user.senior? || (Settings.hands_location && !Settings.hands_link) %>
<p>
    <small>
        <% if current_user.senior? %>
            <% if waiting_since %>
            waiting for <%= minutes_ago(waiting_since) %> minutes 
            <% elsif spoken_since %>
            last spoken <%= time_ago_in_words(spoken_since) %> ago
            <% else %>
            we've never spoken to them before
            <% end %>
        <% end %>
        <% if Settings.hands_location && !Settings.hands_link %>
            @ <%= location %>
        <% end %>
    </small>
</p>
<% end %>
<p>
    <strong><%= subject %></strong>&mdash;<%= question %>
</p>
<% if suggestion.present? %>
<p>
    "<%= suggestion %>"
</p>
<% end %>
