<% if Schedule.many? || Schedule.first.groups.many? %>
<%= simple_format(hand.user.full_designation, { class: 'float-end badge bg-secondary', style: get_colors_for_text(hand.user.full_designation) }, wrapper_tag: 'span') %>
<% end %>
<h5><strong><%= hand.user.name %></strong></h5>
<% if Settings.hands_link && @hand.location.present? %>
<%= link_to @hand.location, @hand.location || "no location", target: "_blank" %>
<% end %>
<p>
    <small>
        in line since <%= minutes_ago(hand.created_at) %> minutes 
        <% if Settings.hands_location && !Settings.hands_link %>
            @ <%= hand.location %>
        <% end %>
    </small>
</p>
<strong><%= hand.subject %></strong>&mdash;<%= hand.help_question %>
