<% if not @my_hands.any? || @hands.any? || (Settings.hands_show_non_questions && @long_time_users.any?) %>

<div class="message">
    <h5>No requests. Go and find<br> a student to talk to! ❤️</h5>
</div>

<% else %>

<div class="list-group">
    <!-- Assistance requests that were previously claimed by TA -->
    <% @my_hands.each do |hand| %>
    <%= link_to(hand_path(hand), class: 'list-group-item active') do %>
    <%= render_hand hand: hand %>
    <% end %>
    <% end %>

    <!-- Assistance requests that are open to respond to -->
    <% @hands.each do |hand| %>
    <%= link_to(hand_path(hand), class: "list-group-item #{'bg-warning' if hand.helpline}") do %>
    <%= render_hand hand: hand %>
    <% end %>
    <% end %>

    <!-- Nudges to talk to students who we haven't talked to for a while -->
    <% if @long_time_users.any? && Settings.hands_show_non_questions %>
    <% @long_time_users.each do |user| %>
    <%= link_to(new_hand_path(user_id: user.id), class: 'list-group-item') do %>
    <%= render_hand user: user %>
    <% end %>
    <% end %>
    <% end %>
</div>

<% end %>
