<%
grid = AttendanceGridPresenter.new(
  config: student.grading_config.settings,
  first_attendance: student.attendance_records.first&.cutoff&.to_date,
  counts: @attend,
  confirmed_counts: @attend_confirmed
)
%>

<div class="grid text-center small" style="--bs-columns: <%= grid.weeks + 1 %>; --bs-gap: 4px;">
  <div class="text-start">Week:</div>

  <% (1 + grid.offset..grid.weeks + grid.offset).each do |week_label| %>
    <div><%= week_label %></div>
  <% end %>

  <% grid.day_abbrs_mo_su.each_with_index do |abbr, day_idx| %>
    <div class="text-start"><%= abbr %></div>

    <% grid.week_indices.each do |week_idx| %>
      <% date = grid.date_for(week_idx, day_idx) %>
      <div
        class="block border rounded"
        style="<%= grid.box_style(date) %>"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-title="<%= "#{date.strftime('%a %d %b')}: #{grid.hours_label(date)}" %>">
      </div>
    <% end %>
  <% end %>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th>Hour</th>
      <th>Location</th>
      <th>IP Address</th>
      <th>Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <% @attend_raw.each do |attend| %>
      <tr>
        <td><%= attend.cutoff.strftime('%H') %></td>
        <td><%= attend.location %></td>
        <td><%= attend.ip %></td>
        <td><%= attend.confirmed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
