<p><small><%= date_span_with_title(hand.created_at)%></small></p>
<p>
	<span class="bubble">â“<%= hand.help_question %></span>
	<% if hand.assist %>
	<span class="bubble">
		<%= hand.evaluation %>
		<%= hand.progress %>
		<%= hand.note %>
	</span>
	<% end %>
</p>
<% if hand.assist %>
	<small class="author">Answered by <%= hand.assist_name %></small>
<% end %>
