<div class="">
<% 
	subs = @student.submits.group_by(&:pset_id)
%>

<% cache subs do %>
	<% @psets.each do |pset| %>
	<%= grade_button(@student, pset, subs)%>
	<% end %>
<% end %>
</div>

<% cache @student do %>
<% @grouped_items = @items.group_by_day{ |i| i.class==Submit && i.submitted_at || i.updated_at } %>
<div class="blockgraph">
	<% @student.attendance_by_day.each do |date, strength| %>
	<% @day_items = @grouped_items.select{|k,v| k==date}.collect{|k,v| v.collect{|ai| ai.short_description}}.flatten %>
	<div class="block strength-<%= [strength,8].min %> <%= @day_items.any? && 'interesting' || '' %> <%= !(1..5).include?(date.wday) && 'weekend' ||  '' %>" data-toggle="tooltip" data-placement="top" title="<%= date %> (<%= strength %>) <%= @day_items %>"><%= @day_items.join =~ /submit/ && 's' || '' %></div>
	<% end %>
</div>
<% end %>

<div id="timeline" class="row">
	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= form_with model: @note do |f| %>
				<%= f.hidden_field :student_id %>
				<p><%= f.text_area :text, size: "x3", class: "form-control" %></p>
				<p>
					<span class="pull-right">
					<%= f.submit "Add note", class: "btn btn-primary" %>
					</span>
				</p>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-7">
		<%= render partial: "items/item", collection: @items, cached: true %>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$('.best_in_place').best_in_place()
</script>
