<div class="">
<% 
	subs = @student.submits.includes(:grade).group_by(&:pset_id)
%>

<% @psets.each do |pset| %>
<%= grade_button(@student, pset, subs)%>
<% end %>
</div>

<%= line_chart [
{
	name: "total",
	data: @student.attendance_records.group_by_day(:cutoff, format: "%a %d-%m").count
}
# {
# 	name: "local",
# 	data: @student.attendance_records.where(local: true).group_by_day(:cutoff, format: "%a %d-%m").count
# }
], height: "150px", stacked: true %>

<div id="timeline" class="row">
	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= form_with model: @note do |f| %>
				<%= f.hidden_field :student_id %>
				<p><%= f.text_area :text, size: "x3", class: "form-control" %></p>
				<p>
					<span class="float-right">
					<%= f.submit "Add note", class: "btn btn-primary" %>
					</span>
				</p>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-7">
		<%= render partial: "items/item", collection: @items %>
	</div>
</div>
