<div class="flex-fill">
	<%= turbo_frame_tag :user_form do %>
		<%= form_with model: @student do |f| %>
		<p>
			<%= f.text_field :name,               placeholder: 'Full name', autocomplete: 'off' %>
			<%= f.text_field :pronouns,           placeholder: 'Pronouns',  autocomplete: 'off' %>
			<%= f.text_field :mail,               placeholder: 'E-mail',    autocomplete: 'off' %><br>
			<%= f.text_field :student_number,     placeholder: 'Student ID',autocomplete: 'off' %><br>
			<%= f.text_field :status_description, placeholder: 'Status',    autocomplete: 'off' %>
		</p>
		<p>
			<%= f.label :avatar %>:
			<%= f.text_field :avatar %>
		</p>
		<p>
			<%= f.submit 'Save', class: 'btn btn-secondary' %>
			<%= link_to 'Cancel', @student, class: 'btn btn-secondary' %>
		</p>
		<% end %>
	<% end %>
</div>
