<% content_for :title do %>
<%= render 'title' %>
<% end %>

<div class="tab-content" id="submit_tab_content">

	<div class="tab-pane show active" id="submit-notes" role="tabpanel" aria-labelledby="submit-notes-tab">
		<div id="timeline">

			<div class="card">
				<div class="card-body">
					<div class="small mb-3 p-1">
						<%
						subs = @student.submits.includes(:grade).group_by(&:pset_id)
						%>
						<% @psets.each do |pset| %>
						<%= grade_button(@student, pset, subs, true, true)%>
						<% end %>
					</div>
				</div>
			</div>
			
			<%= render partial: "items/item", collection: @items %>
		</div>
	</div>

	<div class="tab-pane show" id="submit-attendance" role="tabpanel" aria-labelledby="submit-attendance-tab">
		<div class="barchart d-flex align-items-end" style="height:8rem;">
			<% @attend.each do |dat, count| %>
			<div class="progress-bar bg-success" style="width:1rem; height: <%= count/12.0*100 %>%"><%= count %></div>
			<% end %>
		</div>
	</div>

	<div class="tab-pane show" id="submit-hands" role="tabpanel" aria-labelledby="submit-hands-tab">
		<%= render partial: 'hands_overview', object: @student.hands_overview %>
		<div id="timeline">
			<%= render partial: "items/item", collection: @student.hands %>
		</div>
	</div>

</div>

<% content_for :footer do %>
	<%= form_with model: @note, html: { class: 'w-100' } do |f| %>
		<%= f.hidden_field :student_id %>
		<div class="d-flex flex-row">
			<div class="flex-fill">
				<%= f.text_area :text, size: "x2", class: "form-control flex-fill", required: true %>
			</div>
			<div class="ml-3">
				<%= f.submit "Add note", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
<% end %>
