<% content_for :title do %>
<%= render 'title' %>
<% end %>


<div class="tab-content" id="submit_tab_content">

	<div class="tab-pane show active" id="submit-notes" role="tabpanel" aria-labelledby="submit-notes-tab">
		<div id="timeline">
			<div class="row">
				<div class="col-md">
					<div class="card">
						<div class="card-body">
							<div class="p-1">
								<% cache @student do %>
								<% @overview.each do |name, psets| %>
								<p class="mb-1">
									<strong><%= name.humanize %></strong>
								</p>
								<div class="mb-3">
									<% psets.each do |pset, (submit, weight)| %>
									<div class="d-inline-block rounded <%= grade_bg_type(@subs[[pset.id, @student.id]].grade) if @subs[[pset.id, @student.id]].present? %>">
										<%= grade_button(@student, pset, @subs[[pset.id, @student.id]], weight, true, true) %>
									</div>
									<% end %>
								</div>
								<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md">
					<%= render partial: "items/item", collection: @items, cached: true %>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane show" id="submit-attendance" role="tabpanel" aria-labelledby="submit-attendance-tab">
		<p>Last seen: <%= @student.last_seen_at&.to_fs(:long) %></p>
		<div class="barchart d-flex align-items-end" style="height:8rem;">
			<% @attend.each do |dat, count| %>
			<a href="#" data-bs-toggle="tooltip" data-bs-title="<%= dat %>" class="progress-bar bg-success justify-content-end" style="width:1rem; height: <%= count/12.0*100+1 %>%">
				<div style="font-size: 0.25rem;"><%= dat.split(" ").first %></div>
			</a>
			<% end %>
		</div>
	</div>

	<div class="tab-pane show" id="submit-hands" role="tabpanel" aria-labelledby="submit-hands-tab">
		<%= render partial: 'hands_overview', object: @student.hands_overview %>
		<div id="timeline">
			<%= render partial: "items/item", collection: @student.hands %>
		</div>
	</div>

</div>

<script type="text/javascript" charset="utf-8">
	enableTooltips();
</script>

<% content_for :footer do %>
	<%= form_with model: @note, html: { class: 'w-100' } do |f| %>
		<%= f.hidden_field :student_id %>
		<div class="d-flex flex-row">
			<div class="flex-fill">
				<%= f.text_area :text, size: "x2", class: "form-control flex-fill", required: true %>
			</div>
			<div class="ms-3">
				<%= f.submit "Add note", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
<% end %>
