<%= form_tag(auth_mail_validate_path, style: 'width: 400px', class: 'mx-auto mt-5 border rounded p-4') do |form| %>

<h1 class="h3 mb-3 fw-normal"><%= t('account.validation_code') %></h1>
<p class=""><%= t('account.validation_code_in_mail') %></p>

<div class="form-floating">
    <input name="code" required class="form-control" maxlength="6" size="6" id="floatingInput" autofocus autocomplete="one-time-code">
    <label for="floatingInput">Code</label>
</div>

<div class="d-flex justify-content-evenly mt-5">
<%= link_to 'Cancel', auth_session_logout_path, class: 'btn btn-lg btn-outline-secondary', data: { turbo: "false" } %>
<input type="submit" class="btn btn-lg btn-primary"  value="<%= t('account.continue_button') %> &rarr;">
</div>


<% end %>
