<%= form_tag(auth_mail_create_path, style: 'width: 400px', class: 'mx-auto mt-5 border rounded p-4') do |form| %>

<h1 class="h3 mb-3 fw-normal"><%= t('account.login_mail') %></h1>
<p class=""><%= t('account.disclaimer') %></p>

<div class="form-floating">
    <input name="email" type="email" required class="form-control" id="floatingInput" placeholder="<%= t('account.email_placeholder') %>">
    <label for="floatingInput">Email address</label>
</div>

<div class="d-flex justify-content-evenly mt-5">
<%= link_to 'Cancel', auth_session_logout_path, class: 'btn btn-lg btn-outline-secondary', data: { turbo: "false" } %>
<input type="submit" class="btn btn-lg btn-primary"  value="<%= t('account.continue_button') %> &rarr;">
</div>

<% end %>
