<%= form_tag(auth_mail_create_path) do |form| %>

<div id="profile-dialog" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title"><%= t('account.login_mail') %></h2>
        </div>
        <div class="modal-body">
            <p class=""><%= t('account.disclaimer') %></p>
            <p>E-mail: <input placeholder="<%= t('account.email_placeholder') %>" name="email" type="email" class="form-field" autocomplete="email"></p>
        </div>
        <div class="modal-footer">
            <%= link_to 'Cancel', auth_session_logout_path, class: 'btn', data: { turbo: "false" } %>
            <input type="submit" class="btn btn-primary" value="<%= t('account.continue_button') %> &rarr;">
        </div>
    </div>
</div>

<% end %>
