<% @page_name = t('account.login_or_register') %>

<div class="cards">
    <div>
        <p class="lead text-center">
            <%= t('account.guest_needs_activation') %>
        </p>
    </div>

    <%= form_tag(auth_mail_create_path, 
        class: 'mini-app-body d-flex justify-content-between flex-column') do |form| %>

    <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
    <% end %>

    <div>
        <label for="email" class="mb-1">Your e-mail address</label>
        <input name="email" type="email" autofocus required class="form-control" placeholder="<%= t('account.email_placeholder') %>">
    </div>

    <div class="d-flex justify-content-between">
        <%= link_to 'Cancel', auth_session_logout_path, class: 'btn btn-outline-secondary', 
            data: { turbo: "false" } %>
        <input type="submit" class="btn btn-primary" 
            value="<%= t('account.continue_button') %> &rarr;">
    </div>

    <% end %>
</div>
