<%= form_tag(auth_mail_create_path, class: 'mx-auto m-5 p-4') do |form| %>

<h1 class="text-center">
    <%= bootstrap_icon 'envelope', width: 60, height: 60 %>
    <%= t('account.login_mail') %>
</h1>

<p class="lead text-center">
    <%= t('account.guest_needs_activation') %>
</p>

<% if flash[:alert] %>
<p><%= flash[:alert] %></p>
<% end %>

<input name="email" type="email" autofocus required class="form-control my-5 border-0 border-bottom" placeholder="<%= t('account.email_placeholder') %>">

<div class="d-flex justify-content-between">
<%= link_to 'Cancel', auth_session_logout_path, class: 'btn btn-outline-secondary', data: { turbo: "false" } %>
<input type="submit" class="btn btn-primary"  value="<%= t('account.continue_button') %> &rarr;">
</div>

<% end %>
