<div id="timeline">
	<div class="card-columns" style="column-count:2">
		
		<div class="card">
			<div class="card-body">
				<% @notes.each do |note| %>
				<div style="margin-bottom:1em">
				<%= note.student.name %>:<br><%= note.text %><br><small>(<%= note.author_name %> @ <%= time_ago_in_words(note.updated_at) %> ago)</small>
				</div>
				<% end %>
			</div>
		</div>
		
		<div class="card" id="alertForm">
			<div class="card-body" id="collapseAlertForm"  data-parent="#alertForm">
				<h5 class="card-title">Add announcement</h5>
				<% @alert = Alert.new() %>
				<%= render partial: "alerts/form" %>
			</div>
		</div>

		<% if current_user.schedule %>

		<% if Hand.waiting.any? %>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Hands queue</h5>
				<p><%= Hand.waiting.count %> are waiting.</p>
			</div>
		</div>
		<% end %>

		<%= render 'psets_to_publish' %>

		<% if current_user.admin? %>

			<% if @groups.blank? %>

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Grading</h5>
						<% if @groups.blank? %>
						<p class="card-text">
							<%= @new_students.count %> students have submitted.
							No grading groups have been defined yet.
						</p>
						<%= link_to 'Generate', admin_generate_groups_path(schedule_id: @schedule.id), class: 'btn btn-primary' %>
						<%= link_to 'Import', admin_import_path(schedule_id: @schedule.id), class: 'btn btn-primary' %>
						<% end %>
					</div>
				</div>
	
			<% else %>

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Grading</h5>
					</div>
					<% if @groups.present? %>
					<ul class="list-group list-group-flush">
						<% @groups.each do |group| %>
						<li class="list-group-item d-flex align-items-center">
							<%= group.name %>
							<span class="badge badge-primary ml-auto"><%= link_to "#{group.submits.includes(:grade).where(grades: { submit_id: nil }).count} sub", submits_path(group: group.id), class: 'text-light' %></span>
							<span class="badge badge-primary ml-1"><%= link_to "#{group.grades.unfinished.count} gra", submits_path(group: group.id, status: Grade.statuses[:unfinished]), class: 'text-light' %></span>
							<span class="badge badge-primary ml-1"><%= link_to "#{group.grades.finished.count} fin", submits_path(group: group.id, status: Grade.statuses[:finished]), class: 'text-light' %></span>
							<span class="badge badge-secondary ml-1"><%= link_to "#{group.grades.finished.count} reo", reopen_grades_path(group.id), remote: true, method: :post, data: { confirm: "Sure?" }, class: "text-light" %></span>
						</li>
						<% end %>
					</ul>
					<% end %>
					<%= render 'psets_to_publish' %>
				</div>
		
				<% if @new_students.present? %>
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">New students</h5>
							</div>
							<ul class="list-group list-group-flush">
								<% @new_students.each do |student| %>
								<li class="list-group-item d-flex align-items-center">
									<%= link_to student.name, "#", onclick: "$('#modal-browser').modal('show');", data: { toggle: "modal", target: "#user-modal", user: student.id } %>
									<span class="badge badge-primary ml-auto"><%= student.created_at.strftime("%e %b") %></span>
								</li>
								<% end %>
							</ul>
						</div>
				<% end %>

			<% end %>

		<% end %>

		<% if current_user.admin? && !current_user.schedule.self_service %>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Current schedule</h5>
					<% schedule = current_user.schedule %>
					<% schedule.schedule_spans.each do |item| %>
					<%= radio_button_tag( schedule.id, item.id, item == schedule.current, id: "#{schedule.name}#{item.id}", class: 'set-schedule') %> <%= label_tag "#{item.id}", item.name, for: "#{schedule.name}#{item.id}" %><br>
					<% end %>
					<%= radio_button_tag( schedule.id, 0, nil == schedule.current, id: "#{schedule.name}0", class: 'set-schedule') %> <%= label_tag "(hide schedule)", "(hide schedule)", for: "#{schedule.name}0" %>


					<script type="text/javascript" charset="utf-8">
					$('.set-schedule').bind('change', function(a) {
					    var z = a;
						$.ajax({
							url: "<%= admin_set_schedule_path %>?schedule=" + a.currentTarget.name + "&item=" + a.currentTarget.value,
							headers: {
								Accept : "text/javascript; charset=utf-8",
								"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
							},
							type: 'POST'
						});
					});
					</script>
				</div>
			</div>
		<% end %>

		<% end %>
	</div>
</div>
