<h2>
	<%= octicon "mark-github", height: 32, style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Git
	<br>
	<small>Course materials will be downloaded from this git repository.</small>
</h2>

<% if Settings.git_repo.present? %>
<p><%= Settings.git_repo %> @ <%= Settings.git_branch %></p>
<% else %>
<p>
	<%= form_tag(config_git_repo_path, class:'form') do %>
        <div class="form-group">
            <label for="repo_url">Repo URL</label>
            <%= text_field_tag 'repo_url', Settings['git_repo'], required: true, class: 'form-control' %>
    	</div>
        <div class="form-group">
            <label for="repo_branch">Branch</label>
            <%= text_field_tag 'repo_branch', Settings['git_branch'], class: 'form-control' %>
    	</div>
    	<%= submit_tag 'Clone', class:'btn btn-primary' %>
	<% end %>
</p>
<% end %>
