<h2 class="mb-2">
	<%= fa_icon "edit", style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Schedule registration
</h2>
<p>Allow students to register for the following schedules:</p>

<table class="table table-sm">
<% Schedule.all.each do |schedule| %>
	<tr>
		<td>
		<%= check_box_tag('self_register', '1', schedule.self_register, data: { schedule_id: schedule.id }, id: "reg_#{schedule.id}", class: 'toggle-self-register') %>
		<label for="reg_<%= schedule.id %>"><%= schedule.name %></label><br>
		</td>
		<td>
			<%= checkbox_for(schedule, :self_service, schedule.self_service, config_schedule_self_service_path(id: schedule.id)) do %>
				students may switch between modules
			<% end %>
		</td>
	</tr>
<% end %>
</table>

<script type="text/javascript" charset="utf-8">
$('.toggle-self-register').bind('change', function(a) {
    var z = a;
	$.ajax({
		url: "<%= config_schedule_registration_path %>?id=" + $(a.target).data('scheduleId'),
		headers: {
			Accept : "text/javascript; charset=utf-8",
			"Content-Type": 'application/x-www-form-urlencoded; charset=UTF-8'
		},
		type: 'PUT',
		data: {
			schedule: { 'self_register': $(a.currentTarget).prop('checked') }
		}
	});
});
</script>
