<h2 class="mb-2">
	<%= fa_icon "th-list", style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Settings
</h2>

<%= toggle_setting_form('hands_allow', 'Enable student question queue') %>
<%= toggle_setting_form('hands_location', 'Ask for location') %>
<%= toggle_setting_form('hands_bumper', 'Force location when local') %>
<%= toggle_setting_form('hands_groups', 'Always show group name in help list') %>
