<h1>Admins</h1>

<p>	
	<%= form_tag(config_admins_url, method: :post) do %>
	<div class="form-group">
		<label for="inputAdmins">Admins</label>
		<textarea id="inputAdmins" name="admins" class="form-control" style="height:10em;"><%= @admins %></textarea>
	</div>
	<%= submit_tag 'Save', class:'btn' %>
	<% end %>
</p>

<p>
	<%= form_tag(config_assistants_url, method: :post) do %>
	<div class="form-group">
		<label for="inputAdmins">Assistants</label>
		<textarea id="inputAdmins" name="assistants" class="form-control" style="height:10em;"><%= @assistants %></textarea>
	</div>
	<%= submit_tag 'Save', class:'btn' %>
	<% end %>
</p>
