<h1>Configuration</h1>

<%= render 'git' %>

<ul>
	<% if Schedule.any? %>
	<li>This course has <%= Schedule.count %> schedules.</li>
	<% end %>
</ul>

<hr class="my-5">

<%= render 'permissions' %>

<hr class="my-5">

<%= render 'settings' %>

<hr class="my-5">

<%= render 'email' %>

<hr class="my-5">

<%= render 'dropbox' %>

<hr class="my-5">

<%= render 'webhook' %>
