<div id="comments">
	<div class="list-group new-question">
		<div class="list-group-item clearfix">
			<p class="list-group-item-text"><strong>Ask a question</strong></p>
			<%= form_tag("/comment/post_question", method: :post) do %>
			<%= hidden_field_tag :page_id, @page.id %>
			<textarea class="form-control" name="comment" placeholder="Type your question here"></textarea>
			<input type="submit" class="btn btn-xs btn-primary pull-right" value="Post">
			<% end %>
		</div>
	</div>

	<% @comments.each do |thread| %>
	<div class="list-group question">
		<% if thread.comments.first %>
		<div class="list-group-item">
			<% if is_admin? %>
			<%= link_to "&times;".html_safe, comment_delete_question_url(thread_id: thread.id), method: :post, class: 'close' %>
			<% end %>
			<p class="list-group-item-text"><strong><%= thread.comments.first.user.name %></strong></p>
			<p><%= thread.comments.first.content %></p>
		</div>
		<% end %>
		<% thread.comments.drop(1).each do |comment| %>
		<div class="list-group-item reply">
			<% if is_admin? %>
			<%= link_to "&times;".html_safe, comment_delete_answer_url(comment_id: comment.id), method: :post, class: 'close' %>
			<% end %>
			<p class="list-group-item-text"><strong><%= comment.user.name %></strong></p>
			<p><%= comment.content %></p>
		</div>
		<% end %>
		<div class="list-group-item reply clearfix">
			<p class="list-group-item-text"><strong><%= current_user.name %></strong></p>
			<%= form_tag("/comment/post_answer", method: 'post') do %>
			<%= hidden_field_tag :thread_id, thread.id %>
			<textarea class="form-control" name="comment" placeholder="Write a comment"></textarea>
			<input type="submit" class="btn-xs btn-default btn pull-right" value="Post">
			<% end %>
		</div>
	</div>
	<% end %>
</div>
