<% if @submitted and date = @page.pset.submit_from(current_user).submitted_at %>
<div id="submitted_pset" class="alert alert-success">
	You have submitted this problem set <%= time_ago_in_words(date) %> ago.
</div>
<% end %>

<%= form_tag_if(logged_in? && @page.pset, page_submit_path, { :multipart => true, :id => "page_form" }) do %>
<%= hidden_field_tag :page_id, @page.id %>

	<% @page.subpages.each_with_index do |subpage, index| %>
	<section class="markdown" id="<%= subpage.slug %>-content">
		<%= markdown(subpage.content, @page) %>
	</section>
	<% end %>

	<% if current_user.can_submit? and @page.pset %>
	<section id="submit-content">
		<%= render 'submit_tab' %>
	</section>
	<% end %>


<% end %>
