<% @registrations.each do |registration| %>

<div id="heading">

	<h5><%= registration.track.name %><br><%= registration.schedule_span.name %></h5>

	<% @week_contents = registration.schedule_span.content %>
	<p id="description" ><%= @week_contents.delete('description') %></p>

</div>

<div class="btn-group btn-group-justified">
	<%= link_to({ action: :prev_in_schedule, registration_id: registration.id }, { method: :post, class: 'btn btn-xs' }) do %>
	<span class='glyphicon glyphicon-arrow-left'></span>
	<% end %>
	<%= link_to({ action: :next_in_schedule, registration_id: registration.id }, { method: :post, class: 'btn btn-xs' }) do %>
	<span class='glyphicon glyphicon-arrow-right'></span>
	<% end %>
</div>

<div id="contents" class="list-group">
	<% @week_contents.each do |item, link| %>
	<a href="<%= link %>" class="list-group-item"><%= item.sub('[', '<span class="label label-info">').sub(']', '</span>').html_safe %></a>
	<% end %>
</div>

<% end %>
