<% if @page.pset.message %>
<p><strong><%= @page.pset.message %></strong></p>
<% end %>

<% if @page.pset.form || @page.pset.files %>

    <% if @page.pset.form %>
    <div class="mb-3">
        <%= t 'submit.answers_will_be_submitted'%>
    </div>
    <% end %>

    <% @page.pset.files.each do |header, files| %>
    <h6 class="mt-4 mb-3 fw-bold"><%= t "submit.file_groups.#{header.downcase}" %> <%= t 'submit.files' %>:</h6>
    <% files.each do |file| %>
    <div class="row mb-3">
        <label for="<%= "file-#{file.parameterize}" %>" class="col-sm-3 col-form-label col-form-label-sm"><%= file %></label>
        <div class="col-sm-9">
            <%= file_field_tag "f[#{file}]", :accept => File.extname(file), required: header == 'required', class: 'form-control form-control-sm', id: "file-#{file.parameterize}" %>
        </div>
    </div>
    <% end   if files %>
    <% end %>

<% end %>

<% if @page.pset.url %>
<p class="mt-4"><%= t 'submit.url_field' %>: <%= text_field_tag 'url', nil, required:true, class:'form-control' %></p>
<% end %>

<p class="mt-4 mb-0 text-end"><%= submit_tag t('submit.button'), class:'btn btn-primary', data: { "disable-with": "Processing..." } %></p>
