<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8 offset2">

			<section id="content" style="padding:1em;">

				<div class="tabbable">

					<ul id="links" class="nav nav-tabs">
						<% @page.subpages.each_with_index do |subpage, index| %>
						<li class="<%= 'active' if index == 0 %>">
							<a href="#<%= subpage.slug %>" data-toggle="tab"><%= subpage.title %></a>
						</li>
						<% end %>
					</ul>

					<div class="tab-content">
						<% @page.subpages.each_with_index do |subpage, index| %>
						<div class="tab-pane markdown <%= 'active' if index == 0 %>" id="<%= subpage.slug %>">
							<%= markdown(subpage.content) %>
						</div>
						<% end %>
					</div>

				</div>

			</section>

		</div>
	</div>
</div>
