<%= form_tag_if(
    Settings.site_enabled && logged_in? && @page.pset,
    submissions_path,
    {
        multipart: true,
        id: "page_form",
        data:
        {
            controller: "form-cache",
            form_cache_target: "form",
            action: "change->form-cache#saveToLocalStorage submit->form-cache#clearLocalStorage"
        }
    }
    ) do %>

<div id="content">
    <%= hidden_field_tag :pset_id, @page.pset.id if @page.pset if @allow_submit %>

    <% @subpages.each_with_index do |subpage, index| %>
    <section class="markdown" id="<%= subpage.slug %>-content">
        <%= markdown(subpage.content, @page) %>
    </section>
    <% end %>

    <%= render 'footer' %>
</div>

<%= render 'submit' %>

<% end %>
