<%= form_tag_if(
    Settings.site_enabled && logged_in? && @page.pset,
    submissions_path,
    {
        multipart: true,
        id: "page_form",
        data:
        {
            controller: "form-cache",
            form_cache_target: "form",
            action: "change->form-cache#saveToLocalStorage submit->form-cache#clearLocalStorage"
        }
    }
    ) do %>

<% if @submit || (@page.pset && Settings.site_enabled && Submit::Webdav::Client.available? && logged_in?) %>
<div id="submit-button">
    <button class="btn btn-primary" type="button" onclick="window.scrollTo(0,document.body.scrollHeight);">
    <% if @submit && @submit.submitted_at %>
        <%= t 'submit.you_submitted_ago', time: time_ago_in_words(@submit.submitted_at) %> <%= bootstrap_icon 'arrow-down' %>
    <% else %>
        <%= t 'submit.at_the_end_of_page' %> <%= bootstrap_icon 'arrow-down' %>
    <% end %>
    </button>
</div>
<% end %>

<div id="content">
    <%= hidden_field_tag :pset_id, @page.pset.id if @page.pset if @allow_submit %>

    <% @subpages.each_with_index do |subpage, index| %>
    <section class="markdown" id="<%= subpage.slug %>-content">
        <%= markdown(subpage.content, @page) %>
    </section>
    <% end %>

    <%= render 'footer' %>
</div>

<%= render 'submit' %>

<% end %>
