<%= form_tag_if(
    @page.pset && @allow_submit,
    submissions_path,
    {
        multipart: true,
        id: "page_form",
        data:
        {
            turbo: "false",
            controller: "form-cache form-size-validator",
            form_cache_target: "form",
            form_size_validator_max_size_mb_value: "9",
            action: "input->form-cache#saveToLocalStorage submit->form-size-validator#validate submit->form-cache#clearLocalStorage"
        }
    }
    ) do %>

<% if @page.pset && @allow_submit %>
<%= hidden_field_tag :pset_id, @page.pset.id %>
<% end %>

<% @subpages.each_with_index do |subpage, index| %>
    <section class="markdown" id="<%= subpage.slug %>-content">
        <%= markdown(subpage.content, @page) %>
    </section>
<% end %>

<%= render 'submit' %>

<% end %>
