<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @answer.user %>
</p>

<p>
  <b>Answer data:</b>
  <%= @answer.answer_data %>
</p>

<p>
  <b>Page:</b>
  <%= @answer.page %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
