<turbo-frame id="grade">

<%= form_with model: @submit, html: { id: 'grade-form', class: 'grade-form', style: 'min-height:100%' },
	 data: { controller: 'auto-save', 'auto-save-target': 'form' } do |form| %>

<%= form.fields_for :grade do |grade_form| %>

	<div class="badge bg-secondary" data-auto-save-target="badge"></div>

	<%= hidden_field_tag :commit, :autosave %>
	<%= grade_form.hidden_field :submit_id %>
	<%#= grade_form.hidden_field :grader_id %>

	<% if @grade.grader != current_user && @grade.updated_at && @grade.updated_at > 10.minutes.ago %>
	<div class="alert alert-warning mx-n3 px-3 mb-3 small"><%= @grade.grader_name %> was editing this <%= time_ago_in_words(@grade.updated_at) %> <%= t(:ago) %></div>
	<% end %>

	<% if @grade.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

		<ul>
			<% @grade.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<% if not @submit.url.blank? %>
	<div class="mb-2">
		<label for="" class="control-label">Link</label>
		<p class="form-control-static">
			<%= link_to @submit.url, @submit.url %>
		</p>
	</div>
	<% end %>

	<div class="mb-2">
		<span class="float-end" data-bs-toggle="tooltip" title="Use * to create bullet lists. Use `backticks` to insert code."><%= bootstrap_icon 'question-circle-fill', width: '12px'%></span>
		<label for="submit_grade_attributes_comments" class="control-label">Focus points </label>
		<%= grade_form.text_area :comments, class: 'form-control', rows: 10, autofocus:true %>
	</div>
	
	<div class="mb-2">
		<label for="submit_grade_attributes_notes" class="control-label">Internal notes </label>
		<%= grade_form.text_area :notes, class: 'form-control', rows: 3 %>
	</div>

	<div id="grade-boxes" class="d-flex flex-wrap">
		<% if @submit.grading_config['subgrades'] %>
		<% @submit.grading_config['subgrades'].each do |subgrade_name, subgrade_type| %>
		<% if subgrade_type == 'integer' || subgrade_type == 'float' %>
		<div class="mb-2 flex-fill">
			<label for="input_<%= subgrade_name %>" class="control-label ms-1 mb-0"><%= subgrade_name.capitalize %><% if @submit.automatic_scores[subgrade_name] %>(<%= @submit.automatic_scores[subgrade_name] %>)<% end %></label>
			<input type="text" class="form-control form-control-sm" id="input_<%= subgrade_name %>" name="submit[grade_attributes[subgrades[<%= subgrade_name %>]]]" placeholder="" value="<%= @grade.subgrades[subgrade_name] if @grade.subgrades %>">
		</div>
		<% elsif subgrade_type == 'boolean' %>
		<div class="mb-2">
			<div class="checkbox">
				<label>
					<%= hidden_field_tag "submit[grade_attributes[subgrades[#{subgrade_name}]]]", 0 %>
					<%= check_box_tag "submit[grade_attributes[subgrades[#{subgrade_name}]]]", -1, @grade.subgrades && @grade.subgrades[subgrade_name] && !@grade.subgrades[subgrade_name].zero? %> <%= subgrade_name.humanize %>
				</label>
			</div>
		</div>
		<% end %>
		<% end %>
		<% end %>
	</div>
			
	<% if current_user.admin? || not(@submit.grading_config['subgrades'] && @submit.grading_config['calculation']) %>
	<div class="mb-2">
		<label for="submit_grade_attributes_grade" class="control-label ms-1 mb-0">Grade
			<% if current_user.admin? && @grade.calculated_grade %>(<%= @grade.calculated_grade %>)<% end %>
		</label>
		<div class="input-group" data-controller="input-buttons">
			<%= grade_form.text_field :grade, class: 'form-control input-group form-control-sm', value: @grade.grade, data: { 'input-buttons-target': 'input' } %>
			<button class="btn btn-secondary btn-sm small" type="button" data-input-buttons-target="button" data-action="input-buttons#change" data-value="-1">PASS</button>
			<button class="btn btn-secondary btn-sm small" type="button" data-input-buttons-target="button" data-action="input-buttons#change" data-value="0" >FAIL</button>
		</div>
	</div>
	<% end %>
	
<% end %>

<% end %>

<%# Below are all buttons. The first is a submit button for the form above,
    the other buttons have their own forms %>

<div class="mt-3 d-flex">
	<div class="btn-group w-100">
		<% if current_user.admin? || @grade.unfinished? %>
		<%= submit_tag 'Save', class: 'btn btn-primary flex-fill', form: 'grade-form' %>
		<% end %>
		<% if current_user.senior? %>
		<button id="submitAdminActionsDropdown" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
			Admin <span class="visually-hidden">Toggle Actions Dropdown</span>
		</button>
		<div class="dropdown-menu" aria-labelledby="submitAdminActionsDropdown">
			<% if current_user.admin? %>
			<%= button_to grade_path(id: @grade.id, referer: request.referer), method: :delete, data: { confirm: "Sure? This deletes the grade completely, including internal info." }, class: 'dropdown-item' do "Destroy Grade" end if @grade.persisted? %>
			<%= button_to submit_path(id: @submit.id, referer: request.referer), method: :delete, data: { confirm: "Sure? This removes proof of student submitting. If you want to delete the grade, just empty the text field and save the grade." }, class: 'dropdown-item', form: { "data-turbo-frame" => "modal" } do "Destroy Submit" end if @submit %>
			<% end %>
			<% if current_user.senior? && @submit.checkable? %>
			<%= button_to recheck_submit_path(id: @submit.id), method: :post, data: { confirm: "Sure?", "turbo-frame": "modal" }, class: 'dropdown-item' do "Re-check" end if @submit %>
			<% end %>
			<% if current_user.senior? %>
			<% if @grade.persisted? %>
			<%= button_to publish_grade_path(@grade), method: :patch, data: { confirm: "Sure?" }, class: 'dropdown-item' do "Publish" end %>
			<% end%>
			<% end %>
		</div>
		<% end %>
	</div>
</div>

</turbo-frame>
