<p>
	<span id='grade-badge' class="badge bg-secondary float-right"><%= @grade.status %></span>
	Grading <%= t(:by) %> <%= @grade.grader_name %> / 
	First graded <%= @submit.first_graded %> /
	Last changed <%= @submit.last_graded %>
</p>
