<h1>To be discussed</h1>	

<% if !Group.any? || current_user.group %>

<table class="table">
	<tr>
		<th>pset</th>
		<th>name</th>
		<th>submitted</th>
		<th>discussed</th>
	</tr>
		
	<% @to_discuss.each do |submit| %>
	<tr class="<%= submit.grade %>">
		<td><%= submit.pset.name %></td>
		<td><%= link_to submit.user.name, submit_grade_path(submit_id: submit.id) %></td>
		<td><% if submit.submitted_at %><%= submit.submitted_at.strftime("%a %d %b %H:%M") %><% end %></td>
		<td><%= '' if submit.grade %></td>
	</tr>
	<% end %>
</table>

<% else %>

<div class="jumbotron">
  <h1>You</h1>
  <p>Are not in a group.</p>
</div>

<% end %>
