<h1>To be discussed</h1>	

<table class="table">
	<tr>
		<th>pset</th>
		<th>name</th>
		<th></th>
		<th>submitted</th>
	</tr>
		
	<% @to_discuss.each do |submit| %>
	<tr class="<%= submit.grade %>">
		<td><%= submit.pset.name %></td>
		<td><%= link_to submit.user.name, submit_grade_path(submit_id: submit.id) %></td>
		<th><%= current_user == submit.grade.grader && "<span class='label label-info'>Yours</span>".html_safe || submit.grade.grader.name %></th>
		<td><% if submit.submitted_at %><%= submit.submitted_at.strftime("%a %d %b %H:%M") %><% end %></td>
	</tr>
	<% end %>
</table>
