<h1>Grading list</h1>	

<%= button_to 'Mark all I have graded as done', finish_done_grades_path, class: 'pull-right btn', data: { confirm:'Are you sure? You will not be able to edit anymore.' } %>

<table class="table">
	<tr>
		<th>schedule</th>
		<th>pset</th>
		<th>name</th>
		<th>id</th>
		<th>submitted</th>
		<th>started grading</th>
		<th>done</th>
	</tr>

	<% @to_grade.each do |submit| %>
	<tr class="<%= submit.grade %>">
		<td><%= submit.user.schedule && submit.user.schedule.name %></td>
		<td><%= submit.pset && submit.pset.name %></td>
		<td><%= link_to submit.user.name, submit_grade_path(submit_id: submit.id) %></td>
		<td><%= submit.user.login_id %></td>
		<td><% if submit.submitted_at %><%= submit.submitted_at.strftime("%a %d %b %H:%M") %><% end %></td>
		<td><%= !!submit.grade ? "✔︎" : "" %>
		<td><%= submit.grade.finished? ? "✔︎" : "" if submit.grade %></td>
	</tr>
	<% end %>
</table>
