<% content_for :navbar_items do %>
<% end %>

<div class="col-2 px-0 py-0" style="background-color:#F9FCFF; overflow-y:scroll; min-height:0;">
	<ul class="nav flex-column">
		<%= button_to 'Mark as finished', finish_submits_path, class: 'btn m-3', data: { confirm:'Are you sure? All items that are correctly filled-in will be marked as "finished". You will not be able to edit those.' } %>
		<% @to_grade.each do |submit| %>
		<li class="nav-item">
			<%= link_to "#{submit.user_name}<br>#{submit.pset_name} <span class='badge badge-secondary pull-right'>#{submit.grade_status || 'ungraded'}</span>".html_safe, submit_path(id: submit.id), class: 'nav-link' %>
		</li>
		<% end %>
	</ul>
</div>

<div class="col-3 pt-2" style="background-color:white; overflow-y:scroll; min-height:0; box-shadow:gray 2px 0px 5px inset ">
	
	<% if @grade.open? %>
	<%= render partial: "grades/form" %>
	<% else %>
	<%= render "grades/show"%>
	<% end %>
	
	<% @grades.each do |grade| %>
	<hr>
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= grade.submit.pset.name %>
			<div class="pull-right">
				<% grade.subgrades.each_pair do |k,v| %>
				<%= v %> /
				<% end %>
				<% if current_user.admin? %>
				<strong><%= translate_grade(grade.any_final_grade) %></strong>
				<% end %>
			</div>
		</div>
		<div class="panel-body">
			<%= simple_markdown(grade.comments) %>
		</div>
	</div>
	<% end %>
</div>

<div class="col-7" style="overflow-y:scroll; min-height:0; box-shadow:gray 2px 0px 5px inset">
	
	<% if @submit.file_contents.present? || @submit.check_feedback.present? %>
	<ul class="nav nav-tabs" id="files" role="tablist">
		<% first = true %>
		<% @submit.file_contents.each_key do |filename| %>
		<li class="nav-item">
			<a class="nav-link <%= (first = false) || 'active' if first %>" id="home-tab" data-toggle="tab" href="#file-<%= filename.parameterize %>" role="tab"><%= filename %></a>
		</li>
		<% end if @submit.file_contents.present? %>
		<% if @submit.check_feedback.present? %>
		<li class="nav-item">
			<a class="nav-link <%= (first = false) || 'active' if first %>" id="home-tab" data-toggle="tab" href="#file-check" role="tab">check</a>
		</li>
		<% end %>
	</ul>
	<div class="tab-content">
		<% first = true %>
		<% @submit.file_contents.each do |filename, contents| %>
		<div class="tab-pane fade show <%= (first = false) || 'active' if first %>" id="file-<%= filename.parameterize %>" role="tabpanel" aria-labelledby="home-tab"><%= CodeRay.scan(contents, File.extname(filename)[1..-1].to_sym).div.html_safe %></div>
		<% end if @submit.file_contents.present? %>
		<% if @submit.check_feedback.present? %>
		<div class="tab-pane fade <%= (first = false) || 'active' if first %>" id="file-check" role="tabpanel" aria-labelledby="home-tab"><code><pre><%= @submit.check_feedback_formatted %></code></pre></div>
		<% end %>
	</div>
	<% end %>
	
</div>

	
<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>
