<small><%= date_span_with_title(grade.created_at)%> by <%= grade.grader.name if grade.grader %></small>
<h4>
	<%= grade.pset.name %> was graded<br>
</h4>
<p id="grade_buttons">
	<% grade.subgrades.each_pair do |k,v| %>
	<span class="btn btn-sm btn-outline-secondary"><%= k.capitalize %> <span class="badge badge-secondary"><%= v %></span></span>
	<% end %>
	<span class="btn btn-sm btn-outline-primary"> Grade <span class="badge badge-primary"><%= translate_grade(grade.any_final_grade) %></span></span>
</p>

<%= simple_markdown(grade.comments) %>
