<p><small><span style="color:#999" title="<%= grade.created_at.strftime("%A %d %b %Y %R") %>"><%= time_ago_in_words(grade.created_at) %> ago</span></small></p>
<h4>
	<%= grade.pset.name %> was graded<br>
</h4>
<p>
	<% grade.subgrades.each_pair do |k,v| %>
	<button class="btn btn-sm btn-info"><%= k.capitalize %> <span class="badge"><%= v %></span></button>
	<% end %>
	<button class="btn btn-sm btn-primary"> Grade <span class="badge"><%= translate_grade(grade.any_final_grade) %></span></button>
</p>

<%= simple_markdown(grade.comments) %>
