<h1><%= Settings.long_course_name %></h1>

<div id="timeline" class="row" style="margin-bottom:2em;">
	<div class="col-sm-7">
		<%= render partial: "timeline/alerts" %>
		<% if current_user.staff? %>
		<div class="card" id="alertForm">
			<p class="m-0">
				<a class="btn btn-primary btn-block collapse show" data-parent="#alertForm" data-toggle="collapse" href="#collapseAlertForm" role="button" aria-expanded="false" aria-controls="collapseAlertForm">Write announcement</a>
			</p>
			<div class="card-body collapse" id="collapseAlertForm"  data-parent="#alertForm">
				<h5 class="card-title">Add announcement</h5>
				<% @alert = Alert.new() %>
				<%= render partial: "alerts/form" %>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-sm-5">
		<% if current_user.staff? %>
		<%= render partial: "timeline/staff" %>
		<% elsif current_user.student? %>
		<%= render partial: "timeline/items" %>
		<% end %>
	</div>
</div>
