<div style="background-color:white; padding:1em; border-left:1px solid #dddddd; border-bottom:1px solid #dddddd; border-right:1px solid #dddddd;">

	<%= form_tag audit_path, method: 'get' do %>
	  <%= select_tag :pset_id, options_from_collection_for_select(@psets, "id", "name") %>
	  <%= submit_tag 'Filter' %>
	<% end %>

	<table id="grade-table" class="table table-condensed">

		<tr>
			<th>Name</th>
			<th>Submitted</th>
			<th>Started grading</th>
			<th>Finished</th>
			<th>Published</th>
			<th>Discussed</th>
		</tr>

		<% @groups.each do |group|%>
		<tr>
			<td><%= group.name %></td>
			<td><%= group.submits.where(:pset_id => @pset.id).count %></td>
			<td><%= group.grades.where(:submits => { :pset_id => @pset.id }).open.count %></td>
			<td><%= group.grades.where(:submits => { :pset_id => @pset.id }).finished.count %></td>
			<td><%= group.grades.where(:submits => { :pset_id => @pset.id }).published.count %></td>
			<td><%= group.grades.where(:submits => { :pset_id => @pset.id }).discussed.count %></td>
			<td><%= button_to 'Re-open grading for this group', audit_mark_group_open_path(group_id: group.id, pset_id: @pset.id), class: 'btn', data: { confirm: 'This is dangerous stuff' } %></td>
		</tr>
		<% end %>
			

	</table>

</div>
