<%= form_with(model: @alert, id: 'alert_form') do |f| %>

<% if @alert.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

	<ul>
		<% @alert.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="mb-3">
	<%= f.label :title %><br>
	<%= f.text_field :title, class: 'form-control', autofocus:true, required:true %>
</div>
<div class="mb-3">
	<%= f.label :body %><br>
	<%= f.text_area :body, class: 'form-control', rows: 10, required:true %>
</div>
<div class="form-check pl-1 pb-1">
	<label><%= f.check_box :published %> Publish in announcements</label>
</div>
<div class="form-check pl-1 mb-3">
	<label><%= check_box_tag :send_mail %> Send an e-mail with the current text (now!)</label>
</div>

<div class="form-check pl-1 pb-1">
	<label>
		<input type="radio" name="alert[schedule_id]" <%= 'checked="checked"' if @alert.schedule_id.nil? %> required id="optionsRadios1" value="<%= nil %>" style="margin-top:0;"> (for everyone)
	</label>
</div>

<%= f.collection_radio_buttons(:schedule_id, Schedule.all, :id, :name) do |b|
	content_tag(:div, class: 'form-check pl-1 pb-1') { b.label { b.radio_button + " " + b.text } }
end %>


<% end %>
