<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<%= timeline @chart_data, height: "500px" %>


<table class="table caption-top">
	<caption>Questions per hour</caption>
	<thead>
		<tr>
			<th>hour</th>
			<% @week_data.map{|datum| datum[:x]}.uniq.each do |day| %>
			<th scope="col"><%= day %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% (8..23).each  do |hour| %>
		<tr>
			<th><%= hour %></th>
			<% @week_data.map{|datum| datum[:x]}.uniq.each do |day| %>
			<td><%= @week_data.select{|datum| datum[:x]==day && datum[:y]==hour}.first.try(:[], :r)||0 %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<table class="table caption-top">
	<caption>Recent questions</caption>
	<tr>
		<th>created</th>
		<th>closed</th>
		<th>put back</th>
		<th>assistent</th>
		<th>student</th>
		<th>waiting</th>
		<th>helping</th>
	</tr>
	<% @today.each do |entry| %>
	<tr>
		<td><span data-placement="bottom" data-toggle="tooltip" title="<%= entry.help_question %>"><%= entry.created_at.strftime("%H:%M") %></span></td>
		<td>
			<% if entry.done && entry.success %>
			<span class="text-success">v</span>
			<% elsif entry.done && !entry.success %>
			<span class="text-danger">x</span>
			<% end %>
		<td><% if entry.helpline %><span class="btn-close text-danger"></span><% end %></td>
		<td><%= entry.assist.name if entry.assist %></td>
		<td><%= entry.user.name %></td>
		<td>
			<% if entry.claimed_at %>
			<span data-placement="bottom" data-toggle="tooltip" title="<%= entry.note %>"><%= distance_of_time_in_words(entry.claimed_at - entry.created_at) %></span>
			<% elsif entry.closed_at %>
			<%= distance_of_time_in_words(entry.closed_at, entry.created_at) %></button>
			<% else %>
			<%= distance_of_time_in_words(DateTime.now, entry.created_at) %>...
			<% end %>
		</td>
		<td>
			<% if entry.claimed_at && entry.closed_at %>
			<%= distance_of_time_in_words(entry.closed_at, entry.claimed_at) %></button>
			<% elsif entry.claimed_at %>
			<%= distance_of_time_in_words(DateTime.now, entry.claimed_at) %></button>...
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

<script>
	enableTooltips();
</script>
