<% @page_name = t('account.login_or_register') %>

<h1 class="fw-normal text-center"><%= Course.long_name %></h1>

<div class="cards">
    <div>
        <p class="lead text-center">
            <%= t('account.enter_pin_code') %>
        </p>
    </div>

    <%= form_tag(auth_pin_validate_path,
        class: 'mini-app-body d-flex justify-content-between flex-column') do |form| %>

    <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
    <% end %>

    <div>
        <div class="mb-3">
            <label for="exam_code" class="mb-1"><%= t('account.exam_code') %></label>
            <input name="exam_code" type="text" autofocus required
                class="form-control" maxlength="6" size="6" autocomplete="off">
        </div>
        <div>
            <label for="pin_code" class="mb-1"><%= t('account.pin_code') %></label>
            <input name="pin_code" type="text" autofocus required
                class="form-control" maxlength="4" size="4" autocomplete="off">
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <%= link_to t('cancel'), auth_session_logout_path, class: 'btn btn-outline-secondary', 
            data: { turbo: "false" } %>
        <input type="submit" class="btn btn-primary" 
            value="<%= t('account.continue_button') %> &rarr;">
    </div>

    <% end %>
</div>
