<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Grade dump</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<style type="text/css" media="screen">
		table.grades
		{
			background-color:white;
		}
		
		table.grades tr td:nth-child(-n+3)
		{
			white-space:nowrap;
		}
	</style>
</head>
<body>

	<div class="container">

	<% @students.each do |s| %>
		<h3><%= s.name %> (<%= s.login_id %>)</h3>
		<% if s.submits.any? %>
		<table class="table table-condensed grades">
			<tr>
				<th>pset</th>
				<th>grade</th>
				<th>subgrades</th>
				<th>comments</th>
			</tr>
			<% s.submits.each do |sub| %>
			<tr>
				<td><strong><%= sub.pset.name if sub.pset.present? %></strong><br><small><%= sub.created_at.strftime("%d-%m-%Y %H:%M") %></small></td>
				<% if sub.grade.present? %>
				<td><%= sub.grade.assigned_grade %><br><small><%= sub.grade.updated_at.strftime("%d-%m-%Y %H:%M") %> (<%= sub.grade.grader_name %>)</small></td>
				<td>
					<%= sub.grade.subgrades.to_h.values.join(" / ") %>
				</td>
				<td><%= simple_markdown(sub.grade.comments) %></td>
				<% else %>
				<td colspan="3">not graded</td>
				<% end %>
			</tr>
			<% end %>
		</table>
		<% else %>
		No submits.
		<% end %>
	<% end %>
	
	</div>

</body>
