<% content_for :title do %>
<h1>Course administration</h1>
<% end %>

<%= render partial: 'stats', layout: 'modal_card', locals: { title: 'Statistics', subtitle: nil }%>

<%= render partial: 'settings', layout: 'modal_card', locals: { title: 'Registration options', subtitle: nil }%>

<%= render partial: 'new_user', layout: 'modal_card', locals: { title: 'Invite a user', subtitle: nil }%>

<% if Schedule.any? %>
<%= render partial: 'registration', layout: 'modal_card', locals: { title: 'Schedule registration', subtitle: 'Allow students to register for the following schedules' } %>
<% end %>

<%= render partial: 'export', layout: 'modal_card', locals: { title: 'Export results', subtitle: 'Download student results from all schedules for archival' }%>
