<small><%= date_span_with_title(grade.created_at)%></small>
<p><%= grade.pset.name %></p>
<p>
	<% grade.subgrades.each_pair do |k,v| %>
	<button class="btn btn-sm btn-info"><%= k.capitalize %> <span class="badge"><%= v %></span></button>
	<% end %>
	<button class="btn btn-sm btn-primary"> Grade <span class="badge"><%= translate_grade(grade.any_final_grade) %></span></button>
</p>

<%= simple_markdown(grade.comments) %>
<small class="author">Graded by <%= grade.grader.name %></small>
