<div class="pull-right">
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-flash"></span> <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<% @groups.each do |group| %>
			<%= link_to "Move to #{group.name}".html_safe, user_assign_group_path(user_id: @student.id, group_id: group.slug), method: :post, class: 'dropdown-item' + class_if(@student.group_id == group.id, 'disabled') %>
			<% end if @groups %>
			<% if @groups.any? %>
			<div class="dropdown-divider"></div>
			<% end %>
			<% @schedules.each do |schedule| %>
			<%= link_to "Assign to #{schedule.name}".html_safe, user_assign_schedule_path(user_id: @student.id, schedule_id: schedule.id), method: :post, class: 'dropdown-item' + class_if(@student.schedule_id == schedule.id, 'disabled') %>
			<% end %>
			<% if @schedules.any? %>
			<%= link_to 'Remove from all schedules', user_path(id: @student.id, user: { schedule_id: nil }), method: :put, class: 'dropdown-item' %>
			<div class="dropdown-divider"></div>
			<% end %>
			<% if @student.active? %>
			<%= link_to 'Mark as inactive', user_path(id: @student.id, user: { active: false }), method: :put, class: 'dropdown-item' %>
			<% else %>
			<%= link_to 'Mark as active', user_path(id: @student.id, user: { active: true }), method: :put, class: 'dropdown-item' %>
			<% end %>
			<% if @student.done? %>
			<%= link_to 'Mark as not done', user_path(id: @student.id, user: { done: false }), method: :put, class: 'dropdown-item' %>
			<% else %>
			<%= link_to 'Mark as done', user_path(id: @student.id, user: { done: true }), method: :put, class: 'dropdown-item' %>
			<% end %>
			<% if current_user.admin? %>
			<div class="dropdown-divider"></div>
			<%= link_to 'Make assistant', user_path(id: @student.id, user: { role: :assistant }), method: :put, class: 'dropdown-item' %>
			<%= link_to 'Make head', user_path(id: @student.id, user: { role: :head }), method: :put, class: 'dropdown-item' %>
			<%= link_to 'Make admin', user_path(id: @student.id, user: { role: :admin }), method: :put, class: 'dropdown-item' %>
			<%= link_to 'Undo admin', user_path(id: @student.id, user: { role: :student, schedule_id: nil }), method: :put, class: 'dropdown-item' %>
			<div class="dropdown-divider"></div>
			<%= link_to_if GradeTools.available?, 'Calculate final grade', user_calculate_final_grade_path(user_id: @student.id), method: :post, class: 'dropdown-item' %>
			<% end %>
		</ul>
	</div>
</div>

<% if @student.avatar.present? %>
<img src="<%= @student.avatar %>" style="max-width:70px; margin-right:1em;" class="pull-left">
<% end %>


<h4><%= best_in_place @student, :name, as: :input, url: user_path(id: @student.id) %></h4>
<p><%= best_in_place @student, :mail, as: :input, url: user_path(id: @student.id) %><br>
Photo URL: <%= best_in_place @student, :avatar, as: :input, url: user_path(id: @student.id) %></p>

<%= column_chart [
{
	name: "remote",
	data: @student.attendance_records.where(local: [nil, false]).group_by_day(:cutoff, format: "%a %d-%m").count
},
{
	name: "local",
	data: @student.attendance_records.where(local: true).group_by_day(:cutoff, format: "%a %d-%m").count
}
], height: "150px", stacked: true %>





<div id="timeline" class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= form_for(@note) do |f| %>
				<%= f.hidden_field :student_id %>
				<p><%= f.text_area :text, size: "x3", class: "form-control" %></p>
				<p>
					<span class="pull-right">
					<%= f.submit "Add note", class: "btn btn-primary" %>
					</span>
					<% if @student.alarm %>
					<%= button_to "Remove alarm", user_set_alarm_path(user_id: @student.id, alarm: :false), class: "btn btn-xs btn-warning", data: { confirm: "Sure?" } %>
					<% else %>
					<%= button_to "Set alarm", user_set_alarm_path(user_id: @student.id, alarm: true), class: "btn btn-xs btn-warning", data: { confirm: "Sure?" } %>
					<% end %>
				</p>
				<% end %>
			</div>
		</div>
		<% @notes.each do |item| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= render partial: "user/#{item.class.to_s.downcase}", object: item %>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-sm-4">
		<% @hands.each do |item| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= render partial: "user/#{item.class.to_s.downcase}", object: item %>
			</div>
		</div>
		<% end %>
	</div>
	
	<div class="col-sm-4">
	<% @items.each do |item| %>
	<div class="panel panel-default <%= "panel-highlight" if item.updated_at > 1.week.ago %>">
		<div class="panel-body">
			<%= render partial: "#{item.class.to_s.downcase}", object: item %>
		</div>
	</div>
	<% end %>
	</div>
</div>





<script type="text/javascript">
$(".bar").sparkline('html', { type: 'bar', chartRangeMax: 4, barWidth: 8 });
</script>

<script type="text/javascript" charset="utf-8">
$('.best_in_place').best_in_place()
</script>
