<div class="pull-right">
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-flash"></span> <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<% @groups.each do |group| %>
			<li <%= 'class=disabled' if @student.group_id == group.id %> ><%= link_to "Move to #{group.name}".html_safe, user_assign_group_path(user_id: @student.id, group_id: group.slug), method: :post %></li>
			<% end if @groups %>
			<li role="separator" class="divider"></li>
			<% @schedules.each do |schedule| %>
			<li <%= 'class=disabled' if @student.schedule_id == schedule.id %> ><%= link_to "Assign to #{schedule.name}".html_safe, user_assign_schedule_path(user_id: @student.id, schedule_id: schedule.id), method: :post %></li>
			<% end %>
			<% if @student.active? %>
			<li><%= link_to 'Mark as inactive', user_path(id: @student.id, user: { schedule_id: nil }), method: :put %></li>
			<% else %>
			<li><%= link_to 'Mark as active', user_path(id: @student.id, user: { active: true }), method: :put %></li>
			<% end %>
			<% if current_user.admin? %>
			<li role="separator" class="divider"></li>
			<li><%= link_to 'Make assistant', user_path(id: @student.id, user: { role: :assistant }), method: :put %></li>
			<li><%= link_to 'Make head', user_path(id: @student.id, user: { role: :head }), method: :put %></li>
			<li><%= link_to 'Make admin', user_path(id: @student.id, user: { role: :admin }), method: :put %></li>
			<% end %>
			<li role="separator" class="divider"></li>
			<li><%= link_to_if GradeTools.available?, 'Calculate final grade', user_calculate_final_grade_path(user_id: @student.id), method: :post %></li>
		</ul>
	</div>
</div>

<h4><%= best_in_place @student, :name, as: :input, url: user_path(id: @student.id) %></h4>
<p><%= best_in_place @student, :mail, as: :input, url: user_path(id: @student.id) %></p>

<p><span class="bar"><%= @student.attendance %></span></p>

<p><%= best_in_place @student, :schedule_id, as: :select, url: user_path(id: @student.id), collection: Schedule.pluck(:id, :name).prepend([nil, '(Inactive)']), place_holder: '(Inactive)' %></p>

<p>Photo URL: <%= best_in_place @student, :avatar, as: :input, url: user_path(id: @student.id) %></p>



<% @items.each do |item| %>
	<hr>
	<div class="pull-right small"><%= item.created_at.strftime("%A %d %b %Y %R") %></div>
	<%= render partial: item.class.to_s.downcase, object: item %>
<% end %>

<hr>

<%= form_for @student do |f| %>
<%= f.text_area :notes, size: "x8", class: "form-control" %>
<%= f.submit "Save", class: "form-control" %>
<% end %>

<% if @student.avatar.present? %>
<img src="<%= @student.avatar %>" style="max-width:70px">
<% end %>

<script type="text/javascript">
$(".bar").sparkline('html', { type: 'bar', chartRangeMax: 4, barWidth: 8 });
</script>

<script type="text/javascript" charset="utf-8">
$('.best_in_place').best_in_place()
</script>
