<% @groups.each do |group_name, users| %>

<h3 class="mt-4"><%= group_name %></h3>

<ul>
<% users.each do |user| %>
    <li>
        <%= link_to user.name, user, data: { toggle: "modal" }, target: "modal" %>
        /
        <%= user.last_seen_at&.to_fs(:short) %>
        /
        <%= user.location_confirmed? && "C" %>
        <%= link_to "check in", new_hand_path(user_id: user.id) %>
    </li>
<% end %>
</ul>

<% end %>
