<small><%= date_span_with_title(grade.updated_at)%> <%= t(:by) %> <%= grade.grader_name || "Graderbot" %></small>
<h5 class="card-title">
	<%= grade.pset.name %> <%= t(:was_graded) %><br>
</h5>
<p id="grade_buttons">

	<% if Settings.grading && Settings.grading['grades'][grade.pset.name] && Settings.grading['grades'][grade.pset.name]['subgrades'] && !Settings.grading['grades'][grade.pset.name]['hide_subgrades'] %>
		<% Settings.grading['grades'][grade.pset.name]['subgrades'].each_pair do |subgrade_name, unin| %>
		<% k=subgrade_name %>
		<% v=grade.subgrades[k] %>
		<span class="btn btn-sm btn-outline-secondary"><%= k.capitalize %> <span class="badge badge-secondary"><%= translate_subgrade(v) %></span></span>
		<% end %>
	<% end %>

	<% if !Settings.grading || !Settings.grading['grades'][grade.pset.name] || !Settings.grading['grades'][grade.pset.name]['hide_calculated'] %>
	<span class="btn btn-sm btn-outline-primary"> Grade <span class="badge badge-primary"><%= translate_grade(grade.any_final_grade) %></span></span>
	<% end%>

</p>

<%= simple_markdown(grade.comments) %>
