<small><%= date_span(grade.updated_at)%></small>

<h5 class="card-title mb-0">
    <%= grade.pset_name %> <%= t(:was_graded) %><br>
</h5>

<p><%= t(:by) %> <%= grade.grader_name || "Graderbot" %></p>

<p id="grade_buttons">
	<% if grade.grading_config['subgrades'] && !grade.grading_config['hide_subgrades'] %>
		<% grade.grading_config['subgrades'].each_pair do |subgrade_name, unin| %>
		<% k=subgrade_name %>
		<% v=grade.subgrades[k] %>
		<span class="btn btn-sm btn-outline-secondary"><%= k.capitalize %> <span class="badge bg-secondary"><%= translate_subgrade(v) %></span></span>
		<% end %>
	<% end %>

	<% if !grade.grading_config || !grade.grading_config['hide_calculated'] %>
	<span class="btn btn-sm btn-outline-primary"> Grade <span class="badge bg-primary"><%= translate_grade(grade.assigned_grade) %></span></span>
	<% end%>
</p>

<%= simple_markdown(grade.comments) %>
