<small><%= date_span(submit.submitted_at)%></small>
<h5 class="card-title"><%= t "submit.you_submitted", name: submit.pset.name %></h5>

<% if submit.url %>
URL: <%= link_to submit.url, submit.url %>
<% end %>
<% if submit.filenames.any? %>
<p class="mb-1"><%= t "submit.files_submitted" %></p>
<ul class="ps-4">
	<% submit.filenames.each do |name| %>
	<li><code class="text-body"><%= name %></code></li>
	<% end %>
</ul>
<% if Settings.registration_phase != 'exam' %>
<%= link_to 'Download', submission_download_path(submit), class: 'btn btn-sm btn-secondary', data: { turbo: false } %>
<% end %>
<% end %>
<% if submit.has_auto_feedback? %>
<%= link_to t("check_results"), submission_feedback_path(submit), class:"btn btn-sm btn-secondary", target: 'modal' %>
<% end %>
