<% if @submit.has_form_response? %>
<div class="tab-pane <%= (first = false) || 'show active' if first %>" id="form-contents" role="tabpanel" aria-labelledby="home-tab">
	<table class="table">
	<% @submit.form_contents.each do |form_field, field_value| %>
	<tr>
		<td><%= form_field %></td>
		<td><%= field_value %></td>
	</tr>
	<% end %>
	</table>
</div>
<% end %>
<% @files.each do |filename, contents| %>
<div class="tab-pane <%= (first = false) || 'show active' if first %>" id="file-<%= filename.parameterize %>" role="tabpanel" aria-labelledby="home-tab">
	<%= link_to 'd', grading_download_path(grading_submit_id: @submit.id, filename: filename), remote: false, class: 'float-right' %><%= CodeRay.scan(contents, CodeRay::FileType.fetch(filename, :text)).div(:line_numbers => :inline).html_safe %>
</div>
<% end if @files.present? %>
<% if @submit.has_auto_feedback? %>
<div class="tab-pane <%= (first = false) || 'show active' if first %>" id="file-check" role="tabpanel" aria-labelledby="home-tab"><code><pre><%= @submit.formatted_auto_feedback %></code></pre></div>
<% end %>
