<table id="grade-table" class="table table-condensed">

	<tr>
		<th>Name</th>
		<th>ID</th>
        <th>Attend</th>
		<% psets.each do |pset| %>
		<th class="rotate"><div><%= pset.name %></div></th>
		<% end %>
	</tr>

	<% users.each do |user| %>
	<tr>
		<td>
			<%= best_in_place user, :name, as: :input, url: course_change_user_name_path(id: user.id) %>
		</td>

		<td>
			<% if user.mail %>
			<%= link_to user.logins.first.login, 'mailto:' + user.mail %>
			<% else %>
			<%= user.logins.first.login %>
			<% end %>
		</td>
        
        <td><span class="bar"><%= user.attendance %></span></td>

		<% subs = user.submits.group_by(&:pset_id) %>
		<% psets.each do |pset| %>
		<td>
			<%= grade_button(user, pset, subs)%>
		</td>
		<% end %>
	</tr>
	<% end %>

</table>


<script type="text/javascript">
    $(".bar").sparkline('html', { type: 'bar', chartRangeMax: 4, barWidth: 8 });
</script>
