<div id="content">

	<header class="page-header">
		<h1>Grading list</h1>
	</header>

	<table class="table table-bordered">
		<tr>
			<th>pset</th>
			<th>name</th>
			<th>id</th>
			<th>submitted</th>
			<th>grade</th>
			<th></th>
		</tr>
		
		<% @submits.each do |submit| %>
		<tr>
			<td><%= submit.pset.name %></td>
			<td><%= submit.user.name %></td>
			<td><%= submit.user.uvanetid %></td>
			<td><% if submit.submitted_at %><%= submit.submitted_at.to_formatted_s(:short) %> (<%= time_ago_in_words(submit.submitted_at) %> ago)<% end %></td>
			<td><%= submit.grade.grade if submit.grade %></td>
			<td><%= link_to 'grade', grade_form_path(user_id: submit.user_id, pset_id: submit.pset_id) %></td>
		</tr>
		<% end %>
	</ul>
	
</div>
