<div class="cards">
<%= form_tag(hands_raise_path, method: :post, remote: true, style: 'height: 100%;', id: 'assistance-form') do %>

    <!-- action message -->
    
    <label for="assistance-form-question">
        <strong class="fs-5"><%= t('hands.summary')%><br></strong>
        <%= t "hands.briefly_summarize" %>:
    </label>

    <textarea id="assistance-form-question" name="question" class="form-control" rows="3" required placeholder="" autofocus></textarea>

    <!-- location -->

    <% if Settings.hands_link %>
    <input type="text" name="location" class="form-control" required placeholder="<%= t "hands.link" %>" style="margin-top:0.5em" value="<%= current_user.last_known_location %>" pattern="https://.*zoom\.us/j/.*">
    <% elsif Settings.hands_location %>
    <label for="assistance-form-location">
        <strong class="fs-5"><%= t('hands.location') %><br></strong>
        <%= t "hands.enter_location", type: Settings.hands_location_type %>:
    </label>
    <input id="assistance-form-location" type="text" name="location" class="form-control" required placeholder="" value="<%= current_user.last_known_location %>">
    <% end %>

    <!-- submit -->

    <div class="d-grid">
        <button id="ask-button" data-loading-text="<%= t "hands.posting_question" %>" type="submit" class="btn" name="how" value="hands"><%= t "hands.ask_for_assistance" %></button>
    </div>

<% end %>
</div>
