<table class="table table-sm table-borderless">
	<tr>
		<th>Name</th>
		<th>Role</th>
		<th>Grade schedules</th>
		<th>Grade groups</th>
	</tr>

<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.name, user, remote: true %></td>
		<td>
			<%= best_in_place user, :role, as: :select, url: admin_user_set_role_path(user_id: user.id), collection: User.roles.keys.map {|w| [w,w]} %>
		</td>
		<td>
			<div id="schedule_permissions_<%= user.id %>">
			<%= render partial: 'schedule_permissions', locals: { schedules: user.schedules, user: user } %>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="fa fa-plus"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<% @schedules.each do |schedule| %>
					<%= link_to schedule.name, admin_user_add_schedule_permission_path(user_id: user.id, schedule_id: schedule.id), method: :post, remote: true, class:"dropdown-item" %>
					<% end %>
				</ul>
			</div>
		</td>
		<td>
			<div id="group_permissions_<%= user.id %>">
			<%= render partial: 'group_permissions', locals: { groups: user.groups, user: user } %>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="fa fa-plus"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<% @groups.each do |group| %>
					<%= link_to group.name, admin_user_add_group_permission_path(user_id: user.id, group_id: group.id), method: :post, remote: true, class:"dropdown-item" %>
					<% end %>
				</ul>
			</div>
		</td>
	</tr>
<% end %>

</table>

<script type="text/javascript" charset="utf-8">
$('.best_in_place').best_in_place()
</script>
