<%= form_with model: [:admin, @user] do |f| %>
	<%= f.text_field :name, placeholder: 'Name', class: 'form-field' %>
	<%= f.text_field :mail, placeholder: 'E-mail', class: 'form-field' %>
	<% if Schedule.where(self_register: true).count >= 1 %>
	<div class="form-group">
		<% Schedule.where(self_register: true).each do |schedule| %>
		<div class="form-check">
			<input type="radio" name="user[schedule_id]" required id="optionsRadios<%= schedule.id %>" value="<%= schedule.id %>" <%= 'checked' if current_user && current_user.schedule && current_user.schedule.id == schedule.id %>>
			<label for="optionsRadios<%= schedule.id %>">
				<%= schedule.description || schedule.name %>
			</label>
		</div>
		<% end %>
	</div>
	<% elsif Schedule.count == 1 %>
	<%= hidden_field_tag "user[schedule_id]", Schedule.first.id %>
	<% end %>
	<%= f.submit %>
<% end %>
