<table id="grade-table" class="table table-sm table-striped table-responsive">

	<tr>
		<th>Name</th>
		<th><span class="fa fa-sticky-note" aria-hidden="true"></span></th>
		<th><span class="fa fa-exclamation-triangle" aria-hidden="true"></span></th>
		<th>Days</th>
		<% if params[:totals] == 'true' %>
		<th>Total</th>
		<% end %>
		<th class="rotate">Spoken</th>
		<% if params[:status] == 'registered' %>
		<th class="rotate">Start date</th>
		<% end %>
		<th>Latest</th>
	</tr>

	<% users.each do |group, user_list|%>
	<tr><td colspan="20"><%= group ? "#{group.name} (#{user_list.size})" : "Groupless" %></td></tr>

	<% user_list.each do |user| %>
	<tr <%= 'class=table-warning' if user.stagnated? %>>
		<td>
			<%= link_to user.name, user, remote: true, data: { toggle: "modal", target: "#modal-browser" } %>
			<% if user.last_known_location %>
			<span class="fa fa-location-arrow" aria-hidden="true" data-toggle="tooltip" title="<%= user.last_known_location %>"></span>
			<% end %>
		</td>
		
		<td></td>
		
		<td>
			<% if user.alarm %>
			<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
			<% end %>
		</td>
		
		<td class="bar"><%= user.attendance %></td>
		
		<% if params[:totals] == 'true' %>
		<td><%= user.attendance_records.count %></td>
		<% end %>
		
		<td><%= user.questions_count_cache %></td>
		
		<% if params[:status] == 'registered' %>
		<td><%= user.started_at.strftime("%e %b") if user.started_at %></td>
		<% end %>
		

		<td><%= time_ago_in_words(user.last_submitted_at) if user.last_submitted_at %></td>


<% 
	subs = user.submits.group_by(&:pset_id)
	#subs = @student.grades_cache || [] 
%>

<% @psets.each do |pset| %>
<td>
<%= grade_button(user, pset, subs)%>
</td>
<% end %>


	</tr>
	<% end %>

	<% end %>

</table>
