<%# min-width:0 is to allow the div to dictate the width for flexboxed children %>
<a href="<%= @reload_path || root_path %>" class="navbar-brand sd-none sd-md-flex align-items-center p-1 ms-n1 me-auto <%= 'logged_in' if logged_in? %>" style="min-width:0;">

    <div id="course-title" class="d-flex flex-column">
        <span id="course-name"><%= Course.long_name %></span>

        <% if logged_in? %>
        <small class="fw-normal fs-6">
            <%= current_user.name %>
            <% if current_user.designation %>
            <%= '&middot;'.html_safe %>
            <%= current_user.designation %>
            <% end %>
        </small>
        <% end %>
    </div>

</a>
