<%# min-width:0 is to allow the div to dictate the width for flexboxed children %>
<a href="/" class="navbar-brand d-flex align-items-center mr-auto fw-bold flex-fill" style="min-width:0;">

	<%= bootstrap_icon "terminal", class: "pull-left rounded mr-2 flex-shrink-0 p-1 d-none d-md-block", width:32, height:32, style: 'vertical-align:bottom;' %>

	<div id="course-title" class="d-flex flex-column text-truncate">
		<span><%= Course.long_name %></span>

		<% if logged_in? %>
		<small class="fw-normal fs-6">
			<%= current_user && current_user.name || session[:cas_user] %>
			<%= '&middot;'.html_safe if current_user && user_designation %>
			<%= user_designation %>
		</small>
		<% end %>
	</div>

</a>
