<div class="navbar-brand py-0 d-flex align-items-center" style="min-width:0;">
	<a href="/"><%= icon "terminal", class: "pull-left bg-warning rounded mr-2", size: '32x32', style: 'vertical-align:bottom;' %></a>

	<div id="course-title" class="d-flex flex-column">
		<a id="course-name" href="/" class="navbar-brand py-0">
			<%= Settings["course"] && Settings["course"]["name"] %>
		</a>
	
		<% if logged_in? %>
		<small class="text-truncate">
			<%= current_user && current_user.name || session[:cas_user] %>
			<%= '&middot;'.html_safe if current_user && user_designation %>
			<%= user_designation %>
		</small>
		<% end %>
	</div>
</div>

<!-- <div class="d-none d-md-inline align-items-center">
	<% if Settings['keyword_index'].present? %>
	<a class="ml-3" data-toggle="collapse" data-target=".multi-collapse" href="#" role="button" aria-expanded="false" aria-controls="sidebarCollapse">
		<%= icon 'search' %>
	</a>
	<% end %>
</div> -->
