<% if logged_in? %>

<% if alerts_for_current_schedule.any? %>
<a href="/announcements">
    <%= bootstrap_icon 'bell-fill' %><label><%= t(:announcements) %></label>
</a>
<% end %>

<% if current_user.submits.where("submitted_at is not null").any? %>
<a href="/submissions">
    <%= bootstrap_icon 'kanban' %><label><%= t(:submissions) %></label>
</a>
<% end %>

<% if current_schedule && current_schedule.page %>
<a href="/syllabus">
    <%= bootstrap_icon 'calendar' %><label><%= t(:syllabus) %></label>
</a>
<% end %>

<% end %>

<% Course.links.each do |title, url|  %>
<%= link_to insert_icon(title).html_safe, url, class:"", target: url =~ /^http/i ? '_blank' : nil %>
<% end %>
