<ul id="icon-nav" class="navbar-nav ml-auto">
	<% if Settings.hands_allow && current_user.valid_profile? %>
	<li class="nav-item dropdown" id="ama-nav">
		<a href="#" id="ama-dd" class="bg-white rounded-pill p-2 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon "hand-pointer-o", class: "fa-fw" %><%= Hand.waiting.count if current_user.staff? %></a>
		<div class="dropdown-menu dropdown-menu-right" id="ama-menu">
			<%= render 'ama' %>
		</div>
	</li>
	<% end %>

	<% if !authenticated? %>
	<li><%= link_to("Sign in".html_safe, session_login_path)%></li>
	<% elsif logged_in? %>
	<%= render 'menu' %>
	<% end %>
</ul>

<% if is_local_ip? && current_user.student? && current_user.last_known_location.blank? %>
<script>
	$.ajax('<%= hands_raise_path %>');
</script>
<% else %>
<script>
	$('#ama-nav').one('show.bs.dropdown', function(e) {
		$.ajax('<%= hands_raise_path %>');
	})
</script>
<% end %>
