<ul id="icon-nav" class="navbar-nav align-items-center ml-auto">
	<% if current_user.senior? %>
	<div>
		<%= render partial: 'search' %>
	</div>
	<% end %>

	<%# Admin user search%>

	<% if Settings.hands_allow && current_user.valid_profile? %>
	<li class="nav-item dropdown" id="ama-nav">
		<a href="#" id="ama-dd" class="nav-link bg-light rounded-pill d-block py-1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<%= bootstrap_icon "question-circle-fill", size: '24x24', style: 'vertical-align:-0.255em;' %><%= tag.span(Hand.waiting.count, class:'ml-1') if current_user.staff? %></a>
		<div class="dropdown-menu dropdown-menu-right" id="ama-menu">
			<%= render 'ama' %>
		</div>
	</li>
	<% end %>

	<% if !authenticated? %>
	<li><%= link_to("Sign in".html_safe, session_login_path, class:"bg-light rounded-pill px-2 py-1 d-inline-block", style:"background-color:#DBE6EC", data: { turbolinks: false })%></li>
	<% else #if logged_in? %>
	<%= render 'menu' %>
	<% end %>
</ul>

<% if is_local_ip? && current_user.student? && current_user.last_known_location.blank? %>
<script>
	Rails.ajax({
		url: '<%= hands_raise_path %>',
		type: 'get'
	});
</script>
<% else %>
<script>
	$('#ama-nav').one('show.bs.dropdown', function(e) {
		Rails.ajax({
			url: '<%= hands_raise_path %>',
			type: 'get'
		});
	})
</script>
<% end %>
