<% if current_user.admin? || current_schedule.schedule_spans.accessible.many? %>

<div class="dropdown" style="min-width: 0">
	<button id="scheduleDropdown" class="btn btn-link nav-head text-dark m-0 p-0 dropdown-toggle text-truncate <%= 'unavailable' if !current_module.public? %>" type="button" data-bs-toggle="dropdown" data-bs-boundary="window" aria-expanded="false">
		<%= current_module.name %>
	</button>

	<ul class="dropdown-menu" aria-labelledby="scheduleDropdown">
		<% current_schedule.schedule_spans.accessible.order(:rank).each do |mod| %>
		<li class="d-flex align-items-center">
			<% if current_user.admin? %>
			<%= checkbox_for(mod, :public, mod.public,
				admin_course_update_schedule_span_path(id: mod.id),
				form: { html: { class: 'ms-3' } } ) do end %>
			<% end %>
			<%= button_to mod.name, profile_set_module_path(module: mod.id), 
				method: :post, remote: true,
				class: "w-100 dropdown-item #{'unavailable' if !mod.public?}",
				form: { data: {'turbo-frame': 'sidebar-frame'}, class: 'w-100' } %>
		</li>
		<% end %>
	</ul>
</div>

<% else %>

<span class="nav-head text-dark m-0 p-0">
	<%= current_module.name %>
</span>

<% end %>
