<div id="sidebar-content" data-turbo-permanent class="sidebar-collapse sidebar-scroller flex-grow-1 turbolinks-disable-scroll collapse">
<turbo-frame id="sidebar-frame" target="_top">

	<% if Course.modules.any? %>
	<ul class="nav">
		<li>
			<p class="ml-1"><%= current_module ? t(:other) : t(:modules) %></p>
		</li>
		<% Course.modules.each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
	</ul>
	<% end %>

	<%# Schedule-based navigation %>

	<% if current_module %>
	<ul class="nav">
		<li>
			<div class="nav-head mx-1 text-dark d-flex align-items-center flex-row">
				<div id="schedule_name" class="<%= 'unavailable' if !current_module.public? %>">
					<%= current_module.name %>
				</div>
				<% if current_schedule.self_service %>
				<div class="ml-auto mr-n1 spr-1">
					<%= button_to prev_module.present? ? profile_prev_path : '', method: :post, id: 'schedule_prev_button', disabled:!prev_module.present?, class: 'btn btn-link p-0', form: { style: "display:inline;", data: {'turbo-frame': 'sidebar-frame'} } do bootstrap_icon('chevron-left', class: 'rounded', style: 'vertical-align:-4px;').html_safe end %>
					<%= button_to next_module.present? ? profile_next_path : '', method: :post, id: 'schedule_next_button', disabled:!next_module.present?, class: 'btn btn-link p-0', form: { style: "display:inline;", data: {'turbo-frame': 'sidebar-frame'} } do bootstrap_icon('chevron-right', class: 'rounded', style: 'vertical-align:-4px;').html_safe end %>
				</div>
				<% end %>
			</div>
		</li>
		<li id="schedule">
			<%= links_to_ul(current_module.content) %>
		</li>
	</ul>
	<% end %>

	<%# Navigation items from section that current page belongs to %>

	<% if !current_module && @section.present? && @section.content_links.present? %>
	<ul class="nav">
		<li>
			<p class="nav-head"><%= @section.title %></p>
		</li>
		<li>
			<%= links_to_ul(@section.content_links) %>
		</li>
	</ul>
	<% end %>

	<%# All pages by section, but users only see "published" pages here %>

	<% if current_schedule.blank? && current_sections.any? %>
	<ul id="sections" class="nav">
		<li>
			<p class="nav-head"><%= current_module ? t(:other) : t(:materials) %></p>
		</li>
		<li>
			<ul class="nav materials">
				<%= material_links_to_li(current_sections) %>
			</ul>
		</li>
	</ul>
	<% end %>

</turbo-frame>
</div>
