<div id="sidebar-tools" class="flex flex-column navbar navbar-expand flex-shrink-0" style="z-index:1000;">
    <div class="container-fluid px-0">
        <button class="navbar-toggler border-0 px-0 d-block d-lg-none me-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-content" aria-controls="sidebar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary" style="vertical-align:-4px;"><%= bootstrap_icon 'list', width:32, height:32 %></span>
        </button>
        <%= render 'brand' %>
        <ul class="navbar-nav d-flex">
            <% if authenticated? %>
            <%= render 'hands_menu' %>
            <% end %>
            <%= render 'menu' %>
        </ul>
    </div>
    <% if current_user.staff? %>
    <div class="container-fluid px-0 mt-2 flex-fill">
        <%= render partial: 'search' %>
    </div>
    <% end %>
</div>

<%# Main navigation%>

<div id="sidebar-content" data-turbo-permanent class="sidebar-collapse sidebar-scroller flex-grow-1 turbolinks-disable-scroll collapse">
    <%= render 'sidebar_content' %>
</div>

<%= render 'course_links' %>
