<div id="sidebar-tools" class="navbar navbar-light navbar-expand flex-shrink-0" style="z-index:1000">
	<div class="container-fluid">
		<%= render 'brand'%>
		<% if !authenticated? %>
		<li class="navbar-nav d-block d-md-none"><%= link_to("Sign in".html_safe, session_login_path, class:"d-inline-block", data: { turbolinks: false })%></li>
		<% else #if logged_in? %>
		<div class="navbar-nav d-flex d-md-none ">
			<%= render 'menu' %>
		</div>
		<% end %>
	
		<button class="navbar-toggler border-0 px-0 d-block d-md-none" type="button" data-toggle="collapse" data-target="#sidebar-content,#course-links" aria-controls="sidebar-content" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<% if Settings['keyword_index'].present? %>
<div class="collapse multi-collapse" id="multiCollapseExample2">
	<div class="d-flex align-items-center">
		<form class="form-inline w-100">
			<small class="ml-1">Find resources by keyword:</small>
			<input id="keyword-search" type="search" autocomplete="off" class="w-100 form-control form-control-sm border-secondary" placeholder="" aria-label="Enter topic name">
		</form>
		<a class="ml-3" data-toggle="collapse" data-target=".multi-collapse" href="#" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
			x</a>
		</div>
				
		<%= render 'search/search' %>
	</div>
	<% end %>

<%# Main navigation%>

<div id="sidebar-content" class="sidebar-collapse sidebar-scroller flex-grow-1 turbolinks-disable-scroll collapse">


	<% if Course.modules.any? %>
	<ul class="nav">
		<li>
			<p class="ml-1"><%= current_module ? t(:other) : t(:modules) %></p>
		</li>
		<% Course.modules.each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
	</ul>
	<% end %>

	<%# Schedule-based navigation %>

	<% if current_module %>
	<ul class="nav">
		<li>
			<p class="nav-text mx-1 text-dark">
				<span id="schedule_name" class="<%= 'text-danger' if !current_module.public? %>"><%= current_module.name %></span>
				<% if current_schedule.self_service %>
				<span class="float-right mr-n1 spr-1">
					<%= link_to bootstrap_icon('chevron-left', class: 'rounded').html_safe, prev_module.present? ? profile_prev_path : '', method: :post, remote: true, id: 'schedule_prev_button', disabled:!prev_module.present? %>
					<%= link_to bootstrap_icon('chevron-right', class: 'rounded').html_safe, next_module.present? ? profile_next_path : '', method: :post, remote: true, id: 'schedule_next_button', disabled:!next_module.present? %>
				</span>
				<% end %>
			</p>
		</li>
		<li id="schedule">
			<%= links_to_ul(current_module.content) %>
		</li>
	</ul>
	<% end %>

	<script>
		// clear cache whenever the schedule is changed by user
		$(document).on('ajax:before', '[data-remote]', () => {
			Turbolinks.clearCache();
		});
	</script>

	<%# Navigation items from section that current page belongs to %>

	<% if !current_module && @section.present? && @section.content_links.present? %>
	<ul class="nav">
		<li>
			<p class="nav-text"><%= @section.title %></p>
		</li>
		<li>
			<%= links_to_ul(@section.content_links) %>
		</li>
	</ul>
	<% end %>

	<%# All pages by section, but users only see "published" pages here %>

	<% if current_schedule.blank? && current_sections.any? %>
	<ul id="sections" class="nav">
		<li>
			<p class="nav-text"><%= current_module ? t(:other) : t(:materials) %></p>
		</li>
		<li>
			<ul class="nav materials">
				<%= material_links_to_li(current_sections) %>
			</ul>
		</li>
	</ul>
	<% end %>

	<%# User menu items are shown in sidebar on small screens %>

	<!-- <ul id="user-menu-sidebar" class="nav d-md-none">
		<li>
			<p class="nav-text">Menu</p>
		</li>
		<% if !authenticated? %>
		<li><%= link_to("Sign in".html_safe, session_login_path, class:"nav-link", data: { turbolinks: false })%></li>
		<% elsif logged_in? %>
		<%= render partial: 'menu_items' %>
		<% end %>
	</ul> -->

</div>

<div id="course-links" class="flex-shrink-0 row sidebar-collapse collapse">
	<% if logged_in? && alerts_for_current_schedule.any? %>
		<div style="flex:1 0 0; min-width:0"><a href="/announcements" class="d-block w-100 text-center text-truncate p-1 rounded"><%= bootstrap_icon 'bell-fill' %><br><small><%= t(:announcements) %></small></a></div>
	<% end %>
	<% if logged_in? && current_user.submits.any? %>
		<div style="flex:1 0 0; min-width:0"><a href="/submissions" class="d-block w-100 text-center text-truncate p-1 rounded"><%= bootstrap_icon 'kanban' %><br><small><%= t(:submissions) %></small></a></div>
	<% end %>
	<% if current_schedule.page %>
		<div style="flex:1 0 0; min-width:0"><a href="/syllabus" class="d-block w-100 text-center text-truncate p-1 rounded"><%= bootstrap_icon 'calendar' %><br><small><%= t(:syllabus) %></small></a></div>
	<% end %>
	<% Course.links.each do |title, url|  %>
		<div style="flex:1 0 0; min-width:0"><%= link_to insert_icon(title).html_safe, url, class:"d-block w-100 w-100 text-center text-truncate p-1 rounded", target: url =~ /^http/i ? '_blank' : '' %></div>
	<% end if logged_in? %>
</div>
