<ul class="navbar-nav button-bar d-grid d-md-none me-0">
    <%= render 'course_links' %>

    <% if Settings.hands_allow %>
    <% unless current_user.assistant? %>
    <a href="/assistance">
        <%= bootstrap_icon "question-circle" %>
        <label><%= t 'hands.assistance' %></label>
    </a>
	<% end %>

    <% if current_user.staff? %>
    <a href="/hands">
        <%= bootstrap_icon "people" %>
        <label>Hands</label>
    </a>
    <% end %>
    <% end %>
</ul>

<hr class="d-md-none">

<%= render 'sidebar_content' %>
