<div id="sidebar-content" class="collapse sidebar-collapse navbar-collapse p-3 px-lg-4">

	<%# User registration form %>
	
	<% if !logged_in? && authenticated? %>
	<div class="card mt-3">
		<%= render 'profile/edit' %>
	</div>
	<% end %>

	<%# Admin user search%>

	<% if current_user.senior? %>
	<div class="w-100">
		<%= render partial: 'search' %>
	</div>
	<% end %>
	
	<%# Main navigation%>

	<ul class="nav">
		<% if logged_in? && @alerts.any? %>
		<li><a href="/announcements" class="nav-link"><%= icon 'bell-fill' %> <%= t(:announcements) %></a></li>
		<% end %>
		<% if logged_in? && current_user.submits.any? %>
		<li><a href="/submissions" class="nav-link"><%= icon 'kanban' %> <%= t(:submissions) %></a></li>
		<% end %>
		<li><a href="/syllabus" class="nav-link"><%= icon 'calendar' %> <%= t(:syllabus) %></a></li>
		<% if Settings['links'] %>
		<% Settings['links'].each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
		<% end %>
	</ul>
	
	<%# Schedule-based navigation %>

	<% if @current_module %>
	<ul class="nav">
		<li>
			<p class="nav-text">
				<span id="schedule_name"><%= @current_module.name %></span>
				<% if @current_schedule.self_service %>
				<span class="pull-right">
					<%= link_to icon('chevron-left').html_safe, profile_prev_path, method: :post, remote: true %>
					<%= link_to icon('chevron-right').html_safe, profile_next_path, method: :post, remote: true %>
				</span>
				<% end %>
			</p>
		</li>
		<li id="schedule">
			<%= links_to_ul(@current_module.content) %>
		</li>
	</ul>
	<% end %>

	<%# Navigation items from section %>

	<% if @section.present? && @section.content_links.present? %>
	<ul class="nav">
		<li>
			<p class="nav-text"><%= @section.title %></p>
		</li>
		<li>
			<%= links_to_ul(@section.content_links) %>
		</li>
	</ul>
	<% end %>

	<%# All pages by section, but users only see "published" pages here %>

	<% if @sections.length > 0 %>
	<ul id="sections" class="nav">
		<li>
			<p class="nav-text"><%= @current_module ? t(:other) : t(:materials) %></p>
		</li>
		<li>
			<ul class="nav">
				<%= render 'sections' %>
			</ul>
		</li>
	</ul>
	<% end %>

	<%# User menu items are shown in sidebar on small screens %>

	<ul class="nav d-md-none">
		<li>
			<p class="nav-text">Menu</p>
		</li>
		<% if !authenticated? %>
		<li><%= link_to("Sign in".html_safe, session_login_path, class:"nav-link")%></li>
		<% elsif logged_in? %>
		<%= render partial: 'menu_items', locals: { context: :sidebar } %>
		<% end %>
	</ul>

</div>
