<div id="sidebar-content" class="collapse sidebar-collapse navbar-collapse">

	<%# User registration form %>
	
	<% if authenticated? && !current_user.valid_profile? && Schedule.default.present? %>
	<div class="card mt-3">
		<%= render 'profile/edit' %>
	</div>
	<% end %>
	
	<%# Main navigation%>
	
	<div id="course-links" class="contasiner">
		<div class="row mx-1 m-0">
			<% if logged_in? && alerts_for_current_schedule.any? %>
			<div class="col-6 col-xl-4 px-1 mb-1"><a href="/announcements" class="d-block w-100 text-truncate p-2 bg-light rounded"><%= icon 'bell-fill' %> <%= t(:announcements) %></a></div>
			<% end %>
			<% if logged_in? && current_user.submits.any? %>
			<div class="col-6 col-xl-4 px-1 mb-1"><a href="/submissions" class="d-block w-100  text-truncate p-2 bg-light rounded"><%= icon 'kanban' %> <%= t(:submissions) %></a></div>
			<% end %>
			<div class="col-6 col-xl-4 px-1 mb-1"><a href="/syllabus" class="d-block w-100 text-truncate p-2 bg-light rounded"><%= icon 'calendar' %> <%= t(:syllabus) %></a></div>
			<% Course.links.each do |title, url|  %>
			<div class="col-6 col-xl-4 px-1 mb-1"><%= link_to title.html_safe, url, class:"d-block w-100  w-100 text-truncate p-2 bg-light rounded" %></div>
			<% end %>
		</div>
	</div>

	<!--ul id="course-links" class="nav">
		<% if logged_in? && alerts_for_current_schedule.any? %>
		<li><a href="/announcements" class="nav-link text-truncate"><%= icon 'bell-fill' %> <%= t(:announcements) %></a></li>
		<% end %>
		<% if logged_in? && current_user.submits.any? %>
		<li><a href="/submissions" class="nav-link text-truncate"><%= icon 'kanban' %> <%= t(:submissions) %></a></li>
		<% end %>
		<li><a href="/syllabus" class="nav-link text-truncate"><%= icon 'calendar' %> <%= t(:syllabus) %></a></li>
		<% Course.links.each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link text-truncate" %></li>
		<% end %>
	</ul-->
	
	<% if Course.modules.any? %>
	<ul class="nav">
		<li>
			<p class="nav-text"><%= @current_module ? t(:other) : t(:modules) %></p>
		</li>
		<% Course.modules.each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
	</ul>
	<% end %>
	
	<%# Schedule-based navigation %>

	<% if current_module %>
	<ul class="nav">
		<li>
			<p class="nav-text">
				<span id="schedule_name" class="text-dark"><%= @current_module.name %></span>
				<% if current_schedule.self_service %>
				<span class="float-right">
					<%= link_to icon('chevron-left').html_safe, profile_prev_path, method: :post, remote: true %>
					<%= link_to icon('chevron-right', class: 'mr-n1').html_safe, profile_next_path, method: :post, remote: true %>
				</span>
				<% end %>
			</p>
		</li>
		<li id="schedule">
			<%= links_to_ul(@current_module.content) %>
		</li>
	</ul>
	<% end %>
	
	<script>
		// clear cache whenever the schedule is changed by user
		$(document).on('ajax:before', '[data-remote]', () => {
			Turbolinks.clearCache();
		});
	</script>

	<%# Navigation items from section that current page belongs to %>

	<% if !current_module && @section.present? && @section.content_links.present? %>
	<ul class="nav">
		<li>
			<p class="nav-text"><%= @section.title %></p>
		</li>
		<li>
			<%= links_to_ul(@section.content_links) %>
		</li>
	</ul>
	<% end %>

	<%# All pages by section, but users only see "published" pages here %>

	<% if current_sections.length > 0 %>
	<ul id="sections" class="nav" data-turbolinks-permanent>
		<li>
			<p class="nav-text"><%= @current_module ? t(:other) : t(:materials) %></p>
		</li>
		<li>
			<ul class="nav">
				<%= render 'sections' %>
			</ul>
		</li>
	</ul>
	<% end %>

	<%# User menu items are shown in sidebar on small screens %>

	<ul id="user-menu-sidebar" class="nav d-md-none">
		<li>
			<p class="nav-text">Menu</p>
		</li>
		<% if !authenticated? %>
		<li><%= link_to("Sign in".html_safe, session_login_path, class:"nav-link", data: { turbolinks: false })%></li>
		<% elsif logged_in? %>
		<%= render partial: 'menu_items' %>
		<% end %>
	</ul>

</div>
