<div class="col-12">

	<h1><%= @pset.name %></h1>

	<%= form_tag test_save_path(test_id: @pset.id) do |f| %>
	<table class="table" style="width:auto">
		<tr>
			<td>Name</td>
			<% if @pset.config %>
			<% @pset.config['subgrades'].each do |subgrade_name, subgrade_type| %>
			<td><%= subgrade_name.capitalize %></td>
			<% end %>
			<% end %>
			<td>Notes</td>
		</tr>
		<% @students.each do |s| %>
		<tr>
			<td>
				<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%= s.name %>">
			</td>
			<% if @pset.config %>
			<% bla = s.submits.where(pset_id: @pset.id).first%>
			<% @pset.config['subgrades'].each do |subgrade_name, subgrade_type| %>
			<td>
				<input type="text" name="grades[<%= s.id %>][subgrades][<%= subgrade_name %>]" class="form-control" placeholder="" value="<%= bla.grade.subgrades[subgrade_name] if bla && bla.grade %>">
			</td>
			<% end %>
			<td>
				<input type="text" name="grades[<%= s.id %>][notes]" class="form-control" placeholder="" value="<%= bla.grade.notes if bla && bla.grade %>">
			</td>
			<% end %>
		</tr>
		<% end %>
	</table>
	<input type="submit">
	<% end %>

</div>
