<%= form_tag '/profile/save', class:'profile-form px-4 py-3' do |f| %>

<p>Please register! This will allow you to submit problems and otherwise participate in the course. If you're just browsing around, feel free to ignore.</p>

<div class="form-group">
	<label for="user_name">First and last name</label>
	<%= text_field_tag('user[name]', (current_user.name if current_user), required:true, class:'form-control', autofocus:true) %>
</div>
<div class="form-group">
	<label for="user_mail">E-mail</label>
	<%= text_field_tag('user[mail]', (current_user.mail if current_user), required:true, class:'form-control') %>
</div>
			
<% if Schedule.where(self_register: true).count > 1 %>
<div class="form-group">
	<label>Your schedule</label>

	<% Schedule.where(self_register: true).each do |schedule| %>
	<div class="form-check">
		<input type="radio" name="user[schedule_id]" required id="optionsRadios<%= schedule.id %>" value="<%= schedule.id %>" <%= 'checked' if current_user && current_user.schedule && current_user.schedule.id == schedule.id %>>
		<label for="optionsRadios<%= schedule.id %>">
			<%= schedule.description || schedule.name %>
		</label>
	</div>
	<% end %>
</div>
<% elsif Schedule.count == 1 %>
<%= hidden_field_tag "user[schedule_id]", Schedule.first.id %>
<% end %>

<p><%= submit_tag 'Create Profile', class:'btn btn-primary' %> <%= link_to 'Logout', session_logout_path, class: 'btn btn-secondary pull-right' %></p>

<% end %>
