<h1>Grades</h1>

<% if @grades.present? %>

<% @grades.each do |grade| %>

<h2><%= grade.submit.pset.name %></h2>

<table class="table table-bordered" style="width:auto">
	<% if Settings.grading && Settings.grading['grades'] && Settings.grading['grades'][grade.submit.pset.name] && Settings.grading['grades'][grade.submit.pset.name]['subgrades'] %>
	<% Settings.grading['grades'][grade.submit.pset.name]['subgrades'].each do |subname, subvalue| %>
	<% if grade.subgrades[subname].present? %>
	<tr>
		<td><%= subname.capitalize %></td>
		<td><%= grade.subgrades[subname] %></td>
	</tr>
	<% end %>
    <% end %>
	<% end %>
    <% if grade.grade %>
	<tr>
		<td>Final</td>
		<td><%= translate_grade(grade.grade) %></td>
	</tr>
    <% end %>
</table>

<%= simple_markdown(grade.comments) %>

<% end %>

<% else %>

You have no grades yet <code>:(</code>

<% end %>

