<%= form_tag '/profile/save', class:'form-horizontal' do |f| %>

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">Please register</h2>
		</div>
		<div class="modal-body" style="padding:4em;">

			<div class="form-group">
				<label class="col-sm-4 control-label" for="user_name">First and last name</label>
				<div class="col-sm-8">
					<%= text_field_tag('user[name]', (current_user.name if current_user), required:true, class:'form-control', autofocus:true) %>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="user_mail">E-mail</label>
				<div class="col-sm-8">
					<%= text_field_tag('user[mail]', (current_user.mail if current_user), required:true, class:'form-control') %>
				</div>
			</div>
			<div class="form-group">
                <div class="col-sm-4"></div>
				<div class="col-sm-8">
                    <div class="checkbox">
    				<label class="" for="user_monitoring_consent">
                        <%= hidden_field_tag 'user[monitoring_consent]', false %>
                        <%= check_box_tag('user[monitoring_consent]', "1", current_user && current_user.monitoring_consent) %>
                        Sta toe gegevens te verzamelen én op basis hiervan feedback te geven over je voortgang.
                    </label>
                    </div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<!-- <button type="button" class="btn btn-default">Cancel / Logout</button> -->
			<%= link_to 'Cancel', '/profile/logout', class: 'btn btn-default' %>
			<%= submit_tag 'Create Profile', class:'btn btn-primary' %>
		</div>
	</div>
</div>


<% end %>
