<table class="table">
	<tr>
		<th>done</th>
		<th>assistent</th>
		<th>student</th>
		<th>created</th>
		<th>updated</th>
		<th>mood</th>
	</tr>
	<% @today.each do |entry| %>
	<tr>
		<td><%= entry.done ? "v" : "" %>
		<td><%= entry.assist.name if entry.assist %></td>
		<td><%= entry.user.name %></td>
		<td><%= entry.created_at.strftime("%H:%M") %></td>
		<td><%= entry.updated_at.strftime("%H:%M") %></td>
		<td><%= entry.evaluation %></td>
	</tr>
	<% end %>
</table>
