<table class="table">
	<tr>
		<th>created</th>
		<th>done</th>
		<th>found/success</th>
		<th>hulplijn</th>
		<th>assistent</th>
		<th>student</th>
		<th>waiting</th>
		<th>helping</th>
		<th>mood</th>
	</tr>
	<% @today.each do |entry| %>
	<tr>
		<td><span data-placement="bottom" data-toggle="tooltip" title="<%= entry.help_question %>"><%= entry.created_at.strftime("%H:%M") %></span></td>
		<td><%= entry.done ? "v" : "" %></td>
		<td><%= entry.success ? "v" : "x" %></td>
		<td><% if entry.helpline %><span class="glyphicon glyphicon-phone-alt text-danger"></span><% end %></td>
		<td><%= entry.assist.name if entry.assist %></td>
		<td><%= entry.user.name %></td>
		<td>
			<% if entry.claimed_at %>
			<span data-placement="bottom" data-toggle="tooltip" title="<%= entry.note %>"><%= distance_of_time_in_words(entry.claimed_at - entry.created_at) %></span>
			<% else %>
			<%= distance_of_time_in_words(DateTime.now, entry.created_at) %>
			<% end %>
		</td>
		<td>
			<% if entry.claimed_at && entry.closed_at %>
			<%= distance_of_time_in_words(entry.closed_at, entry.claimed_at) %></button>
			<% end %>
		</td>
		<td><%= entry.evaluation %></td>
	</tr>
	<% end %>
</table>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
