<% content_for :title do %>
<h1>Import groups</h1>
<% end %>

<p>
	<%= pluralize(@result.count, 'student') %> found and <%= pluralize(@groups, 'group') %>.
	<% if @groups==0 %>
	All group assignments will be removed.
	<% else %>
	Review group assignments and confirm below. Note that any existing group assignments will be removed.
	<% end %>
</p>

<p>
	Although names and e-mail addresses may be listed below, these will not be changed for existing users, nor will any users be added.
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Group</th>
            <th scope="col">Name</th>
            <th scope="col">Mail</th>
        </tr>
    </thead>
    <tbody>
        <% @result.each do |user| %>
        <tr>
            <td><%= user[0].join(',') %></td>
            <td><%= user[1] || '(no group)' %></td>
            <td><%= user[2] %></td>
            <td><%= user[3] %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= form_with url: schedule_import_groups_path(
			  schedule_id: params[:schedule_id]),
			  method: :post,
			  id: 'import_groups_form',
			  data: { 'turbo-frame' => '_top' } do %>
	<textarea name="paste" class="form-control"><%= @paste %></textarea>
<% end %>

<% content_for :footer do %>
<input type="submit" class="btn btn-primary" form="import_groups_form" data-confirm="Are you sure you want to overwrite all group assignments?">
<% end %>
