<div class="brand flex-fill align-items-center">

	<%= fa_icon "terminal", class: "pull-left fa-2x text-warning" %>

	<div class="d-flex flex-column flex-fill">
		<a href="/" class="navbar-brand pb-0 flex-fill d-flex">
			<span class="course-name"><%= Settings["course"] && Settings["course"]["name"] %></span>
		</a>
		
		<% if @group_name || @current_schedule_name %>
		<% if current_user.admin? && Schedule.count > 1 %>
		
		<div class="dropdown">
			<a class="dropdown-toggle" href="#" role="button" id="schedule_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= @group_name || @current_schedule_name %></a>

			<div class="dropdown-menu" aria-labelledby="schedule_dropdown">
				<% Schedule.all.each do |s| %>
				<%= link_to s.name, user_assign_schedule_path(user_id: current_user.id, schedule_id: s.id), method: :post, class: "dropdown-item" %>
				<% end %>
			</div>
		</div>
		<% else %>
		<%= @group_name || @current_schedule_name %>
		<% end %>
		<% end %>
	</div>

	<div class="d-none d-md-inline align-items-center">
		<% if Settings['keyword_index'].present? %>
		<a class="ml-3" data-toggle="collapse" data-target=".multi-collapse" href="#" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
			<%= fa_icon 'search', class: 'fa-lg' %>
		</a>
		<% end %>
	</div>

</div>
