<ul id="icon-nav" class="navbar-nav ml-auto">
	
	<% if current_user.senior? %>
	<div id="search" class="dropdown form-inline">
		<input id="student-search" type="text" autocomplete="off" class="form-control form-control-sm border-secondary" placeholder="Find student" aria-label="Find student">
		<div id="search-results" class="dropdown-menu w-100"></div>
	</div>
	<% end %>

	<script>
		$('#student-search').on('paste input', function(e) {
			$.ajax('<%= students_find_path %>', { data: { text: $('#student-search').val() } });
			true;
		})
	</script>

	<% if Settings.hands_allow && current_user.valid_profile? %>
	<li class="nav-item dropdown" id="ama-nav">
		<a href="#" id="ama-dd" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon "hand-pointer-o", class: "fa-fw" %></a>
		<div class="dropdown-menu dropdown-menu-right" id="ama-menu">
			<%= render 'layouts/ama' %>
		</div>
	</li>
	<% end %>

	<% if logged_in? %>
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
			<span class="d-inline d-md-none">
			<%= fa_icon "user", class: "fa-fw" %>
			</span>
			<span class="d-none d-md-inline">
			<%= current_user && current_user.name || session[:cas_user] %>
			(<%= current_user.login_id %>)
			</span>
		</a>
		<ul class="dropdown-menu dropdown-menu-right" id="user-menu">
			<%= render 'layouts/menu' %>
		</ul>
	</li>
	<% elsif authenticated? %>
	<li class="nav-item dropdown ">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
			<span class="d-inline d-md-none">
			<%= fa_icon "user", class: "fa-fw" %>
			</span>
			<span class="d-none d-md-inline">
			<%= current_user && current_user.name || session[:cas_user] %>
			</span>
		</a>
		<div class="dropdown-menu dropdown-menu-right register-menu" id="user-menu">
			<%= render 'profile/edit' %>
		</div>
	</li>
	<% else %>
	<li><%= link_to("Sign in".html_safe, session_login_path)%></li>
	<% end %>
	
</ul>

<% if is_local_ip? && current_user.student? && current_user.last_known_location.blank? %>
<script>
	$.ajax('<%= ask_path %>');
</script>
<% else %>
<script>
	$('#ama-nav').one('show.bs.dropdown', function(e) {
		$.ajax('<%= ask_path %>');
	})
</script>
<% end %>
