<ul id="icon-nav" class="nav navbar-nav ml-auto">
	<% if current_user.admin? %>
	<li class="nav-item dropdown" id="switch-nav">
		<a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= fa_icon "eye", class: "fa-fw" %>			
		</a>

		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
			<% Schedule.all.each do |s| %>
			<%= link_to s.name, user_assign_schedule_path(user_id: current_user.id, schedule_id: s.id), method: :post, class: "dropdown-item" %>
			<% end %>
		</div>
	</li>
	<% end %>

	<% if Settings.hands_allow && current_user.valid_profile? && (current_user.admin? || current_user.student?) %>
	<li class="nav-item dropdown" id="ama-nav">
		<a href="#" id="ama-dd" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon "hand-pointer-o", class: "fa-fw" %></a>
		<div class="dropdown-menu dropdown-menu-right" id="ama-menu">
			<%= render 'layouts/ama' %>
		</div>
	</li>
	<% end %>

	<% if logged_in? %>
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
			<%= current_user && current_user.name || session[:cas_user] %>
		</a>
		<ul class="dropdown-menu dropdown-menu-right" id="user-menu">
			<%= render 'layouts/menu' %>
		</ul>
	</li>
	<% elsif authenticated? %>
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user && current_user.name || session[:cas_user] %></a>
		<div class="dropdown-menu dropdown-menu-right" id="user-menu">
			<%= render 'profile/edit' %>
		</div>
	</li>
	<% else %>
	<li><%= link_to("Sign in".html_safe, CASClient::Frameworks::Rails::Filter.login_url(controller))%></li>
	<% end %>
</ul>

<script>
	$('#ama-nav').one('show.bs.dropdown', function(e) {
		$.ajax('<%= ask_path %>');
	})
</script>
