<% if current_user.senior? %>
<%= render partial: "user_modal" %>
<% end %>

<ul id="icon-nav" class="navbar-nav ml-auto">
	
	<% if current_user.senior? %>
		<form class="form-inline mr-3">
			<div id="search" class="dropdown">
				<input id="dropdown-control" type="hidden" data-toggle="dropdown">
				<input id="student-search" type="text" autocomplete="off" class="form-control form-control-sm border-secondary" placeholder="Find student" aria-label="Find student">
				<div id="search-results" class="dropdown-menu"></div></form>
			</div>
		</form>
		<script>
			$('#student-search').on('change paste input', function(e) {
				$.ajax('<%= students_find_path %>', { data: { text: $('#student-search').val() } });
				true;
			})
			$('#student-search').on('focus', function(e) {
				console.log("huh");
				// e.preventDefault();
				if(!$("#search-results").hasClass("show")) {
					$('#dropdown-control').dropdown('toggle');
				}
			})
			$('#student-search').on('blur', function(e) {
				console.log("blur");
				// e.preventDefault();
				setTimeout(100, function() {
				console.log($("#search").hasClass("show"));
				if($("#search-results").hasClass("show")) {
					$('#dropdown-control').dropdown('toggle');
				}
				});
			})
		</script>
	<% end %>
	
	<span class="navbar-text mr-2">
	</span>
		
	<% if current_user.admin? && Schedule.count > 1 %>
	<li class="nav-item dropdown" id="switch-nav">
		<a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= fa_icon "eye", class: "fa-fw" %>			
		</a>

		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
			<% Schedule.all.each do |s| %>
			<%= link_to s.name, user_assign_schedule_path(user_id: current_user.id, schedule_id: s.id), method: :post, class: "dropdown-item" %>
			<% end %>
		</div>
	</li>
	<% end %>

	<% if Settings.hands_allow && current_user.valid_profile? && (current_user.admin? || current_user.student?) %>
	<li class="nav-item dropdown" id="ama-nav">
		<a href="#" id="ama-dd" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon "hand-pointer-o", class: "fa-fw" %></a>
		<div class="dropdown-menu dropdown-menu-right" id="ama-menu">
			<%= render 'layouts/ama' %>
		</div>
	</li>
	<% end %>

	<% if logged_in? %>
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
			<span class="d-inline d-md-none">
			<%= fa_icon "user", class: "fa-fw" %>
			</span>
			<span class="d-none d-md-inline">
			<%= current_user && current_user.name || session[:cas_user] %>
			</span>
		</a>
		<ul class="dropdown-menu dropdown-menu-right" id="user-menu">
			<%= render 'layouts/menu' %>
		</ul>
	</li>
	<% elsif authenticated? %>
	<li class="nav-item dropdown ">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
			<span class="d-inline d-md-none">
			<%= fa_icon "user", class: "fa-fw" %>
			</span>
			<span class="d-none d-md-inline">
			<%= current_user && current_user.name || session[:cas_user] %>
			</span>
		</a>
		<div class="dropdown-menu dropdown-menu-right register-menu" id="user-menu">
			<%= render 'profile/edit' %>
		</div>
	</li>
	<% else %>
	<li><%= link_to("Sign in".html_safe, CASClient::Frameworks::Rails::Filter.login_url(controller))%></li>
	<% end %>
	
</ul>

<% if is_local_ip? && current_user.student? && current_user.last_known_location.blank? %>
<script>
	$.ajax('<%= ask_path %>');
</script>
<% else %>
<script>
	$('#ama-nav').one('show.bs.dropdown', function(e) {
		$.ajax('<%= ask_path %>');
	})
</script>
<% end %>
