<% if current_user.valid_profile? %>

	<% Track.for(current_user).each do |track_name, track_status| %>
	<li role="presentation" class="dropdown-header" style="padding:2px 10px 0 10px;"><%= track_name %></li>
	<li>
		<div class="progress" style="margin:4px 10px;">
			<div class="progress-bar" role="progressbar" aria-valuenow="<%= track_status[0] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= track_status[0] %>%;">
				<span class="sr-only"><%= track_status[0] %>% Complete</span>
			</div>
		</div>
	</li>
	<li class="divider"></li>
	<% end %>
	<% if current_user && current_user.group.present? %>
	<li class="dropdown-header">
		<%= current_user.group.name %>
	</li>
	<li class="divider"></li>
	<% end %>
	<% if current_user.is_admin? %>
	<li><%= link_to '<i class="glyphicon glyphicon-download-alt"></i> Update courseware...'.html_safe, course_import_path, method: :post %></li>
	<li><%= link_to '<i class="glyphicon glyphicon-wrench"></i> Configuration'.html_safe, config_path %></li>
	<li class="divider"></li>
	<li><%= link_to '<i class="glyphicon glyphicon-th"></i> Manage students'.html_safe, course_grades_path %></li>
	<li><%= link_to '<i class="glyphicon glyphicon-stats"></i> Administration'.html_safe, admin_path %></li>
	<li class="divider"></li>
	<% if Settings.public_grades %>
	<li><%= link_to '<i class="glyphicon glyphicon-ok"></i> Show grades to students'.html_safe, course_toggle_public_grades_path, method: :post %></li>
	<% else %>
	<li><%= link_to '<i class="glyphicon empty"></i> Show grades to students'.html_safe, course_toggle_public_grades_path, method: :post %></li>
	<% end %>
	<% if Settings.allow_grading %>
	<li><%= link_to '<i class="glyphicon glyphicon-ok"></i> Allow grading'.html_safe, course_toggle_grading_allowed_path, method: :post %></li>
	<% else %>
	<li><%= link_to '<i class="glyphicon empty"></i> Allow grading'.html_safe, course_toggle_grading_allowed_path, method: :post %></li>
	<% end %>
	<% if Settings.send_grade_mails %>
	<li><%= link_to '<i class="glyphicon glyphicon-ok"></i> Send grade emails'.html_safe, course_toggle_send_grade_mails_path, method: :post %></li>
	<% else %>
	<li><%= link_to '<i class="glyphicon empty"></i> Send grade emails'.html_safe, course_toggle_send_grade_mails_path, method: :post %></li>
	<% end %>
	<li class="divider"></li>
	<% end %>
	<% if current_user.is_assistant? or current_user.is_admin? %>
	<li><%= link_to '<i class="glyphicon glyphicon-tasks"></i> Grading list'.html_safe, grading_path %></li>
	<% end %>
	<li><%= link_to '<i class="glyphicon glyphicon-list"></i> View grades'.html_safe, profile_grades_path %></li>
	<li class="divider"></li>
	<li><%= link_to '<i class="glyphicon glyphicon-phone"></i> Pair with phone'.html_safe, profile_pair_path %></li>
	<li><%= link_to '<i class="glyphicon glyphicon-ban-circle"></i> Logout'.html_safe, profile_logout_path %></li>

<% else %>

	<li>
		<%= render 'profile/edit' %>
	</li>

<% end %>
					
