<% if current_user.admin? %>

<%= link_to fa_icon("download") + 'Update courseware...', course_import_path, method: :post, class: 'dropdown-item' %>
<%= link_to fa_icon("cog") + 'Configuration', config_path, class: 'dropdown-item' %>
<div class="dropdown-divider"></div>
<%= link_to fa_icon("line-chart") + 'Overview', students_path, class: 'dropdown-item' %>
<% if Settings.tests_present %>
<%= link_to fa_icon("check") + 'Tests', tests_path, class: 'dropdown-item' %>
<% end %>
<%= link_to fa_icon("file-text-o") + 'Grading', grading_index_path, class: 'dropdown-item' %>
<div class="dropdown-divider"></div>
<% if Settings.hands_allow %>
<%= link_to fa_icon("hand-pointer-o") + 'Hands', hands_path, class: 'dropdown-item' %>
<% end %>



<% elsif current_user.head? %>

<%= link_to fa_icon("line-chart") + 'Overview', students_path, class: 'dropdown-item' %>
<%= link_to fa_icon("file-text-o") + 'Grading', grading_index_path, class: 'dropdown-item' %>
<% if Settings.tests_present %>
<%= link_to fa_icon("check") + 'Tests', tests_path, class: 'dropdown-item' %>
<% end %>
<div class="dropdown-divider"></div>
<% if Settings.hands_allow %>
<%= link_to fa_icon("hand-pointer-o") + 'Hands', hands_path, class: 'dropdown-item' %>
<% end %>
<div class="dropdown-divider"></div>



<% elsif current_user.assistant? %>

<% if Settings.hands_allow %>
<%= link_to fa_icon("hand-pointer-o") + 'Hands', hands_path, class: 'dropdown-item' %>
<% end %>
<% if !Schedule.exists? or current_user.groups.any? or current_user.schedules.any? %>
<%= link_to fa_icon("line-chart") + 'Overview', students_path, class: 'dropdown-item' %>
<%= link_to fa_icon("file-text-o") + 'Grading', grading_index_path, class: 'dropdown-item' %>
>>>>>>> master
<% end %>
<div class="dropdown-divider"></div>



<% else %>



<% end%>


<%= link_to fa_icon("sign-out") + "Logout", session_logout_path, class: 'dropdown-item' %>
