<% if current_user.admin? %>
<li><%= link_to '<i class="glyphicon glyphicon-download-alt"></i> Update courseware...'.html_safe, course_import_path, method: :post %></li>
<li><%= link_to '<i class="glyphicon glyphicon-check"></i> Show pages'.html_safe, admin_pages_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-wrench"></i> Configuration'.html_safe, config_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-eye-open"></i> Permissions'.html_safe, permissions_path %></li>
<li class="divider"></li>
<li><%= link_to '<i class="glyphicon glyphicon-th"></i> Manage students'.html_safe, students_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-tasks"></i> Grading list'.html_safe, submits_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-bullhorn"></i> Discussion list'.html_safe, discuss_submits_path %></li>
<% if Settings.hands_allow %>
<li class="divider"></li>
<li><%= link_to '<i class="glyphicon glyphicon-time"></i> Set availability'.html_safe, hands_available_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-hand-up"></i> Hands list'.html_safe, hands_path %></li>
<% end %>
<% if Settings['links'] %>
<li class="divider"></li>
<% Settings['links'].each do |title, url| %>
<li><%= link_to title.html_safe, url %></li>
<% end %>
<% end %>
<li class="divider"></li>
<li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Logout'.html_safe, profile_logout_path %></li>



<% elsif current_user.head? %>
<li><%= link_to '<i class="glyphicon glyphicon-check"></i> Show pages'.html_safe, admin_pages_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-th"></i> Manage students'.html_safe, students_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-eye-open"></i> View permissions'.html_safe, permissions_path %></li>
<% if current_user.groups.any? or current_user.schedules.any? %>
<li class="divider"></li>
<li><%= link_to '<i class="glyphicon glyphicon-tasks"></i> Grading list'.html_safe, submits_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-bullhorn"></i> Discussion list'.html_safe, discuss_submits_path %></li>
<% end %>
<% if Settings.hands_allow %>
<li class="divider"></li>
<li><%= link_to '<i class="glyphicon glyphicon-time"></i> Set availability'.html_safe, hands_available_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-hand-up"></i> Hands list'.html_safe, hands_path %></li>
<% end %>
<% if Settings['links'] %>
<li class="divider"></li>
<% Settings['links'].each do |title, url| %>
<li><%= link_to title.html_safe, url %></li>
<% end %>
<% end %>
<li class="divider"></li>
<li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Logout'.html_safe, profile_logout_path %></li>



<% elsif current_user.assistant? %>
<% if Settings.hands_allow %>
<li><%= link_to '<i class="glyphicon glyphicon-time"></i> Set availability'.html_safe, hands_available_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-hand-up"></i> Hands list'.html_safe, hands_path %></li>
<li class="divider"></li>
<% end %>
<% if !Schedule.exists? or current_user.groups.any? or current_user.schedules.any? %>
<li><%= link_to '<i class="glyphicon glyphicon-tasks"></i> Grading list'.html_safe, submits_path %></li>
<li><%= link_to '<i class="glyphicon glyphicon-bullhorn"></i> Discussion list'.html_safe, discuss_submits_path %></li>
<li class="divider"></li>
<% end %>
<% if Settings['links'] %>
<% Settings['links'].each do |title, url| %>
<li><%= link_to title.html_safe, url %></li>
<% end %>
<li class="divider"></li>
<% end %>
<li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Logout'.html_safe, profile_logout_path %></li>



<% else %>
<li><%= link_to '<i class="glyphicon glyphicon-list"></i> View grades'.html_safe, profile_grades_path %></li>
<% if Settings['links'] %>
<li class="divider"></li>
<% Settings['links'].each do |title, url| %>
<li><%= link_to title.html_safe, url %></li>
<% end %>
<li class="divider"></li>
<% end %>
<li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Logout'.html_safe, profile_logout_path %></li>



<% end%>
