<nav id="main-nav" class="navbar navbar-expand-md navbar-light justify-content-between">
		
	<a href="/" class="navbar-brand"><%= fa_icon "home", class: "" %>
		<span class=""><%= Settings.short_course_name %></span>
		<span class="hidden-xs hidden-sm"><small><%= @group_name || @schedule_name %></small></span>
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#current" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
			  
	<div id="menu" class="collapse navbar-collapse">
		<ul id="menu-nav" class="navbar-nav mr-auto">
			<% if @sections_in_navbar.length > 0 %>
			<%= render 'layouts/sections' %>
			<% end %>

			<% if @sections.length > 0 %>
			<li class="nav-item dropdown hidden-xs">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= (@sections_in_navbar.length > 0) ? "Other" : "Archive" %> <span class='caret'></span></a>
				<div class="dropdown-menu">
					<%= render 'layouts/materials' %>
				</div>
			</li>
			<% end %>
		</ul>

		<ul id="icon-nav" class="navbar-nav">
			<% if Settings.hands_allow && current_user.valid_profile? %>
			<li class="nav-item dropdown" id="ama-nav">
				<a href="#" id="ama-dd" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon "hand-pointer-o", class: "fa-fw" %></a>
				<div class="dropdown-menu dropdown-menu-right" id="ama-menu">
					<%= render 'layouts/ama' %>
				</div>
			</li>
			<% end %>

			<% if logged_in? %>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user && current_user.name || session[:cas_user] %></a>
				<ul class="dropdown-menu dropdown-menu-right" id="user-menu">
					<%= render 'layouts/menu' %>
				</ul>
			</li>
			<% elsif authenticated? %>
			<% else %>
			<li><%= link_to("Sign in".html_safe, CASClient::Frameworks::Rails::Filter.login_url(controller))%></li>
			<% end %>
		</ul>
	</div>
</nav>

<div class="navbar bg-light navbar-expand-md justify-content-start">
	<div id="current" class="collapse navbar-collapse">
	<% if logged_in? && @schedule %>
	<span class="navbar-text">
		<%= fa_icon 'chevron-circle-left', style: 'color:#aaa' %>
		<%= @schedule.name %>
		<%= fa_icon 'chevron-circle-right', style: 'color:#aaa' %>
	</span>
	<ul class="navbar-nav">
		<% schedule = @schedule %>
		<% schedule.content.each do |item, link|  %>
		<% next if item == 'description' %>
		<% if link.nil? %>
		<li class="nav-item"><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, '#', class:"nav-link disabled" %></li>
		<% elsif link == '---' %>
		<!-- <li role="separator" class="divider"></li> -->
		<% else %>
		<li class="nav-item"><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, link, class:"nav-link" %></li>
		<% end %>
		<% end %>
	</ul>
	<% end %>
	<span class="navbar-text">Other</span>
	<ul class="navbar-nav">
		<li class="nav-item"><a href="/" class="nav-link">Syllabus</a></li>
		<li class="nav-item"><a href="/s" class="nav-link">Style Guide</a></li>
	</ul>
	</div>
</div>
	
<% if logged_in? && current_user.student? && @schedule %>
<nav id="secondary-nav" class="navbar navbar-default visible-xs-block">
	<div class="container">
		<ul class="nav navbar-nav">
			<%= render 'layouts/schedule' %>
		</ul>
	</div>
</nav>
<% end %>
