<% for section in @sections %>

<li class="nav-item dropdown hidden-xs">
	<a href="#collapse-<%= section.title.parameterize %>" class="nav-link dropdoswn-toggle" data-toggle="collapse" role="button" aria-haspopup="true" aria-expanded="false">
		<%= fa_icon 'caret-right', class: '', style: 'width: .85rem; margin-left:-.85rem; color: #4D4F4B' %><%= section.title %>
	</a>
	<ul class="nav collapse" id="collapse-<%= section.title.parameterize %>">
		<% for page in section.pages %>
		<li class="nav-item"><%= link_to (page.title).html_safe, "/#{section.slug}/#{page.slug}", class: 'nav-link ' + (page.public ? '' : 'menu-hidden') %></li>
		<% end %>
	</ul>
</li>

<% end %>
