<div class="collapse sidebar-collapse" id="navbarTogglerDemo01">

	<ul class="nav mt-2 mt-md-5">
		<% if logged_in? %>
		<li><a href="/announcements" class="nav-link"><%= fa_icon 'bullhorn' %> <%= t(:announcements) %></a></li>
		<% end %>
		<li><a href="/syllabus" class="nav-link"><%= fa_icon 'file' %> <%= t(:syllabus) %></a></li>
		<% if Settings['links'] %>
		<% Settings['links'].each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
	</ul>
	<% end %>

	<% if @schedule %>
	<ul class="nav mt-3">
		<li>
			<p class="nav-text">
				<span id="schedule_name"><%= @schedule.name %></span>
				<% if current_user.schedule.self_service %>
				<span class="pull-right">
					<%= link_to fa_icon('chevron-circle-left', style: 'color:#aaa').html_safe, profile_prev_path, method: :post, remote: true %>
					<%= link_to fa_icon('chevron-circle-right', style: 'color:#aaa').html_safe, profile_next_path, method: :post, remote: true %>
				</span>
				<% end %>
			</p>

			<ul id="schedule" class="nav">
				<%= render partial: "schedule"%>
			</ul>
		</li>
	</ul>
	<% end %>

	<ul class="nav mt-3">
		<% if @sections.length > 0 %>
		<li>
			<p class="nav-text"><%= @schedule ? t(:other) : t(:materials) %></p>
			<ul class="nav">
				<%= render 'layouts/sections' %>
			</ul>
		</li>
		<% end %>
	</ul>

</div>
