<div id="sidebar-content" class="collapse sidebar-collapse navbar-collapse">

	<ul class="nav">
		<% if logged_in? && @alerts.any? %>
		<li><a href="/announcements" class="nav-link"><%= fa_icon 'bullhorn' %> <%= t(:announcements) %></a></li>
		<% end %>
		<% if logged_in? && current_user.submits.any? %>
		<li><a href="/submissions" class="nav-link"><%= fa_icon 'calendar' %> <%= t(:submissions) %></a></li>
		<% end %>
		<li><a href="/syllabus" class="nav-link"><%= fa_icon 'file' %> <%= t(:syllabus) %></a></li>
		<% if Settings['links'] %>
		<% Settings['links'].each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
		<% end %>
	</ul>

	<% if @current_module %>
	<ul class="nav">
		<li>
			<p class="nav-text">
				<span id="schedule_name"><%= @current_module.name %></span>
				<% if @current_schedule.self_service %>
				<span class="pull-right">
					<%= link_to fa_icon('chevron-circle-left', style: 'color:#aaa').html_safe, profile_prev_path, method: :post, remote: true %>
					<%= link_to fa_icon('chevron-circle-right', style: 'color:#aaa').html_safe, profile_next_path, method: :post, remote: true %>
				</span>
				<% end %>
			</p>
		</li>
		<li id="schedule">
			<%= links_to_ul(@current_module.content) %>
		</li>
	</ul>
	<% end %>

	<% if @section.present? && @section.content_links.present? %>
	<ul class="nav">
		<li>
			<p class="nav-text"><%= @section.title %></p>
		</li>
		<li>
			<%= links_to_ul(@section.content_links) %>
		</li>
	</ul>
	<% end %>

	<ul class="nav">
		<% if @sections.length > 0 %>
		<li>
			<p class="nav-text"><%= @current_module ? t(:other) : t(:materials) %></p>
		</li>
		<li>
			<ul class="nav">
				<%= render 'layouts/sections' %>
			</ul>
		</li>
		<% end %>
	</ul>

</div>
