<div class="collapse sidebar-collapse" id="navbarTogglerDemo01">

	<% if logged_in? %>
	<ul class="nav mt-2 mt-md-5">
		<li><a href="/announcements" class="nav-link"><%= fa_icon 'bullhorn', class: 'mr-2' %> Announcements</a></li>
		<li><a href="/syllabus" class="nav-link"><%= fa_icon 'book', class: 'mr-2' %> Syllabus</a></li>
		<% if Settings['links'] %>
		<% Settings['links'].each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
		<% end %>
	</ul>
	<% end %>

	<ul class="nav mt-3">
		<li>
			<% if logged_in? && @schedule %>
			<p class="nav-text">
				<span id="schedule_name"><%= @schedule.name %></span>
				<% if current_user.schedule.self_service %>
				<span class="pull-right">
					<%= link_to fa_icon('chevron-circle-left', style: 'color:#aaa').html_safe, profile_prev_path, method: :post, remote: true %>
					<%= link_to fa_icon('chevron-circle-right', style: 'color:#aaa').html_safe, profile_next_path, method: :post, remote: true %>
				</span>
				<% end %>
			</p>

			<ul id="schedule" class="nav">
				<%= render partial: "schedule"%>
			</ul>
			<% end %>
		</li>
	</ul>

	<ul class="nav mt-3">
		<% if @sections.length > 0 %>
		<li>
			<p class="nav-text">Other</p>
			<ul class="nav">
				<%= render 'layouts/sections' %>
			</ul>
		</li>
		<% end %>
	</ul>

</div>
