<div class="brand navbar-dark">
	<a href="/" class="navbar-brand flex-fill">
		<%= fa_icon "terminal", class: "pull-left fa-2x text-warning" %>
		<span class="course-name"><%= Settings.short_course_name %></span><br>
		<small><%= @group_name || @schedule_name %></small>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="collapse sidebar-collapse" id="navbarTogglerDemo01">

	<ul class="nav pt-5">
		<li><a href="/" class="nav-link">Announcements</a></li>
		<% Settings['links'].each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
	</ul>

	<ul class="nav pt-3">
		<li>
			<% if logged_in? && @schedule %>
			<p class="nav-text">
				<%= @schedule.name %>
				<span class="pull-right">
					<%= fa_icon 'chevron-circle-left', style: 'color:#aaa' %>
					<%= fa_icon 'chevron-circle-right', style: 'color:#aaa' %>
				</span>
			</p>

			<ul class="nav">
				<% schedule = @schedule %>
				<% schedule.content.each do |item, link|  %>
				<% next if item == 'description' %>
				<% if link.nil? %>
				<li class="nav-item"><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, '#', class:"nav-link disabled" %></li>
				<% elsif link == '---' %>
				<!-- <li role="separator" class="divider"></li> -->
				<% else %>
				<li class="nav-item"><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, link, class:"nav-link" %></li>
				<% end %>
				<% end %>
				<% end %>
			</ul>
		</li>
	</ul>

	<ul class="nav pt-3">
		<% if @sections.length > 0 %>
		<%= render 'layouts/sections' %>
		<% end %>
	</ul>

</div>
