<div class="collapse sidebar-collapse" id="navbarTogglerDemo01">

	<ul class="nav mt-2 mt-md-5">
		<li><a href="/" class="nav-link">Announcements</a></li>
		<% if Settings['links'] %>
		<% Settings['links'].each do |title, url|  %>
		<li><%= link_to title.html_safe, url, class:"nav-link" %></li>
		<% end %>
		<% end %>
	</ul>

	<ul class="nav mt-3">
		<li>
			<% if logged_in? && @schedule %>
			<p class="nav-text">
				<%= @schedule.name %>
				<span class="pull-right">
					<%= fa_icon 'chevron-circle-left', style: 'color:#aaa' %>
					<%= fa_icon 'chevron-circle-right', style: 'color:#aaa' %>
				</span>
			</p>

			<ul class="nav">
				<% schedule = @schedule %>
				<% schedule.content.each do |item, link|  %>
				<% next if item == 'description' %>
				<% if link.nil? %>
				<li class="nav-item"><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, '#', class:"nav-link disabled" %></li>
				<% elsif link == '---' %>
				<!-- <li role="separator" class="divider"></li> -->
				<% else %>
				<li class="nav-item"><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, link, class:"nav-link" %></li>
				<% end %>
				<% end %>
				<% end %>
			</ul>
		</li>
	</ul>

	<ul class="nav mt-3">
		<% if @sections.length > 0 %>
		<li>
			<p class="nav-text">Other</p>
			<ul class="nav">
				<%= render 'layouts/sections' %>
			</ul>
		</li>
		<% end %>
	</ul>

</div>
