<% content_for :body do %>

<% @body_class = "mini-app" %>
<meta name="theme-color" content="#F4F9FF">

<%= render "alerts" %>

<div class="mini-app-container">
    <div class="mini-app-header">
        <%= bootstrap_icon('chat-text', width: '40', height: '40', style: 'color: #88C0FF') %>
        <h1 class="display-4"><%= @page_name %></h1>
        <h3 class="fw-normal"><%= @course_name %></h3>
    </div>
    <%= yield %>
</div>

<% end %>
<%= render template: "layouts/application" %>
