<% content_for :body do %>

<% @body_class = "mini-app" %>
<% @theme_color = "#F4F9FF" %>

<%= render 'navbar', remove_content: true %>
<%= render 'alerts' %>

<% unless Settings.hands_only && !current_user.staff? %>
<div id="sidebar" class="offcanvas offcanvas-bottom" tabindex="-1" data-turbo-permanent>
    <%= render 'sidebar' %>
</div>
<% end %>

<div class="mini-app-container">
    <%= content_for?(:app) ? yield(:app) : yield %>
</div>

<% end %>
<%= render template: "layouts/application" %>
