<!DOCTYPE html>

<%= html_tag_with_language do %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">

    <link rel="apple-touch-icon" sizes="180x180" href="/browser/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/browser/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/browser/favicon-16x16.png">
    <link rel="mask-icon" href="/browser/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="<%= @theme_color || '#84fab0' %>">
    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>

    <title><%= title %></title>

    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'legacy-application', 'data-turbolinks-track' => 'reload' %>

    <%= yield(:meta) %>
    <%= javascript_importmap_tags %>
</head>

<% if current_user&.persisted? && !current_user.staff? && !current_user.can_submit? %>
<div class="alert alert-danger alert-dismissible fade show" style="grid-area: alert;">
    <% if !current_user.status_active_or_registered? %>
	<%= t('submit.cant_not_active') %>
    <% else %>
    <%= t('submit.cant_not_logged_in') %>
    <% end %>
</div>
<% end %>

<body class="<%= @body_class || controller.controller_name %>">
    <% if current_user.staff? %>
    <%= form_tag submits_path(), method: :post, id: 'new_grade_form' do end %>
    <% end %>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= render partial: "modal_browser" %>
</body>

<% end %>
