<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= yield :math %>
	<%= javascript_include_tag "application" %>

	<link rel="icon" type="image/png" href="/images/minor.png" />
	
	<meta name="turbolinks-cache-control" content="no-cache">
</head>

<body style="height:100vh">

	<div class="d-flex flex-column h-100" style="max-height:100%">

		<div id="navbar" class="navbar navbar-expand-lg flex-shrink-0 py-2 pl-2 pr-3">
			<%= render 'brand' %>
			
		<div id="course-links" class="flex-shrink-0 d-flex sidebar-collapse collapse">
			<div style="flex:1 0 0; min-width:0" class="dropdown">
				<a href="#" class="d-block w-100 text-center text-truncate p-1 rounded dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown">
					<%= bootstrap_icon 'bell-fill' %><br>
					<small><%= 'Materials' %></small>
				</a>
				
			</div>
			<% if logged_in? && alerts_for_current_schedule.any? %>
				<div style="flex:1 0 0; min-width:0"><a href="/announcements" class="d-block w-100 text-center text-truncate p-1 rounded"><%= bootstrap_icon 'bell-fill' %><br><small><%= t(:announcements) %></small></a></div>
			<% end %>
			<% if logged_in? && current_user.submits.any? %>
				<div style="flex:1 0 0; min-width:0"><a href="/submissions" class="d-block w-100 text-center text-truncate p-1 rounded"><%= bootstrap_icon 'kanban' %><br><small><%= t(:submissions) %></small></a></div>
			<% end %>
			<% if current_schedule && current_schedule.page %>
				<div style="flex:1 0 0; min-width:0"><a href="/syllabus" class="d-block w-100 text-center text-truncate p-1 rounded"><%= bootstrap_icon 'calendar' %><br><small><%= t(:syllabus) %></small></a></div>
			<% end %>
			<% Course.links.each do |title, url|  %>
				<div style="flex:1 0 0; min-width:0"><%= link_to insert_icon(title).html_safe, url, class:"d-block w-100 w-100 text-center text-truncate p-1 rounded", target: url =~ /^http/i ? '_blank' : nil %></div>
			<% end if logged_in? %>
		</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-content" aria-controls="sidebar-content" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<%= render 'float_nav' %>
			</div>
		</div>

		<%= render "alerts" %>

		<div id="toolbar">
			<%= yield :navbar_items %>A
		</div>
		
		<div id="sidebar" style="top:20%; bottom:20%; width:25rem !important;" class="d-md-flex align-items-stretch flex-column flex-shrink-0 col-md-<%= Settings.room_for_toc && 4 || 4 %> col-xl-4 align-items-stretch" data-turbolinks-permanent>
		<% if current_module %>
		<ul class="nav materials-nav">
			<li>
				<p class="nav-head mx-1 text-dark">
					<span id="schedule_name" class="<%= 'unavailable' if !current_module.public? %>"><%= current_module.name %></span>
					<% if current_schedule.self_service %>
					<span class="float-right mr-n1 spr-1">
						<%= link_to bootstrap_icon('chevron-left', class: 'rounded').html_safe, prev_module.present? ? profile_prev_path : '', method: :post, remote: true, id: 'schedule_prev_button', disabled:!prev_module.present? %>
						<%= link_to bootstrap_icon('chevron-right', class: 'rounded').html_safe, next_module.present? ? profile_next_path : '', method: :post, remote: true, id: 'schedule_next_button', disabled:!next_module.present? %>
					</span>
					<% end %>
				</p>
			</li>
			<li id="schedule">
				<%= links_to_ul(current_module.content) %>
			</li>
		</ul>
		<% end %>
		</div>
	
		<div class="container-fluid flex-fill h-100 mt-5" style="overflow-y: scroll">
			<div class="row content h-100 justify-content-center">
				<div id="left-stuff" class="col-2">
					
				</div>
				<div id="ccc" class="col-6">
				<%= content_for?(:main) ? yield(:main) : yield %>
				</div>
				<div id="right-stuff" class="col-2">A</div>
			</div>
		</div>
	
	</div>

	<%= render partial: "modal_browser" if current_user.senior? %>
</body>

</html>
