<!DOCTYPE html>

<html <%= "lang=\"#{Course.language}\"".html_safe if Course.language %>>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= yield :math %>
	<%= javascript_include_tag "application" %>

    <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body class="<%= @body_class || controller.controller_name %>">

	<div class="container-fluid">
		<div class="row">
			
			<div id="sidebar" class="navbar navbar-light d-md-flex align-items-stretch flex-column flex-shrink-0 col-md-<%= Settings.room_for_toc && 4 || 4 %> col-xl-4">
				<%= render 'sidebar' %>
			</div>
			
			<div id="row-content" class="col-md-<%= Settings.room_for_toc && 8 || 8 %> offset-md-<%= Settings.room_for_toc && 4 || 4 %> col-xl-8 offset-xl-4 p-0">
	
				<%= render "alerts" %>
				
				<% if @page and @submitted and date = @page.pset.submit_from(current_user).submitted_at %>
				<div id="submitted_pset" class="alert alert-success">
					<%= t :you_submitted_ago, time: time_ago_in_words(date) %>
					<%= link_to t(:see_submissions_page), submissions_path %>
				</div>
				<% end %>

				<div id="float-nav" class="clearfix d-none d-md-block navbar-expand sticky-top p-3">
					<div class="float-md-right mt-1 mb-0">
					<%= render 'float_nav' %>
					</div>
				</div>

				<div id="content" class="pt-3 px-3 pb-3 px-sm-4 pb-sm-4 px-lg-5 pb-lg-5" <%= Settings.room_for_toc && "style=margin-right:17em;" || "" %>>
					<%= yield %>
				</div>

				<%= yield :footer %>
			</div>
			
		</div>
	</div>

	<%= render partial: "modal_browser" if current_user.senior? %>
</body>

<% if !current_user.valid_profile? %>
	<script type="text/javascript">
	$(function () {
        // popup is disabled
        // $('#user-menu').dropdown('toggle');
		// $('#user-menu').dropdown('update');
        // return false;
	});
	
	$('.profile-form').click(function(e) {
	    e.stopPropagation();
	});
	
	</script>
<% end %>

<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
});
</script>

</html>
