<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title><%= @page.title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			showProcessingMessages: false,
			asciimath2jax: {
				delimiters: [['~','~'],['$','$']]
			}
		});
	</script>
	<script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML.js">
	</script>
</head>
<body>

	<%= render "layouts/navbar" %>

	<%= yield %>

	<footer>
		<small><%= Course.license.html_safe %> <a rel="tooltip" data-placement="top" title="<%= Course.acknowledgements %>">Acknowledgements.</a></small>
	</footer>

	<script type="text/javascript" charset="utf-8">
		$(function()
		{
			$('a[rel=tooltip]').tooltip({ animation:false, placement:'bottom' })
		})
	</script>


</body>
</html>
