<!DOCTYPE html>

<html <%= "lang=\"#{Settings.course["language"]}\"".html_safe if Settings.course && Settings.course["language"] %>>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= yield :math %>
	<%= javascript_include_tag "application" %>

    <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body class="<%= controller.controller_name %>">

	<div class="container-fluid" style="">
		<div class="row" style="">
			
			<div id="sidebar" class="col-md-3 p-3 p-md-4 d-flex flex-column navbar-dark">
				<%= render 'layouts/brand'%>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<%= render 'layouts/sidebar' %>
			</div>
			
			<div id="row-content" class="col-md-9 p-0">
	
				<% if flash[:alert] %>
				<div class="alert alert-danger alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:alert] %>
				</div>
				<% end %>

				<% if flash[:notice] %>
				<div class="alert alert-success alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:notice] %>
				</div>
				<% end %>
				
				<% if @page and @submitted and date = @page.pset.submit_from(current_user).submitted_at %>
				<div id="submitted_pset" class="alert alert-success">
					You have submitted this problem set <%= time_ago_in_words(date) %> ago.
					<%= link_to "See the homepage for an overview.", root_path %>
				</div>
				<% end %>

				<div class="pull-right pt-4 pr-4 navbar-expand">
					<%= render 'layouts/float_nav' %>
				</div>

				<div id="content" class="p-3 p-md-4 p-sm-5 px-lg-5">
					<%= yield %>
				</div>

				<% #= yield :footer %>
			</div>
			
		</div>
	</div>

	<div id="popup"></div>
	
</body>

<% if !current_user.valid_profile? %>
	<script type="text/javascript">
	$(function () {
		$('#user-menu').dropdown('toggle');
		// $('#user-menu').dropdown('update');
		return false;
	});
	
	$('.profile-form').click(function(e) {
	    e.stopPropagation();
	});
	
	</script>
<% end %>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>

</html>
