<!DOCTYPE html>

<%= html_tag_with_language do %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>

    <title><%= title %></title>

    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'legacy-application', 'data-turbolinks-track' => 'reload' %>

    <link rel="icon" type="image/png" href="/images/minor.png" />

    <%= yield(:meta) %>
    <%= javascript_importmap_tags %>
</head>

<body class="<%= @body_class || controller.controller_name %>">
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= render partial: "modal_browser" %>
</body>

<% end %>
