<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/c/video.js"></script>
	
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			showProcessingMessages: false
		});
	</script>
	<script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML.js">
	</script>
</head>
<body>
	
	<!--[if lt IE 9]>
	<div style="background-color:white; z-index:10000; position:absolute; top:0; left:0; right:0; bottom:0;">
		<p style="font-family:"Comic Sans"; text-align:center; margin-top:6em;">You are using a pretty old version of Internet Explorer. Please use a newer version, or Firefox, Chrome, Opera or Safari.</p>
	</div>
	<![endif]-->

	<%= render "layouts/navbar" %>

	<%= yield %>

	<% if @page %>
	<footer>
		<%= Course.license.html_safe if Course.licence %> <a rel="tooltip" data-placement="top" title="<%= simple_markdown(Course.acknowledgements.join("\n\n")).html_safe if Course.acknowledgements %>">Acknowledgements.</a>
	</footer>
	<% end %>

	<script type="text/javascript" charset="utf-8">
		$(function()
		{
			$('a[rel=tooltip]').tooltip({ animation:false, html:true })
		})
	</script>

</body>
</html>
