<!DOCTYPE html>

<%= html_tag_with_language do %>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    'application', :media => 'all' %>
	<%= javascript_include_tag 'application' %>

	<% if ['home', 'page', 'profile'].include?(controller_name) && Settings.pages_enable_math %>
	<%= javascript_include_tag 'optional/math' %>
	<%= javascript_include_tag 'https://polyfill.io/v3/polyfill.min.js?features=es6' %>
	<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js', { async: true, id: 'MathJax-script' } %>
	<% end %>
	<%= turbo_include_tags %>

	<link rel="icon" type="image/png" href="/images/minor.png" />

	<%= yield(:meta) %>
</head>

<body class="<%= @body_class || controller.controller_name %>">
	<%= content_for?(:body) ? yield(:body) : yield %>
	<%= render partial: "modal_browser" if current_user.senior? || ['overviews', 'home'].include?(controller.controller_name) %>
</body>

<% end %>
