<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>

    <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body>
	<%= render 'layouts/navbar' %>
	<div id="content" class="container">

<% if Settings.debug_alert %>
<div class="alert alert-danger alert-dismissible">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<%= Settings.debug_alert.html_safe %>
</div>
<% Settings.destroy :debug_alert %>
<% end %>

<% if flash[:alert] %>
<div class="alert alert-danger alert-dismissible">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<%= flash[:alert] %>
</div>
<% end %>

<% if flash[:notice] %>
<div class="alert alert-success alert-dismissible">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<%= flash[:notice] %>
</div>
<% end %>

		<sections>
		<%= yield %>
		</sections>
	</div>
	<%= render 'layouts/footer' %>
	<div id="popup"></div>
</body>

</html>
