<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<link href="https://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
	<script src="https://vjs.zencdn.net/c/video.js"></script>

	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			showProcessingMessages: false
		});
	</script>
	<%= mathjax_tag %>
</head>
<body>

	<%= render 'layouts/navbar' %>

	<%= yield %>

	<%= render 'layouts/footer' %>

</body>
</html>
