<!DOCTYPE html>

<html <%= "lang=\"#{Settings.course["language"]}\"".html_safe if Settings.course && Settings.course["language"] %>>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= yield :math %>
	<%= javascript_include_tag "application" %>

    <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body class="<%= controller.controller_name %>">

	<div class="container-fluid">
		<div class="row">
			
			<div id="sidebar" class="navbar navbar-light d-md-block col-md-<%= Settings.room_for_toc && 3 || 4 %> p-md-4">

				<%= render 'layouts/brand'%>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-content" aria-controls="sidebar-content" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse show multi-collapse" id="multiCollapseExample1">
					<%= render 'layouts/sidebar' %>
				</div>
				
				<% if Settings['keyword_index'].present? %>
			    <div class="collapse multi-collapse" id="multiCollapseExample2">
					<div class="d-flex align-items-center">
						<form class="form-inline w-100">
							<small class="ml-1">Find resources by keyword:</small>
							<input id="keyword-search" type="search" autocomplete="off" class="w-100 form-control form-control-sm border-secondary" placeholder="" aria-label="Enter topic name">
						</form>
					    <a class="ml-3" data-toggle="collapse" data-target=".multi-collapse" href="#" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
						<%= fa_icon 'times', class: 'fa-lg' %></a>
					</div>
					
					<%= render 'search/search' %>
				</div>
				<% end %>
				
			</div>
			
			<div id="row-content" class="col-md-<%= Settings.room_for_toc && 9 || 8 %> offset-md-<%= Settings.room_for_toc && 3 || 4 %> p-0">
	
				<%= render "layouts/alerts" %>
				
				<% if @page and @submitted and date = @page.pset.submit_from(current_user).submitted_at %>
				<div id="submitted_pset" class="alert alert-success">
					<%= t :you_submitted_ago, time: time_ago_in_words(date) %>
					<%= link_to t(:see_submissions_page), submissions_path %>
				</div>
				<% end %>

				<div id="float-nav" class="float-md-right position-absolute position-sticky navbar navbar-expand p-3">
					<%= render 'layouts/float_nav' %>
				</div>

				<div id="content" class="p-3 p-md-4 p-sm-5 p-lg-5 pt-0" <%= Settings.room_for_toc && "style=margin-right:17em;" || "" %>>
					<%= yield %>
				</div>

				<% #= yield :footer %>
			</div>
			
		</div>
	</div>

	<div id="popup"></div>
	<%= render partial: "modal_browser" if current_user.senior? %>
</body>

<% if !current_user.valid_profile? %>
	<script type="text/javascript">
	$(function () {
		$('#user-menu').dropdown('toggle');
		// $('#user-menu').dropdown('update');
		return false;
	});
	
	$('.profile-form').click(function(e) {
	    e.stopPropagation();
	});
	
	</script>
<% end %>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>

</html>
