<!DOCTYPE html>

<html <%= "lang=\"#{Course.language}\"".html_safe if Course.language %>>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= yield :math %>
	<%= javascript_include_tag "application" %>

    <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body class="boxes">

	<div class="container-fluid">
		<div class="row">
			
			<div id="sidebar" class="d-md-flex align-items-stretch flex-shrink-0 flex-column">
				<%= render 'sidebar' %>
			</div>
			
			<div id="row-content" class="p-0">
	
				<%= render "alerts" %>
				
				<% if @page and @submitted and date = @page.pset.submit_from(current_user).submitted_at %>
				<div id="submitted_pset" class="alert alert-success">
					<%= t :you_submitted_ago, time: time_ago_in_words(date) %>
					<%= link_to t(:see_submissions_page), submissions_path %>
				</div>
				<% end %>

				<div id="float-nav" class="clearfix d-none d-md-block navbar-expand sticky-top p-3">
					<div class="float-md-right">
					<%= render 'float_nav' %>
					</div>
				</div>

				<div id="content" class="pt-4 px-3 pb-3 px-sm-3 pb-sm-4 px-lg-4 pb-lg-4">
					<%= yield %>
				</div>

				<% #= yield :footer %>
			</div>
			
		</div>
	</div>

	<%= render partial: "modal_browser" %>
</body>

<script type="text/javascript">
	enableTooltips();
</script>

</html>
