<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>

    <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body>
	<%= render 'layouts/navbar' %>
	<div id="content" class="container-fluid">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
	<div id="popup"></div>
</body>

</html>
