<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= yield :math %>
	<%= javascript_include_tag "application" %>

    <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body style="height:100vh">

	<div class="d-flex flex-column h-100">

		<div id="navbar" class="navbar bg-dark navbar-dark navbar-expand-lg flex-shrink-0">
			<%= render 'layouts/brand' %>
			<%= yield :navbar_items %>
			<%= render 'layouts/float_nav' %>
		</div>

		<% if flash[:alert] %>
		<div class="alert alert-danger alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:alert] %>
		</div>
		<% end %>

		<% if flash[:notice] %>
		<div class="alert alert-success alert-dismissible fade show">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:notice] %>
		</div>
		<% end %>
	
		<div class="container-fluid h-100" style="overflow-y:auto">
			<div class="row content h-100" style="overflow-y:auto">
				<%= yield %>
			</div>
		</div>
	
	</div>

</body>

</html>
