<% content_for :app do %>
<div class="mini-app-body hands-app">
    <% if Settings.hands_groups %>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= @group_name %></button>
        <ul class="dropdown-menu">
            <% current_user.groups.each do |g| %>
            <li><%= link_to g.name, hands_path(group: g.name), class: 'dropdown-item', aria: { current: 'page' } %></li>
            <% end %>
            <li><%= link_to '(all)', hands_path(group: 'all'), class: 'dropdown-item' %></li>
        </ul>
    </div>
    <% end %>
    <%= yield %>
</div>
<% end %>
<%= render template: "layouts/app" %>
