<% content_for :main do %>
<div class="col-12">
	<%= form_tag({ controller: 'hands', action: 'search' }, method: 'get', class: 'form mt-3') do %>
	<div class="input-group">
		<div class="input-group-prepend">
			<a class="btn btn-secondary" href="<%= url_for(controller: 'hands', action: 'index') %>"><%= fa_icon 'chevron-left' %></a>
		</div>
		<input type="text" class="form-control" placeholder="Search" name="term" id="term" required>
		<div class="input-group-append">
			<button class="btn btn-primary" type="submit"><%= fa_icon 'search' %></button>
		</div>
	</div>
	<% end %>
	<%= yield %>
</div>
<% end %>
<%= render template: "layouts/full-width" %>
