<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title><%= @page.title %> - {{ site_title }}</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript" charset="utf-8" src="{{ url('public/js/jquery-1.7.1.min.js') }}"></script>
	<script type="text/javascript" charset="utf-8" src="{{ url('public/js/jquery.autosize.js') }}"></script>
	<script type="text/javascript" charset="utf-8" src="{{ url('public/js/bootstrap.js') }}"></script>
	<script type="text/javascript" charset="utf-8" src="{{ url('public/js/vakkensite.js') }}"></script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			showProcessingMessages: false,
			asciimath2jax: {
				delimiters: [['~','~'],['$','$']]
			}
		});
	</script>
	<script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML.js">
	</script>
</head>
<body>

	<%= render "layouts/navbar" %>
	<%= render "layouts/header" %>

	<%= yield %>

	<footer>
		<small>This content is available under the <a href="http://cs164.tv/">Creative Commons BY-NC-SA license</a>. The website code is <a href="http://github.com/uva/iclass">available</a> under the MIT license.</small>
	</footer>

	{% if page_editable %}
	{%   include "_editor.html" %}
	{% endif %}

	<script type="text/javascript" charset="utf-8">
		$(function()
		{
			$('a[rel=tooltip]').tooltip({ animation:false, placement:'bottom' })
		})
	</script>


</body>
</html>
