<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>

	<title><%= title %></title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= yield :math %>
	<%= javascript_include_tag "application" %>

	<link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body style="height:100vh">

	<div class="d-flex flex-column h-100">

		<div id="navbar" class="navbar sticky-top bg-dark navbar-dark navbar-expand-lg flex-shrink-0">
			<%= render 'layouts/brand' %>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-content" aria-controls="sidebar-content" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<%= yield :navbar_items %>
				<%= render 'layouts/float_nav' %>
			</div>
		</div>

		<%= render "layouts/alerts" %>
	
		<div class="container-fluid pt-3">
			<%= content_for?(:main) ? yield(:main) : yield %>
		</div>
	
	</div>

</body>

</html>
