<% content_for :body do %>

<%= render 'navbar' %>

<div id="sidebar" class="collapse" tabindex="-1">
    <%= render 'sidebar' %>
</div>

<main class="<%= 'room-for-toc' if Settings.room_for_toc %>">
    <%= render "alerts" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
</main>

<% end %>

<%= render template: "layouts/application" %>
