<% content_for :body do %>
<div class="container-fluid">
	<div class="row <%= 'room-for-toc' if Settings.room_for_toc %>">
		
		<div id="sidebar" class="d-md-flex align-items-stretch flex-column flex-shrink-0 align-items-stretch">
			<%= render 'sidebar' %>
		</div>
		
		<div id="row-content" class="p-0">

			<%= render "alerts" %>
			
			<div id="float-nav" class="clearfix d-none d-md-block navbar-expand sticky-top p-3">
				<div class="float-md-right">
					<%= yield :navbar_items %>
					<%= render 'float_nav' %>
				</div>
			</div>

			<div id="content" class="pt-4 px-4 pb-3 px-sm-4 pb-sm-4 px-lg-5 pb-lg-5 mx-auto">
				<%= content_for?(:content) ? yield(:content) : yield %>
			</div>
		</div>
		
	</div>
</div>
<% end %>
<%= render template: "layouts/application" %>
