<% content_for :body do %>
<div class="container-fluid">
    <div class="row <%= 'room-for-toc' if Settings.room_for_toc %>">

        <div id="sidebar" class="d-lg-flex align-items-stretch flex-column flex-shrink-0 align-items-stretch">
            <%= render 'sidebar' %>
        </div>

        <div id="row-content" class="p-0">
            <%= render "alerts" %>
            <%= content_for?(:content) ? yield(:content) : yield %>
        </div>

    </div>
</div>
<% end %>
<%= render template: "layouts/application" %>
