<% content_for :body do %>

<%= render 'navbar' %>

<div id="sidebar" data-turbo-permanent class="navbar-expand-md navbar-collapse collapse navbarCollapsedContent">
    <%= render 'sidebar' %>
</div>

<main id="row-content" class="p-0 <%= 'room-for-toc' if Settings.room_for_toc %>">
    <%= render "alerts" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
</main>

<% end %>

<%= render template: "layouts/application" %>
